In [32]:
from pathlib import Path
import duckdb
import pandas as pd
from tabulate import tabulate

pd.options.display.unicode.east_asian_width = True

path_parquet = Path("../data/processed/주건축물_표제부_기본개요_총괄표제부.parquet")

In [33]:
con = duckdb.connect()
rel = duckdb.read_parquet(str(path_parquet), connection=con)

In [34]:
type(rel)

duckdb.duckdb.DuckDBPyRelation

In [35]:
con.sql("DESCRIBE rel").show(max_rows=100)

┌──────────────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│         column_name          │ column_type │  null   │   key   │ default │  extra  │
│           varchar            │   varchar   │ varchar │ varchar │ varchar │ varchar │
├──────────────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ 관리_건축물대장_PK           │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ 관리_상위_건축물대장_PK      │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ 단독                         │ BOOLEAN     │ YES     │ NULL    │ NULL    │ NULL    │
│ 대지_위치                    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ 시군구_코드                  │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ 법정동_코드                  │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ 주_용도_코드                 │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ 주_용도_코드_명              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ 기타_용도                    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ 대지_면적(㎡)                │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ 건축_면적(㎡)                │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ 건폐_율(%)                   │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ 연면적(㎡)                   │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ 용적_률_산정_연면적(㎡)      │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ 용적_률(%)                   │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ 높이(m)                      │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ 지상_층_수                   │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
│ 지하_층_수                   │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
│ 사용승인_일                  │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ 총괄_대지_면적(㎡)           │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ 총괄_건축_면적(㎡)           │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ 총괄_건폐_율(%)              │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ 총괄_연면적(㎡)              │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ 총괄_용적_률_산정_연면적(㎡) │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ 총괄_용적_률(%)              │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ 총괄_주_건축물_수            │ INTEGER     │ YES     │ NULL    │ NULL    │ NULL    │
├──────────────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 26 rows                                                                  6 columns │
└────────────────────────────────────────────────────────────────────────────────────┘

In [36]:
df = pd.read_parquet(path_parquet)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7364967 entries, 0 to 7364966
Data columns (total 26 columns):
 #   Column             Dtype
---  ------             -----
 0   관리_건축물대장_PK        object
 1   관리_상위_건축물대장_PK     object
 2   단독                 bool
 3   대지_위치              object
 4   시군구_코드             object
 5   법정동_코드             object
 6   주_용도_코드            object
 7   주_용도_코드_명          object
 8   기타_용도              object
 9   대지_면적(㎡)           float64
 10  건축_면적(㎡)           float64
 11  건폐_율(%)            float64
 12  연면적(㎡)             float64
 13  용적_률_산정_연면적(㎡)     float64
 14  용적_률(%)            float64
 15  높이(m)              float64
 16  지상_층_수             int32
 17  지하_층_수             int32
 18  사용승인_일             object
 19  총괄_대지_면적(㎡)        float64
 20  총괄_건축_면적(㎡)        float64
 21  총괄_건폐_율(%)         float64
 22  총괄_연면적(㎡)          float64
 23  총괄_용적_률_산정_연면적(㎡)  float64
 24  총괄_용적_률(%)         float64
 25  총괄_주_건축물_수         float64
dtypes: bool(1), float64(14), int32(2), object(9)
memory usage: 1.3+ GB

nullable integer → float64로 변환됨.

In [38]:
df.head()

,관리_건축물대장_PK,관리_상위_건축물대장_PK,단독,대지_위치,시군구_코드,법정동_코드,주_용도_코드,주_용도_코드_명,기타_용도,대지_면적(㎡),...,지상_층_수,지하_층_수,사용승인_일,총괄_대지_면적(㎡),총괄_건축_면적(㎡),총괄_건폐_율(%),총괄_연면적(㎡),총괄_용적_률_산정_연면적(㎡),총괄_용적_률(%),총괄_주_건축물_수
0,1024122357,10241394,False,서울특별시 강남구 삼성동 159번지,11680,10500,14000,업무시설,"업무시설, 근린생활시설",NaN,...,54,2,19891103,148784.0,88331.32,59.37,973087.39,531729.32,357.38,9.0
1,1024123581,10241100252352,False,서울특별시 강남구 논현동 140-25번지,11680,10800,01000,단독주택,주거시설,NaN,...,3,1,19960115,244.2,145.86,59.73,549.11,407.89,167.03,2.0
2,1024124216,10241100276014,False,서울특별시 강남구 논현동 121번지,11680,10800,14000,업무시설,"업무시설, 판매시설",NaN,...,3,1,19740920,2074.5,1023.54,49.34,4043.24,3159.09,152.28,2.0
3,10241100181447,10241100198307,False,서울특별시 강남구 대치동 500번지,11680,10600,07000,판매시설,판매시설,NaN,...,3,1,19841215,NaN,NaN,NaN,72027.55,NaN,NaN,6.0
4,10241100181572,10241100198307,False,서울특별시 강남구 대치동 500번지,11680,10600,02000,공동주택,주거시설,NaN,...,15,1,19841215,NaN,NaN,NaN,72027.55,NaN,NaN,6.0

In [ ]:
import pandas as pd

df = pd.read_parquet("../data/processed/주건축물_검증규칙.parquet")
df.신규02.value_counts()

신규02
False    5134625
True       63313
Name: count, dtype: int64

Boolean 의 null(None)은 잘 보존되고, value_counts() 에서는 모수에서 빠짐.

dropna=False 필요

In [7]:
df.신규02.value_counts(dropna=False)

신규02
False    5134625
None     2167029
True       63313
Name: count, dtype: int64

In [8]:
df.신규02.value_counts(dropna=False, normalize=True)

신규02
False    0.697169
None     0.294235
True     0.008597
Name: proportion, dtype: float64