In [1]:
from pathlib import Path
import duckdb
import pandas as pd

data_root = Path("D:\\데이터\\건축데이터 건축허브 개방데이터")
path_DB = data_root / "건축물대장_2025년_02월.db"

건축허브에서 제공하는 건축물대장 데이터를 활용하여 분석

2025년 2월 이전 데이터는 위반건축물 등 일부 건축물이 빠져있는 문제가 있어 부득이 2025년 2월 말 데이터로 2024년 말 기준 건축물 현황을 집계

In [7]:
# Open a DuckDB connection
con = duckdb.connect(database=path_DB)

# print the list of tables in the database
tables = con.execute("SHOW TABLES").fetchall()
print("Tables in the database:")
for table in tables:
    print(table[0])
    print()

# show heads of the tables
for table in tables:
    table_name = table[0]
    print(f"Head of {table_name}:")
    df = con.execute(f"SELECT * FROM {table_name} LIMIT 5").fetchdf()
    print(df)
    print()

Tables in the database:
기본개요

층별개요

표제부

Head of 기본개요:
  관리_건축물대장_PK 관리_상위_건축물대장_PK 대장_구분_코드 대장_구분_코드_명 대장_종류_코드 대장_종류_코드_명  \
0      100211           None        1         일반        1      총괄표제부
1      100215           None        1         일반        1      총괄표제부
2      100216           None        1         일반        1      총괄표제부
3      100218           None        1         일반        1      총괄표제부
4      100219           None        1         일반        1      총괄표제부

                  대지_위치                  도로명_대지_위치  건물_명 시군구_코드  ...  \
0  서울특별시 종로구 관철동 12-1번지   서울특별시 종로구 종로14길 20 (관철동)  None  11110  ...
1  서울특별시 종로구 청진동 21-1번지  서울특별시 종로구 종로5길 32-6 (청진동)  None  11110  ...
2  서울특별시 종로구 중학동 16-2번지                       None  None  11110  ...
3  서울특별시 종로구 중학동 24-1번지      서울특별시 종로구 율곡로 5 (중학동)  None  11110  ...
4  서울특별시 종로구 중학동 35-1번지                       None  None  11110  ...

  새주소_지상지하_코드 새주소_본_번 새주소_부_번 지역_코드 지구_코드 구역_코드 지역_코드_명  지구_코드_명 구역_코드_명  \
0           0      20       0  None  None  None    None     None    None
1           0      32       6  None  None  None    None     None    None
2           0    <NA>    <NA>  None  None  None    None     None    None
3           0       5       0  None  None  None    None     None    None
4           0    <NA>    <NA>  None  None  None    None     None    None

      생성_일자
0  20220813
1  20220813
2  20220813
3  20220813
4  20220813

[5 rows x 30 columns]

Head of 층별개요:
  관리_건축물대장_PK                   대지_위치                   도로명_대지_위치    건물_명  \
0    10021950     서울특별시 종로구 숭인동 201번지                        None    None
1    10021974    서울특별시 종로구 숭인동 1132번지                        None    None
2   100211003  서울특별시 종로구 부암동 129-10번지  서울특별시 종로구 백석동길 304-8 (부암동)  부암스카이빌
3   100211003  서울특별시 종로구 부암동 129-10번지  서울특별시 종로구 백석동길 304-8 (부암동)  부암스카이빌
4   100211003  서울특별시 종로구 부암동 129-10번지  서울특별시 종로구 백석동길 304-8 (부암동)  부암스카이빌

  시군구_코드 법정동_코드 대지_구분_코드     번     지 특수지_명  ...   구조_코드_명     기타_구조 주_용도_코드  \
0  11110  17500        0  0201  0000  None  ...     일반목구조        목조   01001
1  11110  17500        0  1132  0000  None  ...      블록구조     세멘부록조   04999
2  11110  18400        0  0129  0010  None  ...  철근콘크리트구조  철근콘크리트구조   02003
3  11110  18400        0  0129  0010  None  ...  철근콘크리트구조  철근콘크리트구조   02003
4  11110  18400        0  0129  0010  None  ...  철근콘크리트구조  철근콘크리트구조   02003

     주_용도_코드_명        기타_용도   면적(㎡)  주_부속_구분_코드 주_부속_구분_코드_명 면적_제외_여부  \
0         단독주택           주택   29.75           0         주건축물     None
1  기타제2종근린생활시설       근린생활시설   36.26           0         주건축물     None
2        다세대주택  다세대주택 (주차장)  161.89           0         주건축물     None
3        다세대주택        다세대주택  137.95           0         주건축물     None
4        다세대주택        다세대주택  137.95           0         주건축물     None

      생성_일자
0  20220813
1  20220813
2  20220813
3  20220813
4  20220813

[5 rows x 33 columns]

Head of 표제부:
  관리_건축물대장_PK 대장_구분_코드 대장_구분_코드_명 대장_종류_코드 대장_종류_코드_명                  대지_위치  \
0  1028112595        1         일반        2      일반건축물  부산광역시 중구 남포동6가 73-3번지
1  1028112597        1         일반        2      일반건축물  부산광역시 중구 남포동6가 74-1번지
2  1028112613        1         일반        2      일반건축물  부산광역시 중구 남포동6가 78-2번지
3  1028112621        1         일반        2      일반건축물    부산광역시 중구 남포동6가 84번지
4  1028112635        1         일반        2      일반건축물  부산광역시 중구 남포동6가 93-1번지

                    도로명_대지_위치              건물_명 시군구_코드 법정동_코드  ... 에너지효율_등급  \
0  부산광역시 중구 중구로5번길 11 (남포동6가)              None  26110  14100  ...     None
1     부산광역시 중구 구덕로 80 (남포동6가)  남포동6가 74-1 (박상현)  26110  14100  ...     None
2   부산광역시 중구 구덕로 74-1 (남포동6가)            유디치과빌딩  26110  14100  ...     None
3      부산광역시 중구 중구로 3 (남포동6가)              None  26110  14100  ...     None
4   부산광역시 중구 비프광장로 16 (남포동6가)              None  26110  14100  ...     None

  에너지절감_율 에너지_EPI점수 친환경_건축물_등급 친환경_건축물_인증점수 지능형_건축물_등급  지능형_건축물_인증점수  \
0     0.0         0       None            0       None             0
1     0.0         0       None            0       None             0
2     0.0         0       None            0       None             0
3     0.0         0       None            0       None             0
4     0.0         0       None            0       None             0

      생성_일자 내진_설계_적용_여부 내진_능력
0  20221008           0  None
1  20230525           0  None
2  20221008           0  None
3  20221008           0  None
4  20240411           0  None

[5 rows x 77 columns]

In [ ]:
# Create a list to store the table names and their record counts
table_counts = []

# Iterate through the tables and count the records
for table in tables:
    table_name = table[0]
    count = con.execute(f"SELECT COUNT(*) FROM {table_name}").fetchone()[0]
    table_counts.append({"Table Name": table_name, "Record Count": count})

# Convert the list to a DataFrame
record_counts_df = pd.DataFrame(table_counts)

# Display the DataFrame
display(record_counts_df)

  Table Name  Record Count
0       기본개요      27994157
1       층별개요      21048715
2        표제부       8027067

각 테이블별 레코드 수 확인

In [ ]:
# Create a dictionary to store the results
max_lengths = {}

# Iterate through the tables
for table in tables:
    table_name = table[0]
    # Fetch the table schema
    schema = con.execute(f"DESCRIBE {table_name}").fetchdf()
    # display(schema)
    # Filter text columns
    text_columns = schema[
        schema["column_type"].str.contains("VARCHAR|TEXT", case=False)
    ]["column_name"]
    # Initialize a dictionary for the current table
    max_lengths[table_name] = {}
    # Calculate max length for each text column
    for column in text_columns:
        max_length = con.execute(
            f"SELECT MAX(LENGTH({column})) FROM {table_name}"
        ).fetchone()[0]
        max_lengths[table_name][column] = max_length

# Display the results
for table_name, columns in max_lengths.items():
    print(f"Table: {table_name}")
    for column, length in columns.items():
        print(f"  Column: {column}, Max Length: {length}")
    print()

Table: 기본개요
  Column: 관리_건축물대장_PK, Max Length: 22
  Column: 관리_상위_건축물대장_PK, Max Length: 22
  Column: 대장_구분_코드, Max Length: 1
  Column: 대장_구분_코드_명, Max Length: 2
  Column: 대장_종류_코드, Max Length: 1
  Column: 대장_종류_코드_명, Max Length: 5
  Column: 대지_위치, Max Length: 33
  Column: 도로명_대지_위치, Max Length: 43
  Column: 건물_명, Max Length: 62
  Column: 시군구_코드, Max Length: 5
  Column: 법정동_코드, Max Length: 5
  Column: 대지_구분_코드, Max Length: 1
  Column: 번, Max Length: 4
  Column: 지, Max Length: 4
  Column: 특수지_명, Max Length: 100
  Column: 블록, Max Length: 11
  Column: 로트, Max Length: 10
  Column: 새주소_도로_코드, Max Length: 12
  Column: 새주소_법정동_코드, Max Length: 5
  Column: 새주소_지상지하_코드, Max Length: 1
  Column: 지역_코드, Max Length: 6
  Column: 지구_코드, Max Length: 6
  Column: 구역_코드, Max Length: 6
  Column: 지역_코드_명, Max Length: 25
  Column: 지구_코드_명, Max Length: 28
  Column: 구역_코드_명, Max Length: 23
  Column: 생성_일자, Max Length: 8

Table: 층별개요
  Column: 관리_건축물대장_PK, Max Length: 22
  Column: 대지_위치, Max Length: 33
  Column: 도로명_대지_위치, Max Length: 43
  Column: 건물_명, Max Length: 62
  Column: 시군구_코드, Max Length: 5
  Column: 법정동_코드, Max Length: 5
  Column: 대지_구분_코드, Max Length: 1
  Column: 번, Max Length: 4
  Column: 지, Max Length: 4
  Column: 특수지_명, Max Length: 100
  Column: 블록, Max Length: 11
  Column: 로트, Max Length: 10
  Column: 새주소_도로_코드, Max Length: 12
  Column: 새주소_법정동_코드, Max Length: 5
  Column: 새주소_지상지하_코드, Max Length: 1
  Column: 동_명, Max Length: 74
  Column: 층_구분_코드, Max Length: 2
  Column: 층_구분_코드_명, Max Length: 7
  Column: 층_번호_명, Max Length: 74
  Column: 구조_코드, Max Length: 2
  Column: 구조_코드_명, Max Length: 13
  Column: 기타_구조, Max Length: 168
  Column: 주_용도_코드, Max Length: 5
  Column: 주_용도_코드_명, Max Length: 16
  Column: 기타_용도, Max Length: 299
  Column: 주_부속_구분_코드, Max Length: 1
  Column: 주_부속_구분_코드_명, Max Length: 5
  Column: 면적_제외_여부, Max Length: 1
  Column: 생성_일자, Max Length: 8

Table: 표제부
  Column: 관리_건축물대장_PK, Max Length: 22
  Column: 대장_구분_코드, Max Length: 1
  Column: 대장_구분_코드_명, Max Length: 2
  Column: 대장_종류_코드, Max Length: 1
  Column: 대장_종류_코드_명, Max Length: 5
  Column: 대지_위치, Max Length: 33
  Column: 도로명_대지_위치, Max Length: 43
  Column: 건물_명, Max Length: 62
  Column: 시군구_코드, Max Length: 5
  Column: 법정동_코드, Max Length: 5
  Column: 대지_구분_코드, Max Length: 1
  Column: 번, Max Length: 4
  Column: 지, Max Length: 4
  Column: 특수지_명, Max Length: 100
  Column: 블록, Max Length: 11
  Column: 로트, Max Length: 10
  Column: 새주소_도로_코드, Max Length: 12
  Column: 새주소_법정동_코드, Max Length: 5
  Column: 새주소_지상지하_코드, Max Length: 1
  Column: 동_명, Max Length: 74
  Column: 주_부속_구분_코드, Max Length: 1
  Column: 주_부속_구분_코드_명, Max Length: 5
  Column: 구조_코드, Max Length: 2
  Column: 구조_코드_명, Max Length: 13
  Column: 기타_구조, Max Length: 84
  Column: 주_용도_코드, Max Length: 5
  Column: 주_용도_코드_명, Max Length: 13
  Column: 기타_용도, Max Length: 134
  Column: 지붕_코드, Max Length: 2
  Column: 지붕_코드_명, Max Length: 8
  Column: 기타_지붕, Max Length: 161
  Column: 허가_일, Max Length: 8
  Column: 착공_일, Max Length: 8
  Column: 사용승인_일, Max Length: 8
  Column: 허가번호_년, Max Length: 4
  Column: 허가번호_기관_코드, Max Length: 7
  Column: 허가번호_기관_코드_명, Max Length: 12
  Column: 허가번호_구분_코드, Max Length: 4
  Column: 허가번호_구분_코드_명, Max Length: 18
  Column: 에너지효율_등급, Max Length: 4
  Column: 친환경_건축물_등급, Max Length: 1
  Column: 지능형_건축물_등급, Max Length: 1
  Column: 생성_일자, Max Length: 8
  Column: 내진_설계_적용_여부, Max Length: 1
  Column: 내진_능력, Max Length: 83

각 테이블별, 컬럼별 최대 문자열 길이 검사

데이터와 함께 제공된 스키마와 비교하여 데이터에 존재하는 최대 길이를 넘지 않는지 검증

(데이터 로딩이 잘못된 경우 최대 길이를 넘는 컬럼이 존재할 수 있어 확인함)

(내부DB에서 표제부와 폐말소대장이 하나의 테이블로 합쳐진 것은 개방데이터와는 무관함 확인)

In [ ]:
# Query to count the occurrences
query = """
    SELECT 
        COUNT(관리_건축물대장_PK) AS 관리_건축물대장_PK_count,
        COUNT(관리_상위_건축물대장_PK) AS 관리_상위_건축물대장_PK_count
    FROM 기본개요
"""

# Execute the query and fetch the result
result = con.execute(query).fetchdf()
print(result)

   관리_건축물대장_PK_count  관리_상위_건축물대장_PK_count
0           27994157              21493611

In [ ]:
# 1) 테이블 스키마에서 컬럼 이름을 가져오고
cols_df = con.execute("PRAGMA table_info('기본개요')").fetchdf()
cols = cols_df["name"].tolist()

# 2) 각 컬럼에 대한 COUNT 문을 생성
count_exprs = [f"COUNT({col}) AS {col}_count" for col in cols]

# 3) 최종 쿼리 조립
query = """
SELECT
    {exprs}
FROM 기본개요
""".format(exprs=",\n    ".join(count_exprs))

# 4) 실행 및 결과 확인
result = con.execute(query).fetchdf()
print(result.T)

                             0
관리_건축물대장_PK_count     27994157
관리_상위_건축물대장_PK_count  21493611
대장_구분_코드_count        27994157
대장_구분_코드_명_count      27994103
대장_종류_코드_count        27994157
대장_종류_코드_명_count      27994157
대지_위치_count           27994157
도로명_대지_위치_count       26756297
건물_명_count            18875815
시군구_코드_count          27994156
법정동_코드_count          27994152
대지_구분_코드_count        27994148
번_count               27994156
지_count               27994138
특수지_명_count             296730
블록_count                165483
로트_count                 57066
외필지_수_count           27994157
새주소_도로_코드_count       26756297
새주소_법정동_코드_count      26749968
새주소_지상지하_코드_count     27983073
새주소_본_번_count         26895824
새주소_부_번_count         15251098
지역_코드_count            4425434
지구_코드_count             863337
구역_코드_count             970081
지역_코드_명_count          4400740
지구_코드_명_count           842140
구역_코드_명_count           956922
생성_일자_count           27994157

(기본개요에서 각 컬럼별 널이 아닌 값 수를 셈)

In [ ]:
# 1) 테이블 스키마에서 컬럼 이름을 가져오고
cols_df = con.execute("PRAGMA table_info('표제부')").fetchdf()
cols = cols_df["name"].tolist()

# 2) 각 컬럼에 대한 COUNT 문을 생성
# 표제부에는 컬럼명에 %가 들어간 경우가 있어, 오류가 발생함
# 이를 피하기 위해, 컬럼명을 따옴표로 감싸줌
count_exprs = [f'COUNT("{col}") AS "{col}_count"' for col in cols]

# 3) 최종 쿼리 조립
query = """
SELECT
    {exprs}
FROM 표제부
""".format(exprs=",\n    ".join(count_exprs))

# 4) 실행 및 결과 확인
result = con.execute(query).fetchdf()

with pd.option_context(
    "display.max_rows",
    None,
    "display.max_columns",
    None,
):
    # Display the result with all rows and columns
    print(result.T)

                            0
관리_건축물대장_PK_count     8027067
대장_구분_코드_count        8027067
대장_구분_코드_명_count      8027067
대장_종류_코드_count        8027067
대장_종류_코드_명_count      8027067
대지_위치_count           8027067
도로명_대지_위치_count       7076491
건물_명_count            1160843
시군구_코드_count          8027067
법정동_코드_count          8027063
대지_구분_코드_count        8027059
번_count               8027067
지_count               8027055
특수지_명_count             33202
블록_count                12772
로트_count                 8734
외필지_수_count           8027067
새주소_도로_코드_count       7076491
새주소_법정동_코드_count      7074579
새주소_지상지하_코드_count     8024683
새주소_본_번_count         7174022
새주소_부_번_count         5375334
동_명_count             2199542
주_부속_구분_코드_count      8027067
주_부속_구분_코드_명_count    8026468
대지_면적(㎡)_count        8027067
건축_면적(㎡)_count        8027067
건폐_율(%)_count         8027067
연면적(㎡)_count          8027067
용적_률_산정_연면적(㎡)_count  8027067
용적_률(%)_count         8027067
구조_코드_count           8006871
구조_코드_명_count         8006865
기타_구조_count           7969367
주_용도_코드_count         7997938
주_용도_코드_명_count       7997830
기타_용도_count           7975268
지붕_코드_count           7989535
지붕_코드_명_count         7989414
기타_지붕_count           7902619
세대_수(세대)_count        8027067
가구_수(가구)_count        8027067
높이(m)_count           8027067
지상_층_수_count          8027067
지하_층_수_count          8027067
승용_승강기_수_count        8027067
비상용_승강기_수_count       8027067
부속_건축물_수_count        8027067
부속_건축물_면적(㎡)_count    8027067
총_동_연면적(㎡)_count      8027067
옥내_기계식_대수(대)_count    8027067
옥내_기계식_면적(㎡)_count    8027067
옥외_기계식_대수(대)_count    8027067
옥외_기계식_면적(㎡)_count    8027067
옥내_자주식_대수(대)_count    8027067
옥내_자주식_면적(㎡)_count    8027067
옥외_자주식_대수(대)_count    8027067
옥외_자주식_면적(㎡)_count    8027067
허가_일_count            5323988
착공_일_count            4150416
사용승인_일_count          7401141
허가번호_년_count          2806125
허가번호_기관_코드_count      2706819
허가번호_기관_코드_명_count    2706210
허가번호_구분_코드_count      2768162
허가번호_구분_코드_명_count    2768162
호_수(호)_count          8027067
에너지효율_등급_count          14863
에너지절감_율_count         8027067
에너지_EPI점수_count       8027067
친환경_건축물_등급_count        13596
친환경_건축물_인증점수_count    8027067
지능형_건축물_등급_count           70
지능형_건축물_인증점수_count    8027067
생성_일자_count           8027067
내진_설계_적용_여부_count     7988748
내진_능력_count            425401

(표제부에서 각 컬럼별 널이 아닌 값 수를 셈)
(표제부는 컬럼명에 특수문자(%)가 들어간 컬럼이 있어, 그대로 사용하면 에러가 발생함. 따옴표로 감싸줘야 함)

In [65]:
# 기본개요와 표제부 조인

# Drop the view if it already exists
con.execute("DROP VIEW IF EXISTS 기본개요_표제부")

# Create a view for the joined data
create_view_query = """
CREATE VIEW 기본개요_표제부 AS
SELECT 
    기본개요.*,
    표제부.\"동_명\",
    표제부.\"주_부속_구분_코드\",
    표제부.\"주_부속_구분_코드_명\",
    표제부.\"대지_면적(㎡)\",
    표제부.\"건축_면적(㎡)\",
    표제부.\"연면적(㎡)\",
    표제부.\"용적_률_산정_연면적(㎡)\",
    표제부.\"구조_코드\",
    표제부.\"주_용도_코드\",
    표제부.\"지붕_코드\",
    표제부.\"세대_수(세대)\",
    표제부.\"가구_수(가구)\",
    표제부.\"높이(m)\",
    표제부.\"지상_층_수\",
    표제부.\"지하_층_수\",
    표제부.\"부속_건축물_수\",
    표제부.\"부속_건축물_면적(㎡)\",
    표제부.\"총_동_연면적(㎡)\",
    표제부.\"허가_일\",
    표제부.\"착공_일\",
    표제부.\"사용승인_일\",
    표제부.\"허가번호_년\",
    표제부.\"호_수(호)\",
    표제부.\"생성_일자\"
FROM 기본개요
INNER JOIN 표제부
ON 기본개요.관리_건축물대장_PK = 표제부.관리_건축물대장_PK
"""
con.execute(create_view_query)

# Verify the view creation by querying it
view_result = con.execute("SELECT * FROM 기본개요_표제부 LIMIT 5").fetchdf()
print(view_result)

  관리_건축물대장_PK 관리_상위_건축물대장_PK 대장_구분_코드 대장_구분_코드_명 대장_종류_코드 대장_종류_코드_명  \
0  1124165449      112419517        1         일반        2      일반건축물
1  1124165450           None        1         일반        2      일반건축물
2  1124165453      112415487        1         일반        2      일반건축물
3  1124165455      112415810        1         일반        2      일반건축물
4  1124165456      112415810        1         일반        2      일반건축물

                     대지_위치                        도로명_대지_위치  건물_명 시군구_코드  ...  \
0  경기도 화성시 양감면 사창리 660-3번지    경기도 화성시 안요골길82번길 43 (양감면 사창리)  None  41590  ...
1    경기도 화성시 양감면 사창리 662번지  경기도 화성시 안요골길82번길 23-6 (양감면 사창리)  None  41590  ...
2    경기도 화성시 양감면 사창리 665번지    경기도 화성시 안요골길82번길 22 (양감면 사창리)    다동  41590  ...
3    경기도 화성시 양감면 사창리 669번지     경기도 화성시 안요골길82번길 1 (양감면 사창리)  None  41590  ...
4    경기도 화성시 양감면 사창리 669번지     경기도 화성시 안요골길82번길 1 (양감면 사창리)  None  41590  ...

  지하_층_수 부속_건축물_수 부속_건축물_면적(㎡) 총_동_연면적(㎡)      허가_일  착공_일    사용승인_일  허가번호_년  \
0      0        0          0.0      122.5      None  None  20071005    None
1      0        0          0.0      492.2  20060530  None  20070427    None
2      0        0          0.0      136.0      None  None  20020916    None
3      0        0          0.0        8.0      None  None  19230000    None
4      0        0          0.0      118.0      None  None  19840000    None

  호_수(호)   생성_일자_1
0      0  20220909
1      0  20220909
2      0  20220909
3      0  20220909
4      0  20220909

[5 rows x 54 columns]

표제부에서 일부 컬럼만 사용

동_명
주_부속_구분_코드
주_부속_구분_코드_명
대지_면적(㎡)
건축_면적(㎡)
연면적(㎡)
용적_률_산정_연면적(㎡)
구조_코드
주_용도_코드
지붕_코드
세대_수(세대)
가구_수(가구)
높이(m)
지상_층_수
지하_층_수
부속_건축물_수
부속_건축물_면적(㎡)
총_동_연면적(㎡)
허가_일
착공_일
사용승인_일
허가번호_년
호_수(호)
생성_일자

In [66]:
row_count = con.execute("SELECT COUNT(*) FROM 기본개요_표제부").fetchone()[0]
print(f"Row count of 기본개요_표제부: {row_count}")

Row count of 기본개요_표제부: 8027067

표제부 테이블에 있는 모든 데이터가 기본개요와 잘 연계됨

In [ ]:
# 1) 테이블 스키마에서 컬럼 이름을 가져오고
cols_df = con.execute("PRAGMA table_info('기본개요_표제부')").fetchdf()
cols = cols_df["name"].tolist()

# 2) 각 컬럼에 대한 COUNT 문을 생성
# 표제부에는 컬럼명에 %가 들어간 경우가 있어, 오류가 발생함
# 이를 피하기 위해, 컬럼명을 따옴표로 감싸줌
count_exprs = [f'COUNT("{col}") AS "{col}"' for col in cols]

# 3) 최종 쿼리 조립
query = """
SELECT
    {exprs}
FROM 기본개요_표제부
""".format(exprs=",\n    ".join(count_exprs))

# 4) 실행 및 결과 확인
result = con.execute(query).fetchdf()

with pd.option_context(
    "display.max_rows",
    None,
    "display.max_columns",
    None,
):
    # Display the result with all rows and columns
    print(result.T)

                      0
관리_건축물대장_PK     8027067
관리_상위_건축물대장_PK  2150212
대장_구분_코드        8027067
대장_구분_코드_명      8027067
대장_종류_코드        8027067
대장_종류_코드_명      8027067
대지_위치           8027067
도로명_대지_위치       7076491
건물_명            1160843
시군구_코드          8027067
법정동_코드          8027063
대지_구분_코드        8027059
번               8027067
지               8027055
특수지_명             33202
블록                12772
로트                 8734
외필지_수           8027067
새주소_도로_코드       7076491
새주소_법정동_코드      7074579
새주소_지상지하_코드     8024683
새주소_본_번         7174022
새주소_부_번         5375334
지역_코드           4018039
지구_코드            804783
구역_코드            862621
지역_코드_명         3994203
지구_코드_명          784397
구역_코드_명          849885
생성_일자           8027067
동_명             2199542
주_부속_구분_코드      8027067
주_부속_구분_코드_명    8026468
대지_면적(㎡)        8027067
건축_면적(㎡)        8027067
연면적(㎡)          8027067
용적_률_산정_연면적(㎡)  8027067
구조_코드           8006871
주_용도_코드         7997938
지붕_코드           7989535
세대_수(세대)        8027067
가구_수(가구)        8027067
높이(m)           8027067
지상_층_수          8027067
지하_층_수          8027067
부속_건축물_수        8027067
부속_건축물_면적(㎡)    8027067
총_동_연면적(㎡)      8027067
허가_일            5323988
착공_일            4150416
사용승인_일          7401141
허가번호_년          2806125
호_수(호)          8027067
생성_일자_1         8027067

기본개요와 잘 연계된 표제부에 기재된 컬럼별 데이터 기재 건수

총 8,027,067개 동 중 법정동 기재된 경우 8027063, 
구조_코드 8006871,
주_용도_코드 7997938,
지붕_코드 7989535,
사용승인일 7401141 등

데이터가 충분히 기재된 컬럼만 데이터 정제 과정에 활용

In [68]:
# Query to count rows where 사용승인일 is not 8 characters long
query = """
SELECT COUNT(*) AS invalid_사용승인일_count
FROM 기본개요_표제부
WHERE LENGTH(사용승인_일) != 8
"""

# Execute the query and fetch the result
invalid_count = con.execute(query).fetchone()[0]
print(f"Number of rows where 사용승인일 is not 8 characters long: {invalid_count}")

Number of rows where 사용승인일 is not 8 characters long: 28819

28819개 동은 사용승인일이 데이터 형식(8자리 숫자열)에 맞지 않게 기재되어 있음

In [71]:
# Query to count rows where 사용승인일 is larger than 20250229
query = """
SELECT COUNT(*) AS invalid_사용승인일_count
FROM 기본개요_표제부
WHERE 사용승인_일 > '20250229' and LENGTH(사용승인_일) = 8
"""

# Execute the query and fetch the result
invalid_count = con.execute(query).fetchone()[0]
print(f"Number of rows where 사용승인일 is larger than 20250229: {invalid_count}")

Number of rows where 사용승인일 is larger than 20250229: 54

54개 동은 사용승인일 데이터 기준 시점 이후로 기재되어 있음

In [ ]:
# Query to fetch rows where 사용승인_일 is greater than '20250229'
query = """
SELECT *
FROM 기본개요_표제부
WHERE 사용승인_일 > '20250229' and LENGTH(사용승인_일) = 8
"""

# Execute the query and fetch the result
result = con.execute(query).fetchdf()

# Display the result
with pd.option_context(
    "display.max_rows",
    None,
    "display.max_columns",
    None,
):
    print(result)

        관리_건축물대장_PK   관리_상위_건축물대장_PK 대장_구분_코드 대장_구분_코드_명 대장_종류_코드 대장_종류_코드_명  \
0    11921100195909   11921100195910        1         일반        2      일반건축물
1    10801100229057   10801100229053        1         일반        2      일반건축물
2        1205147112             None        1         일반        2      일반건축물
3         123112518             None        1         일반        2      일반건축물
4         111617947        111611754        1         일반        2      일반건축물
5        1177123171             None        1         일반        2      일반건축물
6        1177123713         11771452        1         일반        2      일반건축물
7        1177123866         11771453        1         일반        2      일반건축물
8        1177142115             None        1         일반        2      일반건축물
9        1183132021             None        1         일반        2      일반건축물
10      11861139567             None        1         일반        2      일반건축물
11       1212115343             None        1         일반        2      일반건축물
12       1131126896             None        1         일반        2      일반건축물
13       1144111849             None        1         일반        2      일반건축물
14   10801100229056   10801100229053        1         일반        2      일반건축물
15       1124154740        112412849        1         일반        2      일반건축물
16       1231133956             None        1         일반        2      일반건축물
17       1205129510             None        1         일반        2      일반건축물
18       1212115363             None        1         일반        2      일반건축물
19       1277161761             None        1         일반        2      일반건축물
20       1276116953        127616281        1         일반        2      일반건축물
21       1276132035             None        1         일반        2      일반건축물
22       1276183485             None        1         일반        2      일반건축물
23        127718155         12771711        1         일반        2      일반건축물
24       1277168738             None        1         일반        2      일반건축물
25       1276131663             None        1         일반        2      일반건축물
26       1212114591             None        1         일반        2      일반건축물
27       1212115310             None        1         일반        2      일반건축물
28       1075112666             None        1         일반        2      일반건축물
29   12041100210267             None        1         일반        2      일반건축물
30   10801100229055   10801100229053        1         일반        2      일반건축물
31   12321100193313   12321100193312        1         일반        2      일반건축물
32       1234129876         12341307        1         일반        2      일반건축물
33       1212115427        121212317        1         일반        2      일반건축물
34       1268113871         12681368        1         일반        2      일반건축물
35       1268113872         12681368        1         일반        2      일반건축물
36      11011103743       1101199141        1         일반        2      일반건축물
37        110415241        110411335        2         집합        3        표제부
38        110415242        110411335        2         집합        3        표제부
39  125212000002694  125212000001227        1         일반        2      일반건축물
40       1052113949             None        1         일반        2      일반건축물
41        113117781             None        1         일반        2      일반건축물
42       1124151684       1124110176        1         일반        2      일반건축물
43        124819261             None        1         일반        2      일반건축물
44  125212000002690             None        1         일반        2      일반건축물
45        127718156         12771711        1         일반        2      일반건축물
46        124515632        124512259        1         일반        2      일반건축물
47       1247121551             None        1         일반        2      일반건축물
48       1212115320        121212314        1         일반        2      일반건축물
49       1123116881             None        1         일반        2      일반건축물
50   11311100245858         11311564        1         일반        2      일반건축물
51       1192130825             None        1         일반        2      일반건축물
52        104315370             None        1         일반        2      일반건축물
53  125212000003560             None        1         일반        2      일반건축물

                            대지_위치                             도로명_대지_위치  \
0     전북특별자치도 남원시 대강면 수홍리 901-1번지         전북특별자치도 남원시 수촌1길 39 (대강면 수홍리)
1               울산광역시 북구 상안동 66번지              울산광역시 북구 시례새터길 190 (상안동)
2           전라남도 순천시 서면 지본리 914번지                                  None
3            경상북도 안동시 신세동 118-3번지                 경상북도 안동시 동부길 11 (신세동)
4       경기도 용인시 처인구 백암면 장평리 616번지      경기도 용인시 처인구 삼백로573번길 9 (백암면 장평리)
5           충청남도 당진시 석문면 삼봉리 79번지                                  None
6          충청남도 당진시 석문면 삼봉리 937번지                                  None
7           충청남도 당진시 석문면 삼봉리 산2번지                                  None
8          충청남도 당진시 신평면 운정리 373번지                                  None
9          충청남도 예산군 봉산면 효교리 535번지                                  None
10    전북특별자치도 전주시 덕진구 산정동 110-1번지      전북특별자치도 전주시 덕진구 원산정안길 37-8 (산정동)
11       전라남도 보성군 미력면 도개리 162-1번지            전라남도 보성군 정자길 109 (미력면 도개리)
12         경기도 양평군 지평면 대평리 10-1번지             경기도 양평군 대평로 351 (지평면 대평리)
13   강원특별자치도 정선군 화암면 석곡리 1093-3번지        강원특별자치도 정선군 소금강로 216 (화암면 석곡리)
14              울산광역시 북구 상안동 66번지              울산광역시 북구 시례새터길 190 (상안동)
15        경기도 화성시 팔탄면 창곡리 615-1번지        경기도 화성시 주석로778번길 133 (팔탄면 창곡리)
16        경상북도 안동시 풍천면 인금리 39-1번지          경상북도 안동시 상인금길 25-1 (풍천면 인금리)
17         전라남도 순천시 황전면 비촌리 447번지                                  None
18         전라남도 보성군 미력면 도개리 337번지            전라남도 보성군 도개2길 68 (미력면 도개리)
19  제주특별자치도 서귀포시 표선면 세화리 2466-3번지   제주특별자치도 서귀포시 토산세화로 171-54 (표선면 세화리)
20         제주특별자치도 제주시 영평동 2235번지           제주특별자치도 제주시 516로 2870 (영평동)
21        제주특별자치도 제주시 도남동 54-16번지          제주특별자치도 제주시 도남로8길 5-10 (도남동)
22      제주특별자치도 제주시 삼양이동 2241-1번지                                  None
23    제주특별자치도 서귀포시 남원읍 위미리 2035번지      제주특별자치도 서귀포시 위미중앙로 145 (남원읍 위미리)
24  제주특별자치도 서귀포시 남원읍 하례리 1559-1번지  제주특별자치도 서귀포시 중산간동로 7361-35 (남원읍 하례리)
25       제주특별자치도 제주시 영평동 1021-1번지             제주특별자치도 제주시 영강길 108 (영평동)
26         전라남도 보성군 노동면 감정리 229번지          전라남도 보성군 평동로 971-5 (노동면 감정리)
27         전라남도 보성군 노동면 명봉리 536번지            전라남도 보성군 예재로 203 (노동면 명봉리)
28          대전광역시 대덕구 상서동 173-1번지               대전광역시 대덕구 방두말1길 2 (상서동)
29             전라남도 여수시 선원동 135번지                전라남도 여수시 선원1길 26 (선원동)
30              울산광역시 북구 상안동 66번지              울산광역시 북구 시례새터길 190 (상안동)
31       경상북도 구미시 장천면 하장리 778-2번지           경상북도 구미시 하장3길 109 (장천면 하장리)
32         경상북도 영천시 화남면 사천리 693번지            경상북도 영천시 사천1길 80 (화남면 사천리)
33         전라남도 보성군 미력면 도개리 544번지            전라남도 보성군 도개2길 30 (미력면 도개리)
34         경상남도 고성군 삼산면 미룡리 702번지        경상남도 고성군 공룡로 1927-62 (삼산면 미룡리)
35         경상남도 고성군 삼산면 미룡리 702번지        경상남도 고성군 공룡로 1927-62 (삼산면 미룡리)
36           경기도 안산시 단원구 선감동 25번지              경기도 안산시 단원구 불도길 85 (선감동)
37          경기도 고양시 덕양구 행신동 222번지      경기도 고양시 덕양구 행신로325번길 11-18 (행신동)
38          경기도 고양시 덕양구 행신동 222번지      경기도 고양시 덕양구 행신로325번길 11-18 (행신동)
39        경상남도 창원시 진해구 충의동 54-2번지      경상남도 창원시 진해구 중원동로10번길 42-1 (충의동)
40      대구광역시 달성군 가창면 대일리 393-3번지        대구광역시 달성군 가창로123길 17 (가창면 대일리)
41        경기도 양평군 강상면 병산리 496-5번지         경기도 양평군 강남로899번길 15 (강상면 병산리)
42       경기도 화성시 서신면 상안리 856-25번지             경기도 화성시 제부로 788 (서신면 상안리)
43          경상북도 봉화군 봉성면 동양리 37번지           경상북도 봉화군 산수유길 244 (봉성면 동양리)
44        경상남도 창원시 진해구 충의동 53-3번지          경상남도 창원시 진해구 태평로58번길 6 (충의동)
45    제주특별자치도 서귀포시 남원읍 위미리 2035번지      제주특별자치도 서귀포시 위미중앙로 145 (남원읍 위미리)
46         경상북도 성주군 성주읍 금산리 706번지          경상북도 성주군 주천로 76-17 (성주읍 금산리)
47       경상북도 예천군 용궁면 읍부리 316-3번지            경상북도 예천군 용궁로 112 (용궁면 읍부리)
48         전라남도 보성군 미력면 도개리 128번지             전라남도 보성군 정자길 39 (미력면 도개리)
49        경기도 김포시 고촌읍 향산리 426-1번지       경기도 김포시 금파로378번길 81-1 (고촌읍 향산리)
50         경기도 양평군 용문면 다문리 49-2번지            경기도 양평군 그릇고갯길 50 (용문면 다문리)
51      전북특별자치도 남원시 이백면 척문리 313번지                                  None
52      부산광역시 기장군 기장읍 시랑리 506-1번지                                  None
53       경상남도 창원시 진해구 대죽동 24-67번지        경상남도 창원시 진해구 속천로52번안길 16 (대죽동)

        건물_명 시군구_코드 법정동_코드 대지_구분_코드     번     지 특수지_명    블록    로트  외필지_수  \
0       None  52190  36022        0  0901  0001  None  None  None      0
1   농소하수처리시설  31200  10700        0  0066  0000  None  None  None      0
2       None  46150  32032        0  0914  0000  None  None  None      0
3       None  47170  10800        0  0118  0003  None  None  None      1
4       None  41461  35026        0  0616  0000  None  None  None      0
5       None  44270  32023        0  0079  0000  None  None  None      0
6       None  44270  32023        0  0937  0000  None  None  None      0
7       None  44270  32023        1  0002  0000  None  None  None      0
8       None  44270  38028        0  0373  0000  None  None  None      1
9       None  44810  37029        0  0535  0000  None  None  None      0
10      None  52113  11100        0  0110  0001  None  None  None      0
11      None  46780  32021        0  0162  0001  None  None  None      0
12      None  41830  39527        0  0010  0001  None  None  None      0
13      None  51770  36022        0  1093  0003  None  None  None      0
14  농소하수처리시설  31200  10700        0  0066  0000  None  None  None      0
15        사동  41590  36022        0  0615  0001  None  None  None      1
16      None  47170  34030        0  0039  0001  None  None  None      0
17      None  46150  33031        0  0447  0000  None  None  None      0
18      None  46780  32021        0  0337  0000  None  None  None      0
19      None  50130  32025        0  2466  0003  None  None  None      0
20      None  50110  13600        0  2235  0000  None  None  None      7
21      None  50110  12900        0  0054  0016  None  None  None      0
22      None  50110  11400        0  2241  0001  None  None  None      0
23      None  50130  25327        0  2035  0000  None  None  None      0
24      None  50130  25328        0  1559  0001  None  None  None      0
25      None  50110  13600        0  1021  0001  None  None  None      0
26      None  46780  31023        0  0229  0000  None  None  None      1
27      None  46780  31030        0  0536  0000  None  None  None      0
28      None  30230  11600        0  0173  0001  None  None  None      2
29     여천중학교  46130  13500        0  0135  0000  None  None  None      0
30  농소하수처리시설  31200  10700        0  0066  0000  None  None  None      0
31      None  47190  36022        0  0778  0002  None  None  None      2
32      None  47230  35024        0  0693  0000  None  None  None      0
33      None  46780  32021        0  0544  0000  None  None  None      0
34      None  48820  31023        0  0702  0000  None  None  None      1
35      None  48820  31023        0  0702  0000  None  None  None      1
36      None  41273  11300        0  0025  0000  None  None  None      0
37      영오빌라  41281  12800        0  0222  0000  None  None  None      0
38      영오빌라  41281  12800        0  0222  0000  None  None  None      0
39      None  48129  10800        0  0054  0002  None  None  None      0
40      None  27710  31028        0  0393  0003  None  None  None      1
41      None  41830  31021        0  0496  0005  None  None  None      0
42      None  41590  35022        0  0856  0025  None  None  None      0
43      None  47920  32025        0  0037  0000  None  None  None      1
44      None  48129  10800        0  0053  0003  None  None  None      1
45      None  50130  25327        0  2035  0000  None  None  None      0
46      None  47840  25027        0  0706  0000  None  None  None      1
47      None  47900  38021        0  0316  0003  None  None  None      0
48      None  46780  32021        0  0128  0000  None  None  None      0
49      None  41570  25321        0  0426  0001  None  None  None      0
50      None  41830  40024        0  0049  0002  None  None  None      2
51      None  52190  42022        0  0313  0000  None  None  None      1
52      None  26710  25033        0  0506  0001  None  None  None      0
53      None  48129  11700        0  0024  0067  None  None  None      0

       새주소_도로_코드 새주소_법정동_코드 새주소_지상지하_코드  새주소_본_번  새주소_부_번 지역_코드 지구_코드 구역_코드  \
0   521904613379      36001           0       39        0  None  None  None
1   312004316187      10702           0      190     <NA>  None  None  None
2           None       None           0     <NA>     <NA>  0100  None  None
3   471704721284      10802           0       11     <NA>  None  None  None
4   414614409467      35001           0        9        0  None  None  None
5           None       None           0     <NA>     <NA>  None  None  None
6           None       None           0     <NA>     <NA>  None  None  None
7           None       None           0     <NA>     <NA>  None  None  None
8           None       None           0     <NA>     <NA>  Z200  None  None
9           None       None           0     <NA>     <NA>  None  None  None
10  521134601377      11101           0       37        8  None  None   070
11  467804670367      32001           0      109        0  None  None  None
12  418303217035      39501           0      351        0  0240  None  None
13  517703229021      36003           0      216     <NA>  0300  None  None
14  312004316187      10702           0      190     <NA>  None  None  None
15  415904431210      36002           0      133     <NA>  None  None  None
16  471704721560      34001           0       25        1  Z200  None  None
17          None       None           0     <NA>     <NA>  0230  None  None
18  467804670095      32001           0       68        0  None  None  None
19  501303350274      32001           0      171       54  0300  None  None
20  501103020004      13603           0     2870        0  None  None  None
21  501104847513      12901           0        5       10  1020   110  None
22          None       None           0     <NA>     <NA>  None  None  None
23  501303350234      25301           0      145     <NA>  None  None  None
24  501303349238      25307           0     7361       35  0230  None  None
25  501104848290      13603           0      108        0  1330  None  None
26  467803290020      31002           0      971        5  None  None  None
27  467803290009      31001           0      203        0  None  None  None
28  302304304222      11601           0        2     <NA>  1220  None  None
29  461304646515      13501           0       26     <NA>  None  None  None
30  312004316187      10702           0      190     <NA>  None  None  None
31  471904724892      36001           0      109     <NA>  None  None  None
32  472304730285      35001           0       80        0  None  None  None
33  467804670095      32001           0       30        0  Z200  None  None
34  488203342004      31002           0     1927       62  0400  None   990
35  488203342004      31002           0     1927       62  0400  None   990
36  412734373139      11301           0       85        0  None  None  None
37  412814376302      12801           0       11       18  1020  None  None
38  412814376302      12801           0       11       18  1020  None  None
39  481294793435      10802           0       42        1  None  None  None
40  277104244008      31001           0       17        0  1330  None  None
41  418304451036      31001           0       15     <NA>  0200  None  None
42  415903210096      35002           0      788     <NA>  1020  None  None
43  479204772184      32001           0      244        0  0230  None  None
44  481294793597      10802           0        6        0  None  None  None
45  501303350234      25301           0      145     <NA>  None  None  None
46  478403306050      25001           0       76       17  0300   980   170
47  479003323012      38001           0      112     <NA>  1120  None  None
48  467804670367      32001           0       39        0  None  None  None
49  415704427054      25301           0       81        1  0300  None  None
50  418304451163      40002           0       50     <NA>  1320  None  None
51          None       None           0     <NA>     <NA>  Z200  None  None
52          None       None           0     <NA>     <NA>  1330  None   070
53  481294793182      11702           0       16        0  None  None  None

   지역_코드_명  지구_코드_명 구역_코드_명     생성_일자        동_명 주_부속_구분_코드 주_부속_구분_코드_명  \
0     None     None    None  20240117        주2동          0         주건축물
1     None     None    None  20221028  급·배기구계단실동          0         주건축물
2     도시지역     None    None  20221008       None          0         주건축물
3     None     None    None  20250115       None          0         주건축물
4     None     None    None  20220909       None          0         주건축물
5     None     None    None  20220723       None          0         주건축물
6     None     None    None  20220723       None          0         주건축물
7     None     None    None  20220723       None          0         주건축물
8    준농림지역     None    None  20220723       None          0         주건축물
9     None     None    None  20220723       None          0         주건축물
10    None     None  개발제한구역  20240117       None          0         주건축물
11    None     None    None  20221008       None          0         주건축물
12    관리지역     None    None  20220909       None          0         주건축물
13    농림지역     None    None  20221112       None          0         주건축물
14    None     None    None  20221028  급·배기구계단실동          0         주건축물
15    None     None    None  20220909         사동          0         주건축물
16   준농림지역     None    None  20221126       None          0         주건축물
17  계획관리지역     None    None  20221008       None          0         주건축물
18    None     None    None  20221008       None          0         주건축물
19    농림지역     None    None  20221112       None          0         주건축물
20    None     None    None  20221112       제12호          0         주건축물
21  일반주거지역     고도지구    None  20221112       None          0         주건축물
22    None     None    None  20221112        제1호          0         주건축물
23    None     None    None  20221112        제1호          0         주건축물
24  계획관리지역     None    None  20221112       None          1        부속건축물
25  자연녹지지역     None    None  20221112       None          0         주건축물
26    None     None    None  20221008       None          0         주건축물
27    None     None    None  20221008       None          0         주건축물
28  일반공업지역     None    None  20220723       None          0         주건축물
29    None     None    None  20221008       None          1        부속건축물
30    None     None    None  20221028        설비동          0         주건축물
31    None     None    None  20221126         가동          0         주건축물
32    None     None    None  20221126         나동          0         주건축물
33   준농림지역     None    None  20221008       None          0         주건축물
34    None     None    기타구역  20221008       None          0         주건축물
35    None     None    기타구역  20221008       None          1        부속건축물
36    None     None    None  20220909       None          0         주건축물
37  일반주거지역     None    None  20220909      관리사무실          1        부속건축물
38  일반주거지역     None    None  20220909       화장실동          1        부속건축물
39    None     None    None  20221008         가동          0         주건축물
40  자연녹지지역     None    None  20221126       None          0         주건축물
41    관리지역     None    None  20220909       None          0         주건축물
42  일반주거지역     None    None  20220909         1동          0         주건축물
43  계획관리지역     None    None  20221126       None          0         주건축물
44    None     None    None  20221008       None          0         주건축물
45    None     None    None  20221112       None          0         주건축물
46    농림지역  용도지구미지정  농업진흥구역  20250221         E동          0         주건축물
47  일반상업지역     None    None  20221126       None          0         주건축물

전라남도 여수시 여천중학교의 예를 들면, 사용승인일이 '21120323'로 기재되어 있는데, 착공일이 '20111212'인 점을 고려할 때 2011년 12월 모일의 오기로 의심되나, 모든 데이터를 이렇게 정확하게 파악할 수는 없음.

In [76]:
# Query to count rows where 사용승인일 is less than 19000101
query = """
SELECT COUNT(*) AS invalid_사용승인일_count
FROM 기본개요_표제부
WHERE 사용승인_일 < '19000101' and LENGTH(사용승인_일) = 8
"""

# Execute the query and fetch the result
invalid_count = con.execute(query).fetchone()[0]
print(f"Number of rows where 사용승인일 is less than 19000101: {invalid_count}")

Number of rows where 사용승인일 is less than 19000101: 56477

56477개 동은 사용승인일 데이터가 1900년 이전 시점으로 기재되어 있음

In [ ]:
# Query to count rows where 사용승인일 is between 20241231 and 20250229
query = """
SELECT COUNT(*) AS invalid_사용승인일_count
FROM 기본개요_표제부
WHERE 사용승인_일 > '20241231' and 사용승인_일 <= '20250229' and LENGTH(사용승인_일) = 8
"""

# Execute the query and fetch the result
invalid_count = con.execute(query).fetchone()[0]
print(
    f"Number of rows where 사용승인일 is between 20241231 and 20250229: {invalid_count}"
)

Number of rows where 사용승인일 is between 20241231 and 20250229: 11585

11585개 동은 사용승인일이 2024년 말 이후로, 2024년 말 기준 분석에서는 제외가 필요함

위와 같은 여러 오류를 제외하여 사용승인일이 정상적으로 기재된 경우만 선별함

In [79]:
# Query to count rows where 사용승인일 is between 19000101 and 20241231
query = """
SELECT COUNT(*) AS valid_사용승인일_count
FROM 기본개요_표제부
WHERE 사용승인_일 > '19000101' and 사용승인_일 <= '20241231' and LENGTH(사용승인_일) = 8
"""

# Execute the query and fetch the result
valid_count = con.execute(query).fetchone()[0]
print(
    f"Number of rows where 사용승인일 is between 19000101 and 20241231: {valid_count}"
)

Number of rows where 사용승인일 is between 19000101 and 20241231: 7303104

1900년 이후 2024년 말까지 사용승인된 건축물 수는 7303104 동

1차로 이 건축물만 사용

In [81]:
# Drop the view if it already exists
con.execute("DROP VIEW IF EXISTS 기본개요_표제부_사용승인일_정상")

# Create a view with the specified conditions
create_view_query = """
CREATE VIEW 기본개요_표제부_사용승인일_정상 AS
SELECT *
FROM 기본개요_표제부
WHERE 사용승인_일 > '19000101' 
    AND 사용승인_일 <= '20241231' 
    AND LENGTH(사용승인_일) = 8
"""
con.execute(create_view_query)

# Verify the view creation by querying it
view_result = con.execute(
    "SELECT * FROM 기본개요_표제부_사용승인일_정상 LIMIT 5"
).fetchdf()

with pd.option_context(
    "display.max_rows",
    None,
    "display.max_columns",
    None,
):
    print(view_result)

  관리_건축물대장_PK 관리_상위_건축물대장_PK 대장_구분_코드 대장_구분_코드_명 대장_종류_코드 대장_종류_코드_명  \
0  1124165449      112419517        1         일반        2      일반건축물
1  1124165450           None        1         일반        2      일반건축물
2  1124165453      112415487        1         일반        2      일반건축물
3  1124165455      112415810        1         일반        2      일반건축물
4  1124165456      112415810        1         일반        2      일반건축물

                     대지_위치                        도로명_대지_위치  건물_명 시군구_코드  \
0  경기도 화성시 양감면 사창리 660-3번지    경기도 화성시 안요골길82번길 43 (양감면 사창리)  None  41590
1    경기도 화성시 양감면 사창리 662번지  경기도 화성시 안요골길82번길 23-6 (양감면 사창리)  None  41590
2    경기도 화성시 양감면 사창리 665번지    경기도 화성시 안요골길82번길 22 (양감면 사창리)    다동  41590
3    경기도 화성시 양감면 사창리 669번지     경기도 화성시 안요골길82번길 1 (양감면 사창리)  None  41590
4    경기도 화성시 양감면 사창리 669번지     경기도 화성시 안요골길82번길 1 (양감면 사창리)  None  41590

  법정동_코드 대지_구분_코드     번     지 특수지_명    블록    로트  외필지_수     새주소_도로_코드  \
0  40022        0  0660  0003  None  None  None      0  415904430924
1  40022        0  0662  0000  None  None  None      0  415904430924
2  40022        0  0665  0000  None  None  None      1  415904430924
3  40022        0  0669  0000  None  None  None      0  415904430924
4  40022        0  0669  0000  None  None  None      0  415904430924

  새주소_법정동_코드 새주소_지상지하_코드  새주소_본_번  새주소_부_번 지역_코드 지구_코드 구역_코드 지역_코드_명 지구_코드_명  \
0      40001           0       43     <NA>  None  None  None    None    None
1      40001           0       23        6  0240  None  None    관리지역    None
2      40001           0       22     <NA>  None  None  None    None    None
3      40001           0        1        0  None  None  None    None    None
4      40001           0        1        0  None  None  None    None    None

  구역_코드_명     생성_일자   동_명 주_부속_구분_코드 주_부속_구분_코드_명  대지_면적(㎡)  건축_면적(㎡)  연면적(㎡)  \
0    None  20220909    2동          0         주건축물       0.0     122.5   122.5
1    None  20220909  None          0         주건축물     998.0     246.8   492.2
2    None  20220909  None          0         주건축물       0.0     136.0   136.0
3    None  20220909  None          0         주건축물       0.0       8.0     8.0
4    None  20220909  None          0         주건축물       0.0     118.0   118.0

   용적_률_산정_연면적(㎡) 구조_코드 주_용도_코드 지붕_코드  세대_수(세대)  가구_수(가구)  높이(m)  지상_층_수  \
0           122.5    21   18000    10         0         0    4.5       1
1           492.2    31   03000    10         0         1   13.4       2
2           136.0    33   21000    90         0         0    0.0       1
3             8.0    11   01000    20         0         1    0.0       1
4           118.0    12   01000    20         0         1    0.0       1

   지하_층_수  부속_건축물_수  부속_건축물_면적(㎡)  총_동_연면적(㎡)      허가_일  착공_일    사용승인_일  \
0       0         0           0.0       122.5      None  None  20071005
1       0         0           0.0       492.2  20060530  None  20070427
2       0         0           0.0       136.0      None  None  20020916
3       0         0           0.0         8.0      None  None  19230000
4       0         0           0.0       118.0      None  None  19840000

  허가번호_년  호_수(호)   생성_일자_1
0   None       0  20220909
1   None       0  20220909
2   None       0  20220909
3   None       0  20220909
4   None       0  20220909

In [83]:
# Query to fetch unique values for 구조_코드
query = """
SELECT 구조_코드, COUNT(*) AS count
FROM 기본개요_표제부_사용승인일_정상
GROUP BY 구조_코드
ORDER BY count DESC
"""

# Execute the query and fetch the result
unique_values_구조_코드 = con.execute(query).fetchdf()

# Display the result
print(unique_values_구조_코드)

   구조_코드    count
0     21  2014923
1     11  1502117
2     51  1017669
3     32   921047
4     31   762379
5     12   590672
6     33   179454
7     19   169838
8     39    25750
9     10    19657
10    42    18358
11    13    12166
12    41    11027
13    74    10750
14    99    10507
15    63     5301
16    50     4621
17    61     4410
18    52     4356
19    22     4075
20  None     4022
21    29     2122
22    30     1881
23    20     1312
24    23      841
25    34      823
26    53      805
27    37      669
28    43      287
29    72      257
30    49      221
31    81      149
32    26      136
33    14       94
34    35       82
35    40       75
36    24       75
37    36       65
38    90       56
39    17       22
40    27       12
41    60        9
42    80        5
43              3
44    70        2
45     `        1
46    01        1

구조코드: 2자리 숫자열

구조코드 없는 경우 4022, 빈 문자열인 경우 3, 특수문자 1건

구조코드가 없으면 뺄 것인지?

In [86]:
# Query to fetch unique values for 주_용도_코드
query = """
SELECT 주_용도_코드, COUNT(*) AS count
FROM 기본개요_표제부_사용승인일_정상
GROUP BY 주_용도_코드
ORDER BY count DESC
"""

# Execute the query and fetch the result
unique_values_주_용도_코드 = con.execute(query).fetchdf()
# Display the result
with pd.option_context(
    "display.max_rows",
    None,
    "display.max_columns",
    None,
):
    # Display the result with all rows and columns
    print(unique_values_주_용도_코드)

    주_용도_코드    count
0     01000  3831218
1     04000   691059
2     02000   570702
3     03000   556012
4     21000   417057
5     17000   389577
6     18000   378094
7     10000    74222
8     11000    46348
9     15000    46117
10    06000    36381
11    19000    36300
12    14000    36032
13    20000    35986
14    23000    20826
15    05000    14365
16    13000    13571
17    30000    12867
18    22000    12125
19    07000    11813
20    Z3000     9595
21    27000     8878
22    09000     7207
23    31000     6995
24     None     5171
25    16000     5066
26    33000     4835
27    12000     4803
28    25000     4441
29    08000     3681
30    24000     3197
31    Z8000     3181
32    Z5000     2018
33    26000     1579
34    29000      513
35    Z6000      395
36    Z9000      222
37       JY       92
38    21101       67
39    06107       47
40    Z7001       43
41    02003       38
42    03001       29
43    01001       26
44    04010       26
45    32000       26
46    18999       23
47    15200       20
48    04402       19
49    28000       17
50    04100       13
51    04001       13
52    04201       12
53    04999       11
54    03009        8
55    01003        8
56    12100        8
57    14100        6
58    15199        6
59    04203        6
60    21100        4
61    03101        4
62    04005        3
63    27005        3
64    04202        3
65    04200        3
66    01002        3
67    02007        3
68    03999        3
69    07101        3
70    10004        3
71    03010        2
72    b7990        2
73    Z3020        2
74    04105        2
75    02005        2
76    14200        2
77    30999        2
78    03105        2
79    04006        2
80    03100        2
81    a6300        2
82    04199        1
83    04016        1
84    15102        1
85    03199        1
86    04020        1
87    11101        1
88    20999        1
89    03007        1
90    31002        1
91    04002        1
92    21999        1
93    19001        1
94    03020        1
95    02004        1
96    03008        1
97    21001        1
98    31001        1
99    19009        1
100   15205        1
101   02001        1
102   03002        1
103   06109        1
104   17100        1
105      21        1
106   16002        1
107   a0100        1
108   07201        1
109   07100        1
110   11202        1
111   b8990        1
112   15100        1
113   04400        1
114   02002        1
115   04013        1

주용도코드: 5자리 숫자열, 뒷 3자리 000: 대분류 의미

주용도코드 없는 경우 5171

구 4자리 용도 코드 (Z로 시작) 별도 처리 필요

5자리 숫자열에 맞지 않는 경우 존재(JY)

어차피 층별개요의 주용도코드 사용 예정

In [87]:
# Query to fetch unique values for 지붕_코드
query = """
SELECT 지붕_코드, COUNT(*) AS count
FROM 기본개요_표제부_사용승인일_정상
GROUP BY 지붕_코드
ORDER BY count DESC
"""

# Execute the query and fetch the result
unique_values_지붕_코드 = con.execute(query).fetchdf()
# Display the result
with pd.option_context(
    "display.max_rows",
    None,
    "display.max_columns",
    None,
):
    # Display the result with all rows and columns
    print(unique_values_지붕_코드)

   지붕_코드    count
0     10  3291296
1     90  2387188
2     30   835015
3     20   773758
4   None    15733
5     15       80
6     13       18
7     01        4
8     21        4
9     99        2
10    06        2
11     1        2
12     0        1
13    32        1

지붕 코드: 2자리 숫자열

지붕코드 없는 경우 15733

구조코드가 없으면 뺄 것인지?

층별개요 검증 시작

In [130]:
# Drop the view if it already exists
con.execute("DROP VIEW IF EXISTS 층별개요_필요컬럼")

# Create a view with the specified columns
create_view_query = """
CREATE VIEW 층별개요_필요컬럼 AS
SELECT 
    관리_건축물대장_PK,
    대지_위치,
    건물_명,
    층_구분_코드,
    층_구분_코드_명,
    층_번호,
    층_번호_명,
    구조_코드,
    주_용도_코드,
    주_용도_코드_명,
    "면적(㎡)",
    주_부속_구분_코드,
    면적_제외_여부
FROM 층별개요
"""
con.execute(create_view_query)

# Verify the view creation by querying it
view_result = con.execute("SELECT * FROM 층별개요_필요컬럼 LIMIT 5").fetchdf()

# Display the result
with pd.option_context(
    "display.max_rows",
    None,
    "display.max_columns",
    None,
):
    print(view_result)

  관리_건축물대장_PK                   대지_위치    건물_명 층_구분_코드 층_구분_코드_명  층_번호 층_번호_명  \
0    10021950     서울특별시 종로구 숭인동 201번지    None      20        지상     1     1층
1    10021974    서울특별시 종로구 숭인동 1132번지    None      20        지상     1     1층
2   100211003  서울특별시 종로구 부암동 129-10번지  부암스카이빌      10        지하     1   지하1층
3   100211003  서울특별시 종로구 부암동 129-10번지  부암스카이빌      20        지상     1     1층
4   100211003  서울특별시 종로구 부암동 129-10번지  부암스카이빌      20        지상     2     2층

  구조_코드 주_용도_코드    주_용도_코드_명   면적(㎡) 주_부속_구분_코드 면적_제외_여부
0    51   01001         단독주택   29.75          0     None
1    12   04999  기타제2종근린생활시설   36.26          0     None
2    21   02003        다세대주택  161.89          0     None
3    21   02003        다세대주택  137.95          0     None
4    21   02003        다세대주택  137.95          0     None

In [131]:
# Query to count values of 면적_제외_여부
query = """
SELECT 면적_제외_여부, COUNT(*) AS count
FROM 층별개요_필요컬럼
GROUP BY 면적_제외_여부
ORDER BY count DESC
"""

# Execute the query and fetch the result
result = con.execute(query).fetchdf()

# Display the result
with pd.option_context(
    "display.max_rows",
    None,
    "display.max_columns",
    None,
):
    print(result)

  면적_제외_여부     count
0     None  12816630
1        0   7954285
2        1    277800

면적 제외 여부는 기재되지 않은 경우가 12816630,
미제외(0) 7954285,
제외(1) 277800

기재되지 않은 경우 미제외로 판단하여 진행, 제외로 기재된 경우만 제외함

In [132]:
# Query to count values of 주_용도_코드
query = """
SELECT 주_용도_코드, COUNT(*) AS count
FROM 층별개요_필요컬럼
GROUP BY 주_용도_코드
ORDER BY count DESC
"""

# Execute the query and fetch the result
result = con.execute(query).fetchdf()

# Display the result
with pd.option_context(
    "display.max_rows",
    None,
    "display.max_columns",
    None,
):
    print(result)

    주_용도_코드    count
0     01001  6118573
1     02001  2877653
2     01003  1923975
3     02003  1261033
4     03001   903494
5     18001   655616
6     04402   600119
7     04001   563381
8     21101   493776
9     17100   432244
10    03999   330306
11    17999   284297
12    02005   234621
13    04999   221739
14    14202   213301
15    04005   196149
16    21999   164832
17    02002   157461
18    18999   135702
19    03002   116898
20    03005   112282
21    04010   108025
22    04499    90362
23    18101    90040
24    15102    87025
25    14204    82929
26    01002    80811
27    17301    77765
28    10101    67484
29    11201    65775
30    14299    63723
31    20001    59401
32    06101    58931
33    03021    54167
34    04006    49329
35    03007    43710
36    03011    41623
37    03199    40845
38    10103    38953
39    10999    36370
40    10104    35347
41    04002    31598
42    02006    30457
43    10003    30258
44    19001    29711
45    10102    29482
46    23003    29010
47    15199    28669
48    04201    28198
49    17200    26926
50    15002    25828
51    04035    25587
52     None    25487
53    09107    22981
54    10199    22950
55    20006    21687
56    03012    21311
57    03027    21239
58    02004    21030
59    03003    21015
60    16002    20939
61    21006    19917
62    04020    19734
63    11103    19709
64    04299    19532
65    15201    18743
66    04203    18035
67    02007    17892
68    06103    17666
69    04403    16432
70    04014    16421
71    07999    15162
72    04105    14239
73    Z3999    14222
74    19999    14195
75    11102    14110
76    07201    13853
77    13999    13837
78    10301    13539
79    05999    13449
80    22001    12998
81    11202    12836
82    20999    12666
83    03202    12569
84    21203    11863
85    18102    11839
86    04406    11703
87    10107    11640
88    20002    11460
89    04401    11310
90    04102    11243
91    03015    11167
92    20009    11011
93    06199    10998
94    01000    10770
95    14201    10633
96    15205    10520
97    03101    10444
98    16999    10099
99    21003     9877
100   03025     9814
101   15104     9433
102   11999     9392
103   10004     9365
104   30003     9267
105   21204     9259
106   10001     9084
107   04400     9061
108   21100     9046
109   03020     8775
110   27999     8573
111   05499     8510
112   03004     8338
113   04107     8333
114   13011     8081
115   22999     7976
116   06102     7974
117   14199     7747
118   04044     7669
119   09101     7563
120   07101     7332
121   04043     7277
122   06107     7204
123   04040     7171
124   09109     6947
125   03108     6723
126   33001     6602
127   21299     6466
128   04007     6359
129   11199     6271
130   06999     6251
131   10005     6211
132   14102     6210
133   04008     6059
134   15206     6053
135   10201     5898
136   04016     5788
137   15299     5659
138   03010     5655
139   03022     5591
140   19002     5363
141   03008     5214
142   17302     5213
143   19004     5174
144   Z8999     5062
145   01004     5042
146   03019     4825
147   03014     4758
148   15103     4751
149   09999     4617
150   03009     4510
151   18103     4494
152   03105     4309
153   21004     4265
154   15101     4216
155   24004     4183
156   04207     4131
157   03104     4110
158   27005     4108
159   Z3000     4104
160   03013     4095
161   03103     4025
162   21005     4014
163   04199     3835
164   25001     3757
165   10202     3748
166   25999     3739
167   04003     3739
168   13006     3717
169   30001     3706
170   11101     3659
171   14101     3571
172   21102     3542
173   10105     3531
174   20005     3364
175   13001     3335
176   03024     3293
177   11104     3265
178   04037     3063
179   15999     3025
180   07212     2956
181   22005     2928
182   21104     2927
183   31002     2901
184   07104     2881
185   04018     2818
186   10106     2817
187   05201     2736
188   31999     2696
189   03029     2610
190   10002     2566
191   22002     2549
192   05401     2544
193   08007     2534
194   18000     2520
195   23999     2483
196   07199     2476
197   30999     2430
198   16001     2388
199   03112     2341
200   03106     2333
201   19006     2305
202   09104     2260
203   04025     2218
204   03023     2078
205   04000     2064
206   23002     2063
207   15204     2051
208   21108     2024
209   20003     2024
210   05199     1985
211   04030     1984
212   31001     1950
213   12101     1947
214   04045     1913
215   09199     1908
216   20004     1901
217   04012     1859
218   05408     1832
219   21106     1825
220   30004     1823
221   13110     1749
222   30002     1748
223   22004     1718
224   08004     1710
225   04017     1699
226   29001     1684
227   b0299     1683
228   19003     1676
229   05402     1674
230   19009     1669
231   16007     1645
232   03026     1601
233   07102     1598
234   04019     1533
235   20007     1521
236   Z6999     1501
237   22003     1462
238   21107     1453
239   24002     1450
240   07103     1437
241   04009     1408
242   14200     1397
243   05202     1396
244   06100     1385
245   04031     1334
246   04200     1332
247   05108     1323
248   06106     1305
249   03006     1300
250   05101     1265
251   02000     1261
252   Z3001     1259
253   12203     1249
254   08999     1242
255   Z3602     1238
256   13002     1229
257   26999     1210
258   18004     1185
259   04202     1181
260   15100     1172
261   09100     1169
262   05299     1167
263   05404     1166
264   03109     1163
265   12999     1162
266   04399     1161
267   16006     1151
268   06108     1118
269   06105     1117
270   04021     1093
271   11203     1081
272   12299     1079
273   04004     1078
274   18002     1068
275   04022     1057
276   06104     1043
277   17308     1016
278   27007     1004
279   12201     1002
280   17000     1001
281   19010      999
282   04038      976
283   08008      971
284   08001      960
285   10401      958
286   07001      940
287   13008      932
288   24999      930
289   12103      906
290   13107      901
291   Z3600      901
292   03016      891
293   20010      844
294   08003      835
295   13003      830
296   15003      830
297   04208      827
298   05399      823
299   21103      821
300   09103      809
301   24003      805
302   09105      797
303   21001      795
304   03018      767
305   09301      763
306   04109      763
307   Z8000      756
308   03035      742
309   03000      707
310   13104      698
311   19016      697
312   03100      696
313   05301      695
314   13004      694
315   27006      689
316   Z3699      685
317   04024      681
318   08005      680
319   12001      676
320   04013      669
321   09102      669
322   03299      650
323   19005      647
324   04041      646
325   03032      645
326   09108      640
327   Z7001      637
328   04405      633
329   04103      631
330   19011      622
331   21105      616
332   07105      615
333   27008      613
334   12105      593
335   12102      590
336   26004      588
337   12202      569
338   31003      568
339   03031      566
340   10100      562
341   13005      547
342   16004      546
343   27004      537
344   04204      537
345   03203      537
346   30005      535
347   05304      529
348   04046      519
349   19008      518
350   13009      491
351   27009      484
352   24001      482
353   16009      468
354   31005      465
355   15207      461
356   07202      456
357   10399      448
358   07211      444
359   12199      443
360   13014      438
361   15001      433
362   21000      427
363   05501      425
364   17304      424
365   15000      421
366   19017      413
367   03107      411
368   05303      395
369   13102      387
370   03102      384
371   02101      376
372   05502      375
373   04026      375
374   26003      370
375   05403      369
376   24101      367
377   04101      363
378   16000      361
379   13012      360
380   12399      353
381   03028      352
382   10299      350
383   03300      347
384   04036      347
385   19013      332
386   Z3100      331
387   14000      318
388   19012      314
389   26002      313
390   04104      310
391   19018      309
392   18003      309
393   05407      308
394   05599      301
395   07203      297
396   21207      295
397   21002      292
398   03113      285
399   03030      282
400   11100      281
401   13109      279
402   03034      277
403   04304      271
404   24005      271
405   10302      267
406   21205      249
407   05400      246
408   07100      246
409   05405      244
410   04100      242
411   07301      241
412   04106      230
413   20008      224
414   23203      219
415   14203      217
416   04404      213
417   21201      211
418   19014      208
419   Z3400      205
420   04039      204
421   Z3012      182
422   17309      179
423   19019      177
424   17306      175
425   05102      175
426   21200      175
427   07302      166
428   Z9999      164
429   12302      162
430   19007      159
431   Z3205      157
432   05302      148
433   02102      148
434   Z3201      148
435   19020      145
436   10000      141
437   05203      140
438   Z3199      140
439   07210      139
440   04033      138
441   06109      136
442   08006      136
443   04027      135
444   04302      135
445   26005      134
446   16011      133
447   33999      132
448   20000      128
449   05204      123
450   13007      123
451   08002      122
452   04206      119
453   17307      119
454   16010      115
455   b0001      115
456   04301      112
457   21206      112
458   17303      110
459   Z3011      110
460   15203      109
461   07399      109
462   14103      108
463   05200      105
464   04047      104
465   07205      103
466   26001      102
467   15200      102
468   14100       98
469   Z3005       97
470   19000       97
471   19021       97
472   Z3210       96
473   19015       95
474   03017       94
475   09000       93
476   05503       92
477   26101       90
478   04011       89
479   Z5000       87
480   05406       87
481   04205       84
482   12301       84
483   03201       82
484   05107       79
485   04108       78
486   04307       73
487   Z7002       73
488   31004       70
489   27001       70
490   16003       70
491   12104       69
492   Z3019       68
493   Z3002       66
494   Z3004       65
495   23101       60
496   04048       60
497   07209       59
498   Z6000       59
499   22000       59
500   04015       56
501   13106       56
502   04023       55
503   03038       54
504   Z3300       53
505   05100       52
506   04303       52
507   13010       52
508   13108       51
509   26006       51
510   03037       49
511   04049       49
512   04306       49
513   03033       49
514   20011       48
515   13101       46
516   05103       46
517   Z3020       46
518   Z3003       45
519   06110       45
520   Z3305       44
521   Z3206       43
522   21202       41
523   03036       39
524   Z3202       39
525   03110       39
526   04300       38
527   Z3101       37
528   13105       37
529   11000       36
530   03115       36
531   26103       36
532   04305       34
533   03114       33
534   24102       33
535   32102       32
536   06000       32
537   10402       32
538   15208       31
539   Z3603       30
540   04034       30
541   05300       30
542   27002       29
543   Z3499       28
544   12200       28
545   27003       26
546   Z3601       25
547   k3099       25
548   Z3221       24
549   27000       24
550   Z3214       24
551   05000       23
552   16012       23
553   29002       22
554   12305       21
555   09106       21
556   28999       21
557   17305       21
558   Z3007       20
559   13000       20
560   Z3015       19
561   Z3107       19
562   Z3220       18
563   Z3401       18
564   04032       18
565   04050       18
566   12303       18
567   13103       17
568   16005       16
569   Z3302       16
570   Z3103       16
571   Z3010       16
572   04042       16
573   28007       15
574   23006       15
575   Z3105       15
576   05105       15
577   07000       14
578   07206       14
579   03205       13
580   07207       13
581   10303       13
582   Z3021       12
583   Z3217       12
584   Z3399       12
585   07204       12
586   24105       11
587   Z3402       11
588   16008       11
589   07208       11
590   05306       11
591   32103       11
592   Z3014       10
593   24103       10
594   Z3108       10
595   23005       10
596   14206       10
597   09299       10
598   28010       10
599   28009        9
600   Z3216        9
601   Z3022        9
602   32003        8
603   Z3203        8
604   n1300        8
605   Z3104        8
606   n1001        7
607   26000        6
608   Z3501        6
609   Z3023        6
610   Z3208        6
611   a5017        6
612   28006        6
613   Z3207        6
614   23100        6
615   05305        6
616   12304        5
617       창        5
618   24000        5
619   Z3209        5
620   23102        5
621   Z3307        5
622   13100        5
623   Z3008        5
624   12100        5
625   05500        4
626   05104        4
627   19022        4
628   23001        4
629   32101        4
630   Z3009        4
631   28004        4
632   Z3403        4
633   28014        4
634   03204        4
635   09200        4
636   28011        3
637   Z3219        3
638   23202        3
639   26102        3
640   Z3500        3
641   28005        3
642   Z3017        3
643   12000        2
644   32999        2
645   28013        2
646   28012        2
647   b7010        2
648   09201        2
649   32004        2
650   01101        2
651   05205        2
652   76.38        2
653   14001        2
654   Z3304        2
655   Z3106        2
656       점        2
657   Z9001        2
658       홀        2
659   23007        1
660   05106        1
661   03301        1
662   Z3604        1
663   98318        1
664   23000        1
665   10204        1
666   04308        1
667   23004        1
668   Z3212        1
669   Z3018        1
670   24104        1
671   23201        1
672   a1999        1
673       층        1
674   Z3006        1
675   14999        1
676    0399        1
677    3999        1

주용도코드: 5자리 숫자열, 소분류

주용도코드 없는 경우 25487

4자리 코드 (b, k, Z로 시작) 별도 처리 필요

5자리 숫자열에 맞지 않는 경우 존재(창, 홀, 점)

In [133]:
# Query to count rows where 면적(㎡) is less than 0
query = """
SELECT COUNT(*) AS negative_area_count
FROM 층별개요_필요컬럼
WHERE "면적(㎡)" < 0
"""

# Execute the query and fetch the result
negative_area_count = con.execute(query).fetchone()[0]
print(f"Number of rows where 면적(㎡) is less than 0: {negative_area_count}")

Number of rows where 면적(㎡) is less than 0: 195

면적이 0보다 작은 경우 존재. 제외 필요

In [134]:
# Query to fetch the "면적(㎡)" column
query = """
SELECT "면적(㎡)"
FROM 층별개요_필요컬럼
WHERE "면적(㎡)" IS NOT NULL
"""

# Fetch the data
area_data = con.execute(query).fetchdf()

# Calculate statistics
max_value = area_data["면적(㎡)"].max()
mean_value = area_data["면적(㎡)"].mean()
percentile_1m = area_data["면적(㎡)"].quantile(0.999999)  # 1 - 1/1,000,000
percentile_100k = area_data["면적(㎡)"].quantile(0.99999)
percentile_10k = area_data["면적(㎡)"].quantile(0.9999)
percentile_1k = area_data["면적(㎡)"].quantile(0.999)  # 1 - 1/1,000
percentile_1h = area_data["면적(㎡)"].quantile(0.99)  # 1 - 1/100

# Display the results
print(f"Max value:           {max_value: 15.2f}")
print(f"Mean value:          {mean_value: 15.2f}")
print(f"0.999999 percentile: {percentile_1m: 15.2f}")
print(f"0.99999 percentile:  {percentile_100k: 15.2f}")
print(f"0.9999 percentile:   {percentile_10k: 15.2f}")
print(f"0.999 percentile:    {percentile_1k: 15.2f}")
print(f"0.99 percentile:     {percentile_1h: 15.2f}")

Max value:              188957549.00
Mean value:                   227.62
0.999999 percentile:      1824460.16
0.99999 percentile:         71130.88
0.9999 percentile:          29026.12
0.999 percentile:            8396.60
0.99 percentile:             1733.89

In [135]:
# Query to fetch data sorted by 면적(㎡) in descending order
query = """
SELECT *
FROM 층별개요_필요컬럼
ORDER BY "면적(㎡)" DESC
LIMIT 100
"""

# Execute the query and fetch the result
sorted_data = con.execute(query).fetchdf()

# Display the result
with pd.option_context(
    "display.max_rows",
    None,
    "display.max_columns",
    None,
    "display.float_format",
    "{:,.2f}".format,  # Format floats as non-scientific with 2 decimal places
):
    print(sorted_data)

        관리_건축물대장_PK                           대지_위치                건물_명  \
0    11231100281894            경기도 김포시 운양동 1301-1번지          한강신도시 롯데캐슬
1         112512587               경기도 광주시 태전동 687번지          쌍용 스윗닷홈아파트
2         118014186          충청남도 서천군 장항읍 신창리 399번지                한솔제지
3   108215000112847               세종특별자치시 새롬동 554번지            새뜸마을 4단지
4    10591100243012             인천광역시 부평구 십정동 607번지            동암신동아아파트
5    10461100239805             대구광역시 동구 신서동 1188번지       대구혁신도시 비젼스퀘어2
6         105917500          인천광역시 부평구 삼산동 454-13번지                삼산타운
7    10331100178301           부산광역시 동래구 명륜동 756-1번지     동래 센트럴파크 하이츠 2차
8    10841100363865            경기도 수원시 영통구 하동 989번지             원희캐슬 광교
9        1124142100           경기도 화성시 비봉면 양노리 850번지             천산 스카이빌
10        106917066           광주광역시 광산구 신촌동 826-1번지            신촌동대주아파트
11        106917065           광주광역시 광산구 신촌동 826-1번지            신촌동대주아파트
12       1042113207           부산광역시 사상구 감전동 119-6번지              감전초등학교
13       1099125707               경기도 평택시 모곡동 519번지         대신산업(주)평택지점
14   12771100257734  제주특별자치도 서귀포시 대정읍 보성리 2476-13번지           제주 이노에듀타운
15   10941100192702         경기도 안양시 만안구 안양동 969-1번지               주공아파트
16       1008121732           서울특별시 중랑구 중화동 314-1번지         태능시장 주상복합빌딩
17       1002118099             서울특별시 종로구 공평동 100번지      한국스탠다드차타드은행 빌딩
18   10491100224620            대구광역시 북구 칠성동2가 1-2번지          MH엘퍼스트 오페라
19   10491100224620            대구광역시 북구 칠성동2가 1-2번지          MH엘퍼스트 오페라
20        102611578             서울특별시 강동구 상일동 166번지                  본관
21        107818004           울산광역시 남구 무거동 488-13번지      옥현으뜸마을주공3단지아파트
22       1069123465           광주광역시 광산구 월곡동 681-6번지              대반초등학교
23        102611578             서울특별시 강동구 상일동 166번지                  본관
24   10051100189099             서울특별시 성동구 옥수동 560번지              옥수 어울림
25       1134118441           강원특별자치도 원주시 단계동 913번지               평원중학교
26       1226119412           경상북도 포항시 남구 동촌동 5-8번지                None
27   11331100248274           강원특별자치도 춘천시 온의동 590번지      온의 롯데캐슬 스카이클래스
28        106713218              광주광역시 남구 주월동 456번지           주월동 현대아파트
29        119819407       전북특별자치도 임실군 관촌면 도봉리 451번지                None
30        106712157            광주광역시 남구 봉선동 148-1번지          봉선동무등4차아파트
31       1141113819      강원특별자치도 횡성군 강림면 강림리 1562번지              강림초등학교
32   10581100203099           인천광역시 남동구 논현동 774-1번지  에코메트로11단지한화꿈에그린아파트
33   12261100282956           경상북도 포항시 남구 효자동 580번지                None
34       1104118823        경기도 고양시 덕양구 화정동 1148-3번지                장수빌딩
35   10501100184927              대구광역시 수성구 황금동 75번지                None
36   12731100230491          경상남도 거창군 거창읍 가지리 278번지                정은캐슬
37       1112124543              경기도 시흥시 정왕동 1851번지               대림아파트
38       1097118313           경기도 부천시 원미구 중동 1030번지                금강마을
39       1097118312           경기도 부천시 원미구 중동 1030번지                금강마을
40       1097118305           경기도 부천시 원미구 중동 1030번지                금강마을
41       1177112625          충청남도 당진시 사기소동 산110-1번지                None
42       1058118061           인천광역시 남동구 만수동 423-3번지                None
43        106916051          광주광역시 광산구 도산동 1136-1번지           도산동 호반아파트
44       1058123445           인천광역시 남동구 논현동 563-3번지             논현주공아파트
45       1058123445           인천광역시 남동구 논현동 563-3번지             논현주공아파트
46       1058123445           인천광역시 남동구 논현동 563-3번지             논현주공아파트
47   12071100191539              전라남도 광양시 금호동 864번지               후판본공장
48       1049133181              대구광역시 북구 구암동 654번지                None
49        120718802              전라남도 광양시 금호동 640번지                None
50        120718847              전라남도 광양시 금호동 640번지                None
51       1035114692         부산광역시 북구 구포동 1060-470번지                구포역사
52       1226119509          경상북도 포항시 남구 동촌동 5-16번지                None
53       1056138078         인천광역시 미추홀구 주안동 1560-2번지                None
54       1204143736         전라남도 여수시 소라면 덕양리 1242번지               효성아파트
55        120515825          전라남도 순천시 해룡면 신성리 897번지                None
56   10801100218191            울산광역시 북구 산하동 968-1번지         울산블루마시티푸르지오
57   11201100236633          경기도 파주시 월롱면 덕은리 1271번지                None
58      10891119951            경기도 성남시 분당구 분당동 66번지             66건영아파트
59   10251100217272              서울특별시 송파구 잠실동 19번지                잠실엘스
60  125213000244828        경상남도 창원시 마산합포구 월영동 738번지             마린애시앙부영
61   10221100182439          서울특별시 관악구 신림동 1735-3번지             관악산휴먼시아
62        113119813         경기도 양평군 강하면 운심리 510-9번지                None
63       1097117689         경기도 부천시 원미구 중동 1122-1번지                상록빌딩
64   11771100193666          충청남도 당진시 송악읍 한진리 399번지         동국제강(주)당진공장
65        120716874            전라남도 광양시 광영동 258-3번지              광영그린파크
66   12071100218471              전라남도 광양시 금호동 864번지                None
67   10231100189144           서울특별시 서초구 반포동 20-43번지                반포자이
68       1177147834          충청남도 당진시 송악읍 고대리 313번지               당진제철소
69        120718511              전라남도 광양시 금호동 638번지               광양제철소
70        105713067             인천광역시 연수구 연수동 489번지                None
71       1177147834          충청남도 당진시 송악읍 고대리 313번지               당진제철소
72   10251100217272              서울특별시 송파구 잠실동 19번지                잠실엘스
73        120718641              전라남도 광양시 금호동 639번지                None
74       1226136346       경상북도 포항시 남구 대송면 송동리 837번지                None
75       1232111286                경상북도 구미시 봉곡동 5번지            구미봉곡 뜨란채
76       1226119402           경상북도 포항시 남구 동촌동 5-8번지                None
77       1122114165               경기도 안성시 당왕동 536번지               쌍용아파트
78        120718768              전라남도 광양시 금호동 640번지                None
79   11771100194327          충청남도 당진시 송악읍 고대리 334번지                동부제철
80   11771100214389        충청남도 당진시 송악읍 고대리 333-1번지                None
81   10981100177600              경기도 광명시 소하동 1292번지                휴먼시아
82        120718465              전라남도 광양시 금호동 638번지                None
83   10541100227728             인천광역시 중구 운서동 2868번지             제2여객터미널
84        120718780              전라남도 광양시 금호동 640번지                None
85   10571100271562           인천광역시 연수구 송도동 308-1번지          더샵송도 마리나베이
86       1226119482          경상북도 포항시 남구 동촌동 5-14번지                None
87       1226136344       경상북도 포항시 남구 대송면 송동리 837번지                None
88       1226118565           경상북도 포항시 남구 송내동 444번지             현대제철(주)
89   10241100301695            서울특별시 강남구 개포동 1282번지         개포 래미안 포레스트
90       1177147727        충청남도 당진시 송악읍 고대리 167-1번지                 A지구
91   11891100251128           전북특별자치도 군산시 소룡동 679번지                None
92        108217435           세종특별자치시 전의면 신정리 613번지                None
93   12611102178697         경상남도 김해시 주촌면 천곡리 1531번지       김해센텀 두산위브더제니스
94   11381100225831         강원특별자치도 속초시 교동 1024-1번지            체스터톤스 속초
95      12261125355         경상북도 포항시 북구 신흥동 810-5번지                None
96   10891100333935          경기도 성남시 수정구 신흥동 6951번지         산성역포레스티아아파트
97      10891119843            경기도 성남시 분당구 수내동 34번지                양지마을
98   12301100205720         경상북도 김천시 어모면 남산리 1936번지                   .
99   11201100373076              경기도 파주시 목동동 1149번지            힐스테이트 운정

   층_구분_코드 층_구분_코드_명  층_번호   층_번호_명 구조_코드 주_용도_코드    주_용도_코드_명          면적(㎡)  \
0       10        지하     3      지3층    21   02005         부대시설 188,957,549.00
1       10        지하     1       지1    21   02001          아파트  29,107,607.00
2       20        지상     3       3층    31   17100         일반공장   5,702,939.00
3       10        지하     1     지하1층    21    None         None   5,683,645.50
4       10        지하     2       지2    21   02001          아파트   5,063,594.00
5       20        지상     1       1층    21   04001        일반음식점   4,050,626.00
6       10        지하     1     지하1층    21   02001          아파트   3,386,136.00
7       20        지상     1     지상1층    21   04999  기타제2종근린생활시설   3,367,116.00
8       20        지상     3       3층    21   14204          사무소   3,349,886.00
9       10        지하     1      지1층    11   02001          아파트   3,131,783.00
10      20        지상     1       1층    21   02005         부대시설   2,842,400.00
11      20        지상     1       1층    21   02005         부대시설   2,781,190.00
12      20        지상     2       2층    21   10101         초등학교   2,663,808.00
13      20        지상     2        1    32   21001          도축장   2,465,595.00
14      20        지상     1       1층    21   14202         오피스텔   2,431,035.00
15      10        지하     1       지1    21   02001          아파트   2,263,673.00
16      10        지하     1     지하1층    21   07101           시장   2,254,319.00
17      20        지상     1       1층    21   14299     기타일반업무시설   2,090,441.00
18      10        지하     2      지2층    21   14202         오피스텔   1,987,825.00
19      10        지하     1      지1층    21   14202         오피스텔   1,928,575.00
20      20        지상     2       2층    21   10103         고등학교   1,855,415.00
21      10        지하     1       지1    21   02005         부대시설   1,829,760.00
22      20        지상     1       1층    21   10101         초등학교   1,720,965.00
23      20        지상     3       3층    21   10103         고등학교   1,720,415.00
24      10        지하     3      지3층    21   13006        체력단련장   1,656,577.00
25      20        지상     1       1층    21   10102          중학교   1,550,585.00
26      20        지상     1       1층    31   17100         일반공장   1,333,311.73
27      20        지상     1       1층    21   02006         복리시설   1,213,464.00
28      20        지상     0  지하1층,1층    21   02004       생활편익시설   1,169,040.00
29      20        지상     1       1층    33   21101           축사   1,110,358.00
30      20        지상     1       1층    21   02001          아파트   1,063,925.00
31      20        지상     1       1층    21   10101         초등학교   1,004,985.00
32      20        지상     1     지상1층    21   04999  기타제2종근린생활시설     498,364.00
33      20        지상     1       1층    31   03001          소매점     454,389.00
34      20        지상     1       1층    42   04018       자동차영업소     422,830.00
35      10        지하     1      지1층    21   04402          사무소     412,273.00
36      20        지상     8       8층    21   02001          아파트     409,407.00
37      10        지하     1       지1    21   02001          아파트     405,183.00
38      10        지하     1       지층    21   02005         부대시설     394,464.00
39      10        지하     1       지층    21   02005         부대시설     394,464.00
40      10        지하     1       지층    21   02005         부대시설     394,464.00
41      20        지상     1       1층    31   21101           축사     344,850.00
42      10        지하     1      지1층    21   03001          소매점     317,367.00
43      10        지하     1      지1층    21   02005         부대시설     305,034.00
44      20        지상     4       4층    21   02001          아파트     294,138.00
45      20        지상     3       3층    21   02001          아파트     294,138.00
46      20        지상     5       5층    21   02001          아파트     288,397.00
47      20        지상     1       1층    31   17100         일반공장     276,092.34
48      20        지상     4       4층    21   04010           학원     268,356.00
49      20        지상     1       1층    31   17100         일반공장     242,208.17
50      20        지상     1       1층    31   17100         일반공장     222,185.69
51      10        지하     1       지1    21   03199       기타공공시설     221,616.00
52      20        지상     1       1층    31   17100         일반공장     216,121.31
53      20        지상     4       4층    21   04402          사무소     205,715.00
54      20        지상    12      12층    21   02001          아파트     185,869.00
55      20        지상     1       1층    31   17100         일반공장     182,676.43
56      10        지하     1      지1층    21   02005         부대시설     173,439.00
57      10        지하     2      지2층    41   17100         일반공장     172,732.95
58      10        지하     1       지층    21   02005         부대시설     169,045.00
59      10        지하     1      지1층    21   02005         부대시설     167,675.00
60      10        지하     2      지2층    21   02001          아파트     166,095.03
61      20        지상     4       4층    21   04010           학원     164,783.00
62      20        지상     1       1층    21   04001        일반음식점     164,319.00
63      20        지상     1       1층    42   03999  기타제1종근린생활시설     164,265.00
64      20        지상     1       1층    31   17999         기타공장     164,246.68
65      10        지하     1      지1층    19    None         None     160,651.00
66      20        지상     1       1층    31   17999         기타공장     158,391.59
67      10        지하     1      지1층    21   02001          아파트     156,152.52
68      20        지상     1       1층    31   17100         일반공장     149,719.85
69      20        지상     1       1층    31   17100         일반공장     149,171.42
70      20        지상     2       2층    21   01003        다가구주택     148,208.00
71      20        지상     1       1층    31   17100         일반공장     142,115.07
72      10        지하     2      지2층    21   02005         부대시설     141,240.56
73      20        지상     1       1층    31   17100         일반공장     138,019.09
74      20        지상     1       1층    31   17999         기타공장     137,370.34
75      10        지하     1      지1층    21   02001          아파트     137,093.00
76      20        지상     1       1층    31   17200         유해공장     136,324.81
77      20        지상     1     지상1층    21   02005         부대시설     134,546.00
78      20        지상     1       1층    31   17100         일반공장     134,167.95
79      20        지상     1       1층    31   17100         일반공장     131,732.37
80      20        지상     1       1층    31   17100         일반공장     130,402.79
81      20        지상     1     지상1층    21   02001          아파트     128,326.00
82      20        지상     1       1층    31   17999         기타공장     128,167.47
83      20        지상     3       3층    42   08004         공항시설     127,968.28
84      20        지상     1       1층    31   17100         일반공장     126,143.50
85      10        지하     1       지1    21   02005         부대시설     124,213.97
86      20        지상     1       1층    31   17100         일반공장     124,081.22
87      20        지상     1       1층    31   17100         일반공장     122,669.45
88      20        지상     1       1층    31   17100         일반공장     120,643.73
89      10        지하     3      지3층    21   02005         부대시설     119,521.05
90      20        지상     1       1층    31   17100         일반공장     116,583.50
91      20        지상     1       1층    21   03001          소매점     115,546.00
92      20        지상     1       1층    31   17100         일반공장     115,485.47
93      10        지하     1      지1층    21   02005         부대시설     114,371.28
94      10        지하     2      지2층    21   15002       생활숙박시설     114,005.86
95      20        지상     3       3층    21   04402          사무소     112,778.00
96      10        지하     1      지1층    21   02001          아파트     111,005.61
97      20        지상     1       1층    21   02005         부대시설     110,112.18
98      20        지상     1       1층    31   17301      물품 제조공장     110,061.26
99      10        지하     1      지1층    21   02005         부대시설     109,546.67

   주_부속_구분_코드 면적_제외_여부
0           1        0
1           1     None
2           0        0
3           1     None
4           1        0
5           0        0
6           1        0
7           0     None
8           0        0
9           0     None
10          1     None
11          1     None
12          0     None
13          0     None
14          0        0
15          1        0
16          0        0
17          0        0
18          0        0
19          0        0
20          0        0
21          1     None
22          0        0
23          0        0
24          0        0
25          0        0
26          0     None
27          1        0
28          1     None
29          0        0
30          0        0
31          0        0
32          0     None
33          0        0
34          0        0
35          0        0
36          0        0
37          0     None
38          0     None
39          0     None
40          0     None
41          0     None
42          0     None
43          1     None
44          0     None
45          0     None
46          0     None
47          0        0
48          0        1
49          0        0
50          0     None
51          0     None
52          0     None
53          0        0
54          0     None
55          0        0
56          1        0
57          0        0
58          1     None
59          1        0
60          1        0
61          0        0
62          0        0
63          0        0
64          0        0
65          1     None
66          0        0
67          1        0
68          0     None
69          0     None
70          0        0
71          0     None
72          1        0
73          0        0
74          0        0
75          0     None
76          0     None
77          0     None
78          0     None
79          0        0
80          0        0
81          1        0
82          0        0
83          0        0
84          0        0
85          1        0
86          0     None
87          0     None
88          0        0
89          1     None
90          0     None
91          0        0
92          0     None
93          1        0
94          1        0
95          0     None
96          1     None
97          1     None
98          0     None
99          1        0

지하 3층 면적이 188,957,549 으로 기재된 경기 김포 한강신도시 롯데캐슬의 경우, 대지 면적이 65,940 에 불과하여 층별개요에 기재된 면적은 현실적으로 불가능한 수치

이러한 오류 사례를 거르기 위하여 개별 사례를 검토 후 층별 면적이 500,000 이상인 경우 (0.001% 미만 사례) 제외하도록 하였다.

In [136]:
# Drop the view if it already exists
con.execute("DROP VIEW IF EXISTS 층별개요_필터링")

# Create a view with the specified conditions
create_view_query = """
CREATE VIEW 층별개요_필터링 AS
SELECT *
FROM 층별개요_필요컬럼
WHERE (면적_제외_여부 IS NULL OR 면적_제외_여부 != 1)
  AND "면적(㎡)" > 0
  AND "면적(㎡)" <= 500000
"""
con.execute(create_view_query)

# Verify the view creation by querying it
view_result = con.execute("SELECT * FROM 층별개요_필터링 LIMIT 5").fetchdf()

# Display the result
with pd.option_context(
    "display.max_rows",
    None,
    "display.max_columns",
    None,
):
    print(view_result)

  관리_건축물대장_PK                   대지_위치    건물_명 층_구분_코드 층_구분_코드_명  층_번호 층_번호_명  \
0    10021950     서울특별시 종로구 숭인동 201번지    None      20        지상     1     1층
1    10021974    서울특별시 종로구 숭인동 1132번지    None      20        지상     1     1층
2   100211003  서울특별시 종로구 부암동 129-10번지  부암스카이빌      10        지하     1   지하1층
3   100211003  서울특별시 종로구 부암동 129-10번지  부암스카이빌      20        지상     1     1층
4   100211003  서울특별시 종로구 부암동 129-10번지  부암스카이빌      20        지상     2     2층

  구조_코드 주_용도_코드    주_용도_코드_명   면적(㎡) 주_부속_구분_코드 면적_제외_여부
0    51   01001         단독주택   29.75          0     None
1    12   04999  기타제2종근린생활시설   36.26          0     None
2    21   02003        다세대주택  161.89          0     None
3    21   02003        다세대주택  137.95          0     None
4    21   02003        다세대주택  137.95          0     None

In [138]:
# Drop the view if it already exists
con.execute("DROP VIEW IF EXISTS 기본개요_표제부_층별개요_조인")

# Create a view for the joined data
create_view_query = """
CREATE VIEW 기본개요_표제부_층별개요_조인 AS
SELECT 
    a.*,
    b.층_구분_코드,
    b.층_구분_코드_명,
    b.층_번호,
    b.층_번호_명,
    b.구조_코드 AS 층_구조_코드,
    b.주_용도_코드 AS 층_주_용도_코드,
    b.주_용도_코드_명 AS 층_주_용도_코드_명,
    b."면적(㎡)" AS 층_면적,
    b.주_부속_구분_코드 AS 층_주_부속_구분_코드,
    b.면적_제외_여부 AS 층_면적_제외_여부
FROM 기본개요_표제부_사용승인일_정상 a
INNER JOIN 층별개요_필터링 b
ON a.관리_건축물대장_PK = b.관리_건축물대장_PK
"""
con.execute(create_view_query)

# Verify the view creation by querying it
view_result = con.execute(
    "SELECT * FROM 기본개요_표제부_층별개요_조인 LIMIT 5"
).fetchdf()

# Display the result
with pd.option_context(
    "display.max_rows",
    None,
    "display.max_columns",
    None,
):
    print(view_result)

  관리_건축물대장_PK 관리_상위_건축물대장_PK 대장_구분_코드 대장_구분_코드_명 대장_종류_코드 대장_종류_코드_명  \
0  1110126357           None        2         집합        3        표제부
1  1110126357           None        2         집합        3        표제부
2  1110126374           None        2         집합        3        표제부
3  1110126374           None        2         집합        3        표제부
4  1110126374           None        2         집합        3        표제부

                      대지_위치                          도로명_대지_위치    건물_명 시군구_코드  \
0  경기도 남양주시 화도읍 녹촌리 245-7번지  경기도 남양주시 경춘로1842번길 31-1 (화도읍 녹촌리)  고광빌라다동  41360
1  경기도 남양주시 화도읍 녹촌리 245-7번지  경기도 남양주시 경춘로1842번길 31-1 (화도읍 녹촌리)  고광빌라다동  41360
2    경기도 남양주시 다산동 4265-32번지        경기도 남양주시 미금로19번길 12-2 (다산동)    None  41360
3    경기도 남양주시 다산동 4265-32번지        경기도 남양주시 미금로19번길 12-2 (다산동)    None  41360
4    경기도 남양주시 다산동 4265-32번지        경기도 남양주시 미금로19번길 12-2 (다산동)    None  41360

  법정동_코드 대지_구분_코드     번     지 특수지_명    블록    로트  외필지_수     새주소_도로_코드  \
0  25629        0  0245  0007  None  None  None      0  413604391080
1  25629        0  0245  0007  None  None  None      0  413604391080
2  11200        0  4265  0032  None  None  None      0  413604391318
3  11200        0  4265  0032  None  None  None      0  413604391318
4  11200        0  4265  0032  None  None  None      0  413604391318

  새주소_법정동_코드 새주소_지상지하_코드  새주소_본_번  새주소_부_번 지역_코드 지구_코드 구역_코드 지역_코드_명 지구_코드_명  \
0      25601           0       31        1  Z200  None  None   준농림지역    None
1      25601           0       31        1  Z200  None  None   준농림지역    None
2      11202           0       12        2  None  None  None    None    None
3      11202           0       12        2  None  None  None    None    None
4      11202           0       12        2  None  None  None    None    None

  구역_코드_명     생성_일자   동_명 주_부속_구분_코드 주_부속_구분_코드_명  대지_면적(㎡)  건축_면적(㎡)  연면적(㎡)  \
0    None  20220909  None          0         주건축물     711.0    289.92  978.48
1    None  20220909  None          0         주건축물     711.0    289.92  978.48
2    None  20220909  None          0         주건축물       0.0      0.00  158.02
3    None  20220909  None          0         주건축물       0.0      0.00  158.02
4    None  20220909  None          0         주건축물       0.0      0.00  158.02

   용적_률_산정_연면적(㎡) 구조_코드 주_용도_코드 지붕_코드  세대_수(세대)  가구_수(가구)  높이(m)  지상_층_수  \
0             0.0    21   02000    90        16         0   13.4       4
1             0.0    21   02000    90        16         0   13.4       4
2             0.0    11   02000    10         2         0    0.0       2
3             0.0    11   02000    10         2         0    0.0       2
4             0.0    11   02000    10         2         0    0.0       2

   지하_층_수  부속_건축물_수  부속_건축물_면적(㎡)  총_동_연면적(㎡)      허가_일      착공_일    사용승인_일  \
0       0         0           0.0      978.48  19951120  19951100  19960619
1       0         0           0.0      978.48  19951120  19951100  19960619
2       1         0           0.0      158.02      None      None  19811127
3       1         0           0.0      158.02      None      None  19811127
4       1         0           0.0      158.02      None      None  19811127

  허가번호_년  호_수(호)   생성_일자_1 층_구분_코드 층_구분_코드_명  층_번호 층_번호_명 층_구조_코드 층_주_용도_코드  \
0   None       0  20220909      20        지상     3     3층      21     02002
1   None       0  20220909      20        지상     4     4층      21     02002
2   None       0  20220909      20        지상     1     1층      11     02003
3   None       0  20220909      20        지상     2     2층      11     02003
4   None       0  20220909      10        지하     1     지하      11     02005

  층_주_용도_코드_명    층_면적 층_주_부속_구분_코드 층_면적_제외_여부
0        연립주택  244.62            0       None
1        연립주택  244.62            0       None
2       다세대주택   75.37            0       None
3       다세대주택   62.68            0       None
4        부대시설   19.97            0       None

In [139]:
# Query to count rows in 기본개요_표제부_층별개요_조인
query = """
SELECT COUNT(*) AS row_count
FROM 기본개요_표제부_층별개요_조인
"""

# Execute the query and fetch the result
row_count = con.execute(query).fetchone()[0]
print(f"Row count of 기본개요_표제부_층별개요_조인: {row_count}")

Row count of 기본개요_표제부_층별개요_조인: 19614969

In [140]:
# Query to calculate the sum of 층_면적
query = """
SELECT SUM("층_면적") AS total_floor_area
FROM 기본개요_표제부_층별개요_조인
"""

# Execute the query and fetch the result
total_floor_area = con.execute(query).fetchone()[0]
print(f"Total floor area: {total_floor_area:,.0f}")

Total floor area: 4,372,971,283

분석 대상 건축물 층별 면적 합계: 4,372,971,283

2024년 건축물 현황 시도별 건축물 연면적 합계: 4,314,987,939 

일부 오차가 있으며, 통계 집계 기준이나 오류 정정 규칙 등 차이로 인한 것일 수 있음

건축물 현황은 부속 건축물을 집계하지 않으나, 본 연구에서는 재조달원가의 정확한 산정을 위하여 부속 건축물 면적도 포함하였음

In [143]:
# Query to calculate the total area by 층_주_용도_코드 and 층_주_용도_코드명
query = """
SELECT 
    층_주_용도_코드,
    층_주_용도_코드_명,
    SUM("층_면적") AS total_area
FROM 기본개요_표제부_층별개요_조인
GROUP BY 층_주_용도_코드, 층_주_용도_코드_명
ORDER BY total_area DESC
"""

# Execute the query and fetch the result
area_summary = con.execute(query).fetchdf()

# Save the result to a CSV file
output_file = data_root / "floor_usage_area_summary.csv"
area_summary.to_csv(output_file, index=False, encoding="utf-8-sig")

print(f"Summary saved to {output_file}")

Summary saved to D:\데이터\건축데이터 건축허브 개방데이터\floor_usage_area_summary.csv

In [151]:
# Query to calculate the total area by 시군구_코드
query = """
SELECT 
    시군구_코드,
    SUM("층_면적") AS total_area
FROM 기본개요_표제부_층별개요_조인
GROUP BY 시군구_코드
ORDER BY total_area DESC
"""

# Execute the query and fetch the result
area_summary = con.execute(query).fetchdf()

# Load the 시군구 코드 to 시군구명 mapping from the CSV file
sgg_mapping = pd.read_csv(
    "../data/processed/code_sgg.csv", dtype=str, encoding="utf-8-sig"
)

# Merge the area summary with the 시군구명 mapping
area_summary = area_summary.merge(
    sgg_mapping, how="left", left_on="시군구_코드", right_on="시군구코드"
)

# Drop the redundant 시군구코드 column after the merge
area_summary = area_summary.drop(columns=["시군구코드"])
# Save the result to a CSV file
output_file = data_root / "floor_area_by_region_summary.csv"
area_summary.to_csv(output_file, index=False, encoding="utf-8-sig")

print(f"Summary saved to {output_file}")

Summary saved to D:\데이터\건축데이터 건축허브 개방데이터\floor_area_by_region_summary.csv

In [152]:
# Query to calculate the total area by 구조_코드
query = """
SELECT 
    구조_코드,
    SUM("층_면적") AS total_area
FROM 기본개요_표제부_층별개요_조인
GROUP BY 구조_코드
ORDER BY total_area DESC
"""

# Execute the query and fetch the result
area_by_structure_code = con.execute(query).fetchdf()

# Save the result to a CSV file
output_file = data_root / "area_by_structure_code.csv"
area_by_structure_code.to_csv(output_file, index=False, encoding="utf-8-sig")

print(f"Result saved to {output_file}")

Result saved to D:\데이터\건축데이터 건축허브 개방데이터\area_by_structure_code.csv

In [153]:
# Query to calculate the total area by 지붕_코드
query = """
SELECT 
    지붕_코드,
    SUM("층_면적") AS total_area
FROM 기본개요_표제부_층별개요_조인
GROUP BY 지붕_코드
ORDER BY total_area DESC
"""

# Execute the query and fetch the result
area_by_roof_code = con.execute(query).fetchdf()

# Save the result to a CSV file
output_file = data_root / "area_by_roof_code.csv"
area_by_roof_code.to_csv(output_file, index=False, encoding="utf-8-sig")

print(f"Result saved to {output_file}")

Result saved to D:\데이터\건축데이터 건축허브 개방데이터\area_by_roof_code.csv

In [154]:
# Define the output file path for the Parquet file
output_parquet_file = data_root / "기본개요_표제부_층별개요_조인.parquet"

# Query to fetch all data from the view
query = """
SELECT *
FROM 기본개요_표제부_층별개요_조인
"""

# Execute the query and fetch the result as a DataFrame
data = con.execute(query).fetchdf()

# Save the DataFrame to a Parquet file
data.to_parquet(output_parquet_file, index=False)

print(f"Data saved to {output_parquet_file}")

Data saved to D:\데이터\건축데이터 건축허브 개방데이터\기본개요_표제부_층별개요_조인.parquet