In [190]:
import glob
from pathlib import Path, PurePath
import pandas as pd
import duckdb

# Get all sale files in the specified directory
sale_files = glob.glob(str(Path().resolve().parent / "data/실거래가/*sale*.csv"))

# make dictionary of sale files from the list, with the first part of the filename as the key
sale_files = {PurePath(file).stem.split("_")[0]: file for file in sale_files}
sale_files

{'apart': 'C:\\Users\\USER\\Documents\\quacklytics\\data\\실거래가\\apart_sale_all.csv',
 'commercial': 'C:\\Users\\USER\\Documents\\quacklytics\\data\\실거래가\\commercial_sale_all.csv',
 'detached': 'C:\\Users\\USER\\Documents\\quacklytics\\data\\실거래가\\detached_sale_all.csv',
 'factory': 'C:\\Users\\USER\\Documents\\quacklytics\\data\\실거래가\\factory_sale_all.csv',
 'land': 'C:\\Users\\USER\\Documents\\quacklytics\\data\\실거래가\\land_sale_all.csv',
 'multifamily': 'C:\\Users\\USER\\Documents\\quacklytics\\data\\실거래가\\multifamily_sale_all.csv',
 'officetel': 'C:\\Users\\USER\\Documents\\quacklytics\\data\\실거래가\\officetel_sale_all.csv',
 'presale': 'C:\\Users\\USER\\Documents\\quacklytics\\data\\실거래가\\presale_sale_all.csv'}

In [191]:
list(sale_files.keys())

['apart',
 'commercial',
 'detached',
 'factory',
 'land',
 'multifamily',
 'officetel',
 'presale']

In [192]:
from collections import OrderedDict

korean_keys = OrderedDict(
    [
        ("아파트", "apart"),
        ("연립/다세대", "multifamily"),
        ("단독/다가구", "detached"),
        ("오피스텔", "officetel"),
        # ("분양/입주권", "presale"),
        ("상업/업무용", "commercial"),
        # ("토지", "land"),
        ("공장/창고 등", "factory"),
    ]
)
korean_keys

OrderedDict([('아파트', 'apart'),
             ('연립/다세대', 'multifamily'),
             ('단독/다가구', 'detached'),
             ('오피스텔', 'officetel'),
             ('상업/업무용', 'commercial'),
             ('공장/창고 등', 'factory')])

In [193]:
con = duckdb.connect()

con.execute("""
            INSTALL excel;
            LOAD excel;
            """)

In [194]:
# apart

# read apart csv
# df_apart = pd.read_csv(sale_files['apart'], dtype=str)
apart = con.sql(f"""
    SELECT * REPLACE(CONCAT('아파트', NO) AS NO),
           '아파트' AS type
    FROM read_csv('{sale_files["apart"]}', header=true, all_varchar=true)
""")
apart

┌─────────────┬─────────────────────────────────────┬─────────┬─────────┬─────────┬────────────────────────┬──────────────┬──────────┬─────────┬────────────────┬─────────┬─────────┬─────────┬─────────┬──────────┬────────────────────┬────────────────┬──────────┬──────────────┬──────────┬─────────┐
│     NO      │               시군구                │  번지   │  본번   │  부번   │         단지명         │ 전용면적(㎡) │ 계약년월 │ 계약일  │ 거래금액(만원) │   동    │   층    │ 매수자  │ 매도자  │ 건축년도 │       도로명       │ 해제사유발생일 │ 거래유형 │ 중개사소재지 │ 등기일자 │  type   │
│   varchar   │               varchar               │ varchar │ varchar │ varchar │        varchar         │   varchar    │ varchar  │ varchar │    varchar     │ varchar │ varchar │ varchar │ varchar │ varchar  │      varchar       │    varchar     │ varchar  │   varchar    │ varchar  │ varchar │
├─────────────┼─────────────────────────────────────┼─────────┼─────────┼─────────┼────────────────────────┼──────────────┼──────────┼─────────┼────────────────┼─────────┼─────────┼─────────┼─────────┼──────────┼────────────────────┼────────────────┼──────────┼──────────────┼──────────┼─────────┤
│ 아파트1     │ 인천광역시 미추홀구 학익동          │ 719     │ 0719    │ 0000    │ 동아풍림               │ 59.7500      │ 202001   │ 31      │ 25,700         │ NULL    │ 12      │ NULL    │ NULL    │ 1999     │ 소성로 120         │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트2     │ 인천광역시 미추홀구 학익동          │ 125-1   │ 0125    │ 0001    │ 신동아1                │ 41.9600      │ 202001   │ 31      │ 12,800         │ NULL    │ 12      │ NULL    │ NULL    │ 1988     │ 소성로 211         │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트3     │ 인천광역시 미추홀구 학익동          │ 48-2    │ 0048    │ 0002    │ 신동아4                │ 127.0200     │ 202001   │ 31      │ 26,200         │ NULL    │ 5       │ NULL    │ NULL    │ 1990     │ 학익소로61번길 132 │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트4     │ 서울특별시 송파구 방이동            │ 217     │ 0217    │ 0000    │ 대림                   │ 153.4750     │ 202001   │ 31      │ 153,000        │ NULL    │ 11      │ NULL    │ NULL    │ 1985     │ 양재대로 1109      │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트5     │ 서울특별시 송파구 방이동            │ 217     │ 0217    │ 0000    │ 대림                   │ 125.0750     │ 202001   │ 31      │ 145,500        │ NULL    │ 5       │ NULL    │ NULL    │ 1985     │ 양재대로 1109      │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트6     │ 인천광역시 남동구 논현동            │ 766-1   │ 0766    │ 0001    │ 에코메트로9            │ 123.8120     │ 202001   │ 31      │ 46,500         │ NULL    │ 8       │ NULL    │ NULL    │ 2011     │ 에코중앙로 96      │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트7     │ 서울특별시 금천구 독산동            │ 1140    │ 1140    │ 0000    │ 독산동중앙하이츠빌     │ 84.8768      │ 202001   │ 31      │ 55,000         │ NULL    │ 11      │ NULL    │ NULL    │ 2004     │ 범안로 1136        │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트8     │ 인천광역시 미추홀구 도화동          │ 557-1   │ 0557    │ 0001    │ 동원                   │ 47.0700      │ 202001   │ 31      │ 11,000         │ NULL    │ 1       │ NULL    │ NULL    │ 1987     │ 주안로 27          │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트9     │ 부산광역시 동래구 사직동            │ 139-5   │ 0139    │ 0005    │ 동원                   │ 59.6400      │ 202001   │ 31      │ 16,600         │ NULL    │ 3       │ NULL    │ NULL    │ 1980     │ 여고북로 140       │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트10    │ 부산광역시 동래구 사직동            │ 1028    │ 1028    │ 0000    │ 사직KCC스위첸2단지     │ 84.9921      │ 202001   │ 31      │ 57,800         │ NULL    │ 15      │ NULL    │ NULL    │ 2016     │ 사직북로 64        │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│    ·        │           ·                         │  ·      │  ·      │  ·      │        ·               │    ·         │   ·      │ ·       │   ·            │  ·      │ ·       │  ·      │  ·      │  ·       │      ·             │  ·             │  ·       │  ·           │  ·       │   ·     │
│    ·        │           ·                         │  ·      │  ·      │  ·      │        ·               │    ·         │   ·      │ ·       │   ·            │  ·      │ ·       │  ·      │  ·      │  ·       │      ·             │  ·             │  ·       │  ·           │  ·       │   ·     │
│    ·        │           ·                         │  ·      │  ·      │  ·      │        ·               │    ·         │   ·      │ ·       │   ·            │  ·      │ ·       │  ·      │  ·      │  ·       │      ·             │  ·             │  ·       │  ·           │  ·       │   ·     │
│ 아파트9991  │ 경상남도 진주시 평거동              │ 1132    │ 1132    │ 0000    │ 엠코타운더프라하       │ 119.7937     │ 202001   │ 23      │ 47,000         │ NULL    │ 4       │ NULL    │ NULL    │ 2014     │ 새평거로 30        │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트9992  │ 경상남도 진주시 가좌동              │ 1981    │ 1981    │ 0000    │ 센트렐웰가             │ 59.4500      │ 202001   │ 23      │ 27,000         │ NULL    │ 11      │ NULL    │ NULL    │ 2018     │ 진주역로73번길     │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트9993  │ 경상남도 양산시 물금읍 범어리       │ 2713-1  │ 2713    │ 0001    │ 신창비바패밀리         │ 84.8390      │ 202001   │ 23      │ 23,600         │ NULL    │ 4       │ NULL    │ NULL    │ 2009     │ 신주로 69          │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트9994  │ 강원특별자치도 동해시 동회동        │ 451     │ 0451    │ 0000    │ 북삼하우스디아파트     │ 84.9625      │ 202001   │ 23      │ 26,000         │ NULL    │ 26      │ NULL    │ NULL    │ 2018     │ 효자남길 33-20     │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트9995  │ 전북특별자치도 군산시 옥산면 당북리 │ 1048    │ 1048    │ 0000    │ 군산대광로제비앙아파트 │ 84.9959      │ 202001   │ 23      │ 22,400         │ NULL    │ 14      │ NULL    │ NULL    │ 2017     │ 월명로 55          │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트9996  │ 경상남도 창원시 성산구 사파동       │ 93      │ 0093    │ 0000    │ 동성                   │ 59.9200      │ 202001   │ 23      │ 16,700         │ NULL    │ 16      │ NULL    │ NULL    │ 1992     │ 창이대로 737       │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트9997  │ 경상북도 경산시 중방동              │ 893     │ 0893    │ 0000    │ 중방e-편한세상1단지    │ 84.9690      │ 202001   │ 23      │ 42,500         │ NULL    │ 10      │ NULL    │ NULL    │ 2010     │ 대학로32길 12      │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트9998  │ 전북특별자치도 정읍시 상동          │ 17-1    │ 0017    │ 0001    │ 대림                   │ 59.5750      │ 202001   │ 23      │ 7,800          │ NULL    │ 8       │ NULL    │ NULL    │ 1993     │ 금붕1길 1-1        │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트9999  │ 전북특별자치도 정읍시 상동          │ 82      │ 0082    │ 0000    │ 우미타운               │ 59.8800      │ 202001   │ 23      │ 8,350          │ NULL    │ 13      │ NULL    │ NULL    │ 1997     │ 학산로 95          │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
│ 아파트10000 │ 전북특별자치도 전주시 덕진구 만성동 │ 1367-1  │ 1367    │ 0001    │ 골드클래스             │ 84.9525      │ 202001   │ 23      │ 39,500         │ NULL    │ 15      │ NULL    │ NULL    │ 2018     │ 만성로 181         │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │
├─────────────┴─────────────────────────────────────┴─────────┴─────────┴─────────┴────────────────────────┴──────────────┴──────────┴─────────┴────────────────┴─────────┴─────────┴─────────┴─────────┴──────────┴────────────────────┴────────────────┴──────────┴──────────────┴──────────┴─────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                                                                              21 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [195]:
con.sql("""
        SELECT 계약년월, COUNT(*) as count 
        FROM apart 
        GROUP BY 계약년월 
        ORDER BY count DESC
""")

┌──────────┬────────┐
│ 계약년월 │ count  │
│ varchar  │ int64  │
├──────────┼────────┤
│ 202006   │ 112409 │
│ 202011   │  94480 │
│ 202012   │  87100 │
│ 202002   │  83302 │
│ 202007   │  78316 │
│ 202010   │  72068 │
│ 202005   │  63567 │
│ 202101   │  62491 │
│ 202103   │  62147 │
│ 202105   │  59050 │
│   ·      │    ·   │
│   ·      │    ·   │
│   ·      │    ·   │
│ 202202   │  24466 │
│ 202206   │  23750 │
│ 202201   │  22525 │
│ 202301   │  20209 │
│ 202207   │  18541 │
│ 202208   │  17826 │
│ 202210   │  17228 │
│ 202209   │  16508 │
│ 202211   │  16068 │
│ 202212   │  15642 │
├──────────┴────────┤
│      60 rows      │
│    (20 shown)     │
└───────────────────┘

In [196]:
con.sql("""
        SELECT 동, COUNT(*) as count 
        FROM apart 
        GROUP BY 동 
        ORDER BY count DESC
""")

┌───────────────────────┬─────────┐
│          동           │  count  │
│        varchar        │  int64  │
├───────────────────────┼─────────┤
│ NULL                  │ 1824462 │
│ 101                   │   60995 │
│ 102                   │   52326 │
│ 103                   │   41412 │
│ 104                   │   30786 │
│ 105                   │   28629 │
│ 106                   │   23387 │
│ 107                   │   18609 │
│ 101동                 │   14730 │
│ 108                   │   14532 │
│  ·                    │       · │
│  ·                    │       · │
│  ·                    │       · │
│ 아르미안              │       1 │
│ 길원탑아파트          │       1 │
│ 3434                  │       1 │
│ 삼창아파트            │       1 │
│ 행강타운              │       1 │
│ 도남1차e-편한세상 101 │       1 │
│ 대준블루인            │       1 │
│ 모아센텀스타          │       1 │
│ 연희빌                │       1 │
│ 효림다온              │       1 │
├───────────────────────┴─────────┤
│ 5461 rows (20 shown)  2 columns │
└─────────────────────────────────┘

In [197]:
con.sql("""
        SELECT 층, COUNT(*) as count 
        FROM apart 
        GROUP BY 층
        ORDER BY count DESC
""")

┌─────────┬────────┐
│   층    │ count  │
│ varchar │ int64  │
├─────────┼────────┤
│ 5       │ 187341 │
│ 4       │ 187094 │
│ 3       │ 179177 │
│ 2       │ 170952 │
│ 6       │ 151812 │
│ 1       │ 151080 │
│ 7       │ 143006 │
│ 8       │ 140687 │
│ 9       │ 137865 │
│ 10      │ 135884 │
│ ·       │      · │
│ ·       │      · │
│ ·       │      · │
│ 76      │      6 │
│ 72      │      6 │
│ 80      │      6 │
│ 75      │      5 │
│ 79      │      4 │
│ 78      │      4 │
│ 81      │      3 │
│ -3      │      3 │
│ 83      │      2 │
│ 82      │      1 │
├─────────┴────────┤
│     86 rows      │
│    (20 shown)    │
└──────────────────┘

In [198]:
con.sql("""
        SELECT 건축년도, COUNT(*) as count 
        FROM apart 
        GROUP BY 건축년도
        ORDER BY count DESC
""")

┌──────────┬────────┐
│ 건축년도 │ count  │
│ varchar  │ int64  │
├──────────┼────────┤
│ 2018     │ 113698 │
│ 2017     │ 104255 │
│ 1997     │ 103838 │
│ 1998     │  98434 │
│ 1995     │  96320 │
│ 1996     │  94976 │
│ 1994     │  89755 │
│ 1999     │  87902 │
│ 2004     │  85468 │
│ 1993     │  82691 │
│  ·       │     ·  │
│  ·       │     ·  │
│  ·       │     ·  │
│ 1962     │    418 │
│ 1969     │    321 │
│ 1973     │    207 │
│ 1972     │    176 │
│ 1970     │    146 │
│ 1968     │     52 │
│ 1961     │     20 │
│ 1966     │     13 │
│ 1967     │     11 │
│ 1965     │      6 │
├──────────┴────────┤
│      62 rows      │
│    (20 shown)     │
└───────────────────┘

In [199]:
con.sql("""
        SELECT 해제사유발생일, COUNT(*) as count 
        FROM apart 
        GROUP BY 해제사유발생일
        ORDER BY count DESC
""")

┌────────────────┬─────────┐
│ 해제사유발생일 │  count  │
│    varchar     │  int64  │
├────────────────┼─────────┤
│ NULL           │ 2468377 │
│ 20201223       │     447 │
│ 20211022       │     390 │
│ 20200715       │     334 │
│ 20201123       │     326 │
│ 20210813       │     325 │
│ 20200713       │     313 │
│ 20201130       │     312 │
│ 20241207       │     309 │
│ 20200618       │     299 │
│    ·           │       · │
│    ·           │       · │
│    ·           │       · │
│ 20221204       │       1 │
│ 20250506       │       1 │
│ 20240210       │       1 │
│ 20210919       │       1 │
│ 20230604       │       1 │
│ 20240225       │       1 │
│ 20240908       │       1 │
│ 20200426       │       1 │
│ 20230123       │       1 │
│ 20240211       │       1 │
├────────────────┴─────────┤
│   1895 rows (20 shown)   │
└──────────────────────────┘

In [200]:
con.sql("""
        SELECT 거래유형, COUNT(*) as count 
        FROM apart 
        GROUP BY 거래유형
        ORDER BY count DESC
""")

┌──────────┬─────────┐
│ 거래유형 │  count  │
│ varchar  │  int64  │
├──────────┼─────────┤
│ NULL     │ 1402827 │
│ 중개거래 │ 1057548 │
│ 직거래   │  136774 │
└──────────┴─────────┘

In [201]:
con.sql("""
        SELECT 등기일자, COUNT(*) as count 
        FROM apart 
        GROUP BY 등기일자
        ORDER BY count DESC
""")

┌──────────┬─────────┐
│ 등기일자 │  count  │
│ varchar  │  int64  │
├──────────┼─────────┤
│ NULL     │ 1781866 │
│ 24.09.30 │    8181 │
│ 24.08.30 │    7028 │
│ 24.11.29 │    6305 │
│ 24.10.31 │    6081 │
│ 24.06.28 │    5682 │
│ 23.06.30 │    5538 │
│ 23.11.30 │    5097 │
│ 23.04.28 │    4968 │
│ 24.04.30 │    4874 │
│    ·     │       · │
│    ·     │       · │
│    ·     │       · │
│ 25.05.08 │      25 │
│ 25.05.19 │      24 │
│ 25.05.13 │      23 │
│ 23.01.02 │      22 │
│ 25.05.14 │      21 │
│ 25.05.21 │      10 │
│ 25.05.01 │       5 │
│ 23.05.28 │       2 │
│ 25.05.22 │       1 │
│ 23.03.26 │       1 │
├──────────┴─────────┤
│      590 rows      │
│     (20 shown)     │
└────────────────────┘

In [202]:
# multifamily

# read multifamily csv
multifamily = con.sql(f"""
    SELECT * REPLACE(CONCAT('연립/다세대', NO) AS NO),
           '연립/다세대' AS type
    FROM read_csv('{sale_files["multifamily"]}', header=true, all_varchar=true)
""")
multifamily

┌──────────────────┬───────────────────────────────┬─────────┬─────────┬─────────┬──────────────────────────┬──────────────┬────────────────┬──────────┬─────────┬────────────────┬─────────┬─────────┬─────────┬──────────┬─────────────────────┬────────────────┬──────────┬──────────────┬──────────┬─────────────┐
│        NO        │            시군구             │  번지   │  본번   │  부번   │          건물명          │ 전용면적(㎡) │ 대지권면적(㎡) │ 계약년월 │ 계약일  │ 거래금액(만원) │   층    │ 매수자  │ 매도자  │ 건축년도 │       도로명        │ 해제사유발생일 │ 거래유형 │ 중개사소재지 │ 등기일자 │    type     │
│     varchar      │            varchar            │ varchar │ varchar │ varchar │         varchar          │   varchar    │    varchar     │ varchar  │ varchar │    varchar     │ varchar │ varchar │ varchar │ varchar  │       varchar       │    varchar     │ varchar  │   varchar    │ varchar  │   varchar   │
├──────────────────┼───────────────────────────────┼─────────┼─────────┼─────────┼──────────────────────────┼──────────────┼────────────────┼──────────┼─────────┼────────────────┼─────────┼─────────┼─────────┼──────────┼─────────────────────┼────────────────┼──────────┼──────────────┼──────────┼─────────────┤
│ 연립/다세대1     │ 대전광역시 대덕구 송촌동      │ 242-53  │ 0242    │ 0053    │ 국제빌라(242-53)         │ 72.5400      │ 52.3800        │ 202001   │ 31      │ 10,300         │ 4       │ NULL    │ NULL    │ 1994     │ 한밭대로1283번길 54 │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대2     │ 서울특별시 은평구 신사동      │ 19-101  │ 0019    │ 0101    │ 해원맨숀(19-101)         │ 84.4700      │ 74.6200        │ 202001   │ 31      │ 45,140         │ 1       │ NULL    │ NULL    │ 1980     │ 은평로1길 6-10      │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대3     │ 경기도 용인시 수지구 신봉동   │ 1024    │ 1024    │ 0000    │ 광교산한양수자인더킨포크 │ 84.9460      │ 143.8322       │ 202001   │ 31      │ 40,400         │ 3       │ NULL    │ NULL    │ 2017     │ 태봉로 17           │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대4     │ 경기도 부천시 오정구 오정동   │ 617-9   │ 0617    │ 0009    │ 건우주택(617-9)          │ 39.7800      │ 33.6550        │ 202001   │ 31      │ 9,500          │ 4       │ NULL    │ NULL    │ 1993     │ 상오정로94번길 8    │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대5     │ 경기도 부천시 오정구 고강동   │ 392-20  │ 0392    │ 0020    │ 금성주택3동              │ 35.7600      │ 35.1700        │ 202001   │ 31      │ 10,200         │ 1       │ NULL    │ NULL    │ 1990     │ 역곡로496번길 73    │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대6     │ 경기도 부천시 원미구 심곡동   │ 126-1   │ 0126    │ 0001    │ 진양                     │ 36.6000      │ 30.0889        │ 202001   │ 31      │ 11,500         │ 1       │ NULL    │ NULL    │ 1983     │ 부흥로413번길 15    │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대7     │ 서울특별시 동작구 사당동      │ 278-30  │ 0278    │ 0030    │ 카보드빌                 │ 62.6300      │ 34.6900        │ 202001   │ 31      │ 37,000         │ 1       │ NULL    │ NULL    │ 2009     │ 사당로16다길 30     │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대8     │ 경기도 부천시 오정구 오정동   │ 140-75  │ 0140    │ 0075    │ 삼성주택다동             │ 25.3200      │ 27.9800        │ 202001   │ 31      │ 7,000          │ 2       │ NULL    │ NULL    │ 1990     │ 상오정로108번길 28  │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대9     │ 경기도 부천시 소사구 괴안동   │ 32      │ 0032    │ 0000    │ 조공2차                  │ 78.1560      │ 78.2726        │ 202001   │ 31      │ 30,000         │ 4       │ NULL    │ NULL    │ 1985     │ 안곡로 22           │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대10    │ 경기도 안산시 단원구 와동     │ 829-1   │ 0829    │ 0001    │ 배원                     │ 44.2800      │ 48.3830        │ 202001   │ 31      │ 10,000         │ 3       │ NULL    │ NULL    │ 1989     │ 화정로1길 17        │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│       ·          │          ·                    │   ·     │  ·      │  ·      │  ·                       │    ·         │    ·           │   ·      │ ·       │   ·            │ ·       │  ·      │  ·      │  ·       │      ·              │  ·             │  ·       │  ·           │  ·       │      ·      │
│       ·          │          ·                    │   ·     │  ·      │  ·      │  ·                       │    ·         │    ·           │   ·      │ ·       │   ·            │ ·       │  ·      │  ·      │  ·       │      ·              │  ·             │  ·       │  ·           │  ·       │      ·      │
│       ·          │          ·                    │   ·     │  ·      │  ·      │  ·                       │    ·         │    ·           │   ·      │ ·       │   ·            │ ·       │  ·      │  ·      │  ·       │      ·              │  ·             │  ·       │  ·           │  ·       │      ·      │
│ 연립/다세대9991  │ 경기도 군포시 당정동          │ 1006-6  │ 1006    │ 0006    │ (1006-6)                 │ 40.1500      │ 65.4033        │ 202001   │ 07      │ 18,000         │ 1       │ NULL    │ NULL    │ 1983     │ 한세로12번안길 8    │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대9992  │ 경기도 군포시 금정동          │ 699-4   │ 0699    │ 0004    │ 영진A동                  │ 31.3600      │ 21.0917        │ 202001   │ 07      │ 12,000         │ 3       │ NULL    │ NULL    │ 1989     │ 금정로18번길 16-1   │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대9993  │ 경기도 군포시 금정동          │ 711-12  │ 0711    │ 0012    │ 까치하이츠9동            │ 36.1800      │ 21.5250        │ 202001   │ 07      │ 12,000         │ -1      │ NULL    │ NULL    │ 1989     │ 번영로587번길 21-2  │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대9994  │ 경기도 군포시 금정동          │ 747-27  │ 0747    │ 0027    │ 중앙빌라4차              │ 36.3000      │ 26.8125        │ 202001   │ 07      │ 18,000         │ 1       │ NULL    │ NULL    │ 1990     │ 쟁골1길 21          │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대9995  │ 경기도 시흥시 신천동          │ 745-1   │ 0745    │ 0001    │ 미림아트빌               │ 53.0100      │ 28.4500        │ 202001   │ 07      │ 7,000          │ -1      │ NULL    │ NULL    │ 2002     │ 삼미시장2길 4       │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대9996  │ 경기도 시흥시 은행동          │ 274-3   │ 0274    │ 0003    │ 동경주택8차다동          │ 76.1500      │ 48.8750        │ 202001   │ 07      │ 13,000         │ 1       │ NULL    │ NULL    │ 1992     │ 검바위2로 40-24     │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대9997  │ 경기도 시흥시 신천동          │ 776-14  │ 0776    │ 0014    │ 솔빛마을8차1동           │ 24.4200      │ 12.9700        │ 202001   │ 07      │ 8,300          │ 4       │ NULL    │ NULL    │ 2002     │ 신천로104번길 14-1  │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대9998  │ 경기도 오산시 원동            │ 781-3   │ 0781    │ 0003    │ 신안경일연립             │ 64.2000      │ 56.0000        │ 202001   │ 07      │ 12,000         │ 2       │ NULL    │ NULL    │ 1978     │ 원동로 15           │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대9999  │ 경기도 오산시 수청동          │ 370     │ 0370    │ 0000    │ 화성국민주택             │ 50.0400      │ 68.3376        │ 202001   │ 07      │ 9,300          │ 3       │ NULL    │ NULL    │ 1984     │ 청학로173번길 6     │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
│ 연립/다세대10000 │ 경기도 남양주시 진접읍 장현리 │ 423-1   │ 0423    │ 0001    │ 장현리스카이캐슬105동    │ 59.4450      │ 72.7071        │ 202001   │ 07      │ 15,950         │ 3       │ NULL    │ NULL    │ 2013     │ 장현천로76번길 8    │ NULL           │ NULL     │ NULL         │ NULL     │ 연립/다세대 │
├──────────────────┴───────────────────────────────┴─────────┴─────────┴─────────┴──────────────────────────┴──────────────┴────────────────┴──────────┴─────────┴────────────────┴─────────┴─────────┴─────────┴──────────┴─────────────────────┴────────────────┴──────────┴──────────────┴──────────┴─────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                                                                                           21 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [203]:
con.sql("""
        SELECT 거래유형, COUNT(*) as count 
        FROM multifamily 
        GROUP BY 거래유형
        ORDER BY count DESC
""")

┌──────────┬────────┐
│ 거래유형 │ count  │
│ varchar  │ int64  │
├──────────┼────────┤
│ NULL     │ 374614 │
│ 중개거래 │ 213977 │
│ 직거래   │  96891 │
└──────────┴────────┘

In [204]:
# detached

# read detached csv
detached = con.sql(f"""
    SELECT * REPLACE(CONCAT('단독/다가구', NO) AS NO),
           "주택유형" AS type
    FROM read_csv('{sale_files["detached"]}', header=true, all_varchar=true)
""")
detached

┌─────────────────┬───────────────────────────────────────────┬─────────┬──────────┬──────────┬────────────┬──────────────┬──────────┬─────────┬────────────────┬─────────┬─────────┬──────────┬──────────────────┬────────────────┬──────────┬──────────────┬─────────┐
│       NO        │                  시군구                   │  번지   │ 주택유형 │ 도로조건 │ 연면적(㎡) │ 대지면적(㎡) │ 계약년월 │ 계약일  │ 거래금액(만원) │  매수   │  매도   │ 건축년도 │      도로명      │ 해제사유발생일 │ 거래유형 │ 중개사소재지 │  type   │
│     varchar     │                  varchar                  │ varchar │ varchar  │ varchar  │  varchar   │   varchar    │ varchar  │ varchar │    varchar     │ varchar │ varchar │ varchar  │     varchar      │    varchar     │ varchar  │   varchar    │ varchar │
├─────────────────┼───────────────────────────────────────────┼─────────┼──────────┼──────────┼────────────┼──────────────┼──────────┼─────────┼────────────────┼─────────┼─────────┼──────────┼──────────────────┼────────────────┼──────────┼──────────────┼─────────┤
│ 단독/다가구1    │ 강원특별자치도 춘천시 서면 현암리         │ 4**     │ 단독     │ 8m미만   │ 38.25      │ 108.00       │ 202001   │ 31      │ 6,700          │ NULL    │ NULL    │ 2013     │ 유천길           │ NULL           │ NULL     │ NULL         │ 단독    │
│ 단독/다가구2    │ 충청남도 아산시 신창면 오목리             │ *       │ 단독     │ 12m미만  │ 290.89     │ 843.00       │ 202001   │ 31      │ 16,735         │ NULL    │ NULL    │ 1934     │ 서부북로         │ NULL           │ NULL     │ NULL         │ 단독    │
│ 단독/다가구3    │ 충청북도 충주시 교현동                    │ 4**     │ 단독     │ 8m미만   │ 84.72      │ 161.00       │ 202001   │ 31      │ 10,500         │ NULL    │ NULL    │ 2009     │ 월촌1길          │ NULL           │ NULL     │ NULL         │ 단독    │
│ 단독/다가구4    │ 강원특별자치도 양구군 국토정중앙면 용하리 │ 3**     │ 단독     │ 8m미만   │ 81.84      │ 621.00       │ 202001   │ 31      │ 5,600          │ NULL    │ NULL    │ 1993     │ 정중앙로663번길  │ NULL           │ NULL     │ NULL         │ 단독    │
│ 단독/다가구5    │ 전북특별자치도 군산시 송풍동              │ 9**     │ 단독     │ 12m미만  │ 54.40      │ 85.00        │ 202001   │ 31      │ 2,700          │ NULL    │ NULL    │ 1970     │ 신풍2길          │ NULL           │ NULL     │ NULL         │ 단독    │
│ 단독/다가구6    │ 전라남도 영광군 군남면 설매리             │ 3**     │ 단독     │ 8m미만   │ 26.40      │ 516.00       │ 202001   │ 31      │ 1,000          │ NULL    │ NULL    │ 1956     │ 천년로5길        │ NULL           │ NULL     │ NULL         │ 단독    │
│ 단독/다가구7    │ 경기도 수원시 권선구 고색동               │ 2**     │ 다가구   │ 8m미만   │ 440.17     │ 264.00       │ 202001   │ 31      │ 115,000        │ NULL    │ NULL    │ 2018     │ 고현로5번길      │ NULL           │ NULL     │ NULL         │ 다가구  │
│ 단독/다가구8    │ 경기도 부천시 원미구 심곡동               │ 3**     │ 단독     │ 12m미만  │ 254.67     │ 149.00       │ 202001   │ 31      │ 56,000         │ NULL    │ NULL    │ 1989     │ 부일로391번길    │ NULL           │ NULL     │ NULL         │ 단독    │
│ 단독/다가구9    │ 경기도 부천시 원미구 심곡동               │ 4**     │ 다가구   │ 8m미만   │ 215.52     │ 136.00       │ 202001   │ 31      │ 54,000         │ NULL    │ NULL    │ 1987     │ 원미로18번길     │ NULL           │ NULL     │ NULL         │ 다가구  │
│ 단독/다가구10   │ 경기도 파주시 월롱면 덕은리               │ 9*      │ 단독     │ NULL     │ 405.68     │ 788.00       │ 202001   │ 31      │ 23,800         │ NULL    │ NULL    │ 1984     │ 휴암로79번길     │ NULL           │ NULL     │ NULL         │ 단독    │
│       ·         │              ·                            │ ·       │  ·       │  ·       │   ·        │   ·          │   ·      │ ·       │   ·            │  ·      │  ·      │  ·       │   ·              │  ·             │  ·       │  ·           │  ·      │
│       ·         │              ·                            │ ·       │  ·       │  ·       │   ·        │   ·          │   ·      │ ·       │   ·            │  ·      │  ·      │  ·       │   ·              │  ·             │  ·       │  ·           │  ·      │
│       ·         │              ·                            │ ·       │  ·       │  ·       │   ·        │   ·          │   ·      │ ·       │   ·            │  ·      │  ·      │  ·       │   ·              │  ·             │  ·       │  ·           │  ·      │
│ 단독/다가구3671 │ 강원특별자치도 춘천시 남산면 백양리       │ 3**     │ 다가구   │ 8m미만   │ 254.45     │ 883.00       │ 202002   │ 17      │ 26,300         │ NULL    │ NULL    │ 2013     │ 서백길           │ NULL           │ NULL     │ NULL         │ 다가구  │
│ 단독/다가구3672 │ 서울특별시 금천구 시흥동                  │ 8**     │ 다가구   │ 8m미만   │ 188.91     │ 134.05       │ 202002   │ 17      │ 60,000         │ NULL    │ NULL    │ 1983     │ 금하로9길        │ NULL           │ NULL     │ NULL         │ 다가구  │
│ 단독/다가구3673 │ 서울특별시 금천구 시흥동                  │ 8**     │ 다가구   │ 8m미만   │ 166.86     │ 111.90       │ 202002   │ 17      │ 70,000         │ NULL    │ NULL    │ 1990     │ 금하로23나길     │ NULL           │ NULL     │ NULL         │ 다가구  │
│ 단독/다가구3674 │ 부산광역시 수영구 망미동                  │ 8**     │ 단독     │ 12m미만  │ 406.90     │ 132.90       │ 202002   │ 17      │ 70,000         │ NULL    │ NULL    │ 1991     │ 망미로28번길     │ NULL           │ NULL     │ NULL         │ 단독    │
│ 단독/다가구3675 │ 부산광역시 수영구 망미동                  │ 5**     │ 단독     │ 8m미만   │ 66.12      │ 111.40       │ 202002   │ 17      │ 21,000         │ NULL    │ NULL    │ 1974     │ 망미배산로36번길 │ NULL           │ NULL     │ NULL         │ 단독    │
│ 단독/다가구3676 │ 경기도 동두천시 동두천동                  │ 1*      │ 단독     │ 8m미만   │ 175.14     │ 492.00       │ 202002   │ 17      │ 36,778         │ NULL    │ NULL    │ 2019     │ 안창말로46번길   │ NULL           │ NULL     │ NULL         │ 단독    │
│ 단독/다가구3677 │ 서울특별시 도봉구 방학동                  │ 6**     │ 다가구   │ 8m미만   │ 220.80     │ 120.70       │ 202002   │ 17      │ 54,750         │ NULL    │ NULL    │ 1994     │ 도당로13라길     │ NULL           │ NULL     │ NULL         │ 다가구  │
│ 단독/다가구3678 │ 서울특별시 도봉구 방학동                  │ 6**     │ 다가구   │ 8m미만   │ 199.26     │ 120.40       │ 202002   │ 17      │ 47,400         │ NULL    │ NULL    │ 1991     │ 도당로13라길     │ NULL           │ NULL     │ NULL         │ 다가구  │
│ 단독/다가구3679 │ 대구광역시 달서구 송현동                  │ 7**     │ 다가구   │ 12m미만  │ 359.70     │ 212.00       │ 202002   │ 17      │ 57,000         │ NULL    │ NULL    │ 2006     │ 월배로72길       │ NULL           │ NULL     │ NULL         │ 다가구  │
│ 단독/다가구3680 │ 인천광역시 부평구 십정동                  │ 5**     │ 단독     │ 8m미만   │ 289.06     │ 194.10       │ 202002   │ 17      │ 44,000         │ NULL    │ NULL    │ 1989     │ 마장로25번길     │ NULL           │ NULL     │ NULL         │ 단독    │
├─────────────────┴───────────────────────────────────────────┴─────────┴──────────┴──────────┴────────────┴──────────────┴──────────┴─────────┴────────────────┴─────────┴─────────┴──────────┴──────────────────┴────────────────┴──────────┴──────────────┴─────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                                             18 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [205]:
con.sql("""
        SELECT 주택유형, COUNT(*) as count 
        FROM detached 
        GROUP BY 주택유형
        ORDER BY count DESC
""")

┌──────────┬────────┐
│ 주택유형 │ count  │
│ varchar  │ int64  │
├──────────┼────────┤
│ 단독     │ 306439 │
│ 다가구   │  61740 │
└──────────┴────────┘

In [206]:
con.sql("""
        SELECT 거래유형, COUNT(*) as count 
        FROM detached 
        GROUP BY 거래유형
        ORDER BY count DESC
""")

┌──────────┬────────┐
│ 거래유형 │ count  │
│ varchar  │ int64  │
├──────────┼────────┤
│ NULL     │ 197917 │
│ 중개거래 │  99190 │
│ 직거래   │  71072 │
└──────────┴────────┘

In [207]:
# officetel

# read officetel csv
officetel = con.sql(f"""
    SELECT * REPLACE(CONCAT('오피스텔', NO) AS NO),
           '오피스텔' AS type
    FROM read_csv('{sale_files["officetel"]}', header=true, all_varchar=true)
""")
officetel

┌──────────────┬────────────────────────────────┬─────────┬─────────┬─────────┬───────────────────────────────────┬──────────────┬──────────┬─────────┬────────────────┬─────────┬─────────┬─────────┬──────────┬───────────────────┬────────────────┬──────────┬──────────────┬──────────┐
│      NO      │             시군구             │  번지   │  본번   │  부번   │              단지명               │ 전용면적(㎡) │ 계약년월 │ 계약일  │ 거래금액(만원) │   층    │  매수   │  매도   │ 건축년도 │      도로명       │ 해제사유발생일 │ 거래유형 │ 중개사소재지 │   type   │
│   varchar    │            varchar             │ varchar │ varchar │ varchar │              varchar              │   varchar    │ varchar  │ varchar │    varchar     │ varchar │ varchar │ varchar │ varchar  │      varchar      │    varchar     │ varchar  │   varchar    │ varchar  │
├──────────────┼────────────────────────────────┼─────────┼─────────┼─────────┼───────────────────────────────────┼──────────────┼──────────┼─────────┼────────────────┼─────────┼─────────┼─────────┼──────────┼───────────────────┼────────────────┼──────────┼──────────────┼──────────┤
│ 오피스텔1    │ 경기도 성남시 분당구 서현동    │ 255-1   │ 0255    │ 0001    │ 분당풍림아이원플러스오피스텔      │ 35.0000      │ 202001   │ 31      │ 15,700         │ 16      │ NULL    │ NULL    │ 2004     │ 서현로 170        │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔2    │ 경기도 성남시 분당구 서현동    │ 255-1   │ 0255    │ 0001    │ 분당풍림아이원플러스오피스텔      │ 60.0000      │ 202001   │ 31      │ 25,450         │ 7       │ NULL    │ NULL    │ 2004     │ 서현로 170        │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔3    │ 경기도 성남시 분당구 구미동    │ 24-1    │ 0024    │ 0001    │ 분당현대벤쳐빌                    │ 139.2900     │ 202001   │ 31      │ 47,800         │ 3       │ NULL    │ NULL    │ 2001     │ 돌마로 80         │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔4    │ 경기도 성남시 분당구 서현동    │ 251-3   │ 0251    │ 0003    │ 엘지분당에클라트                  │ 45.0100      │ 202001   │ 31      │ 19,200         │ 8       │ NULL    │ NULL    │ 2004     │ 서현로 184        │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔5    │ 경기도 성남시 분당구 정자동    │ 24      │ 0024    │ 0000    │ 분당인텔리지2                     │ 76.3600      │ 202001   │ 31      │ 40,400         │ 4       │ NULL    │ NULL    │ 2004     │ 정자일로 177      │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔6    │ 경기도 성남시 분당구 정자동    │ 166-2   │ 0166    │ 0002    │ 정자역 엠코헤리츠 3단지           │ 25.3600      │ 202001   │ 31      │ 20,100         │ 2       │ NULL    │ NULL    │ 2014     │ 정자일로 136      │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔7    │ 경기도 성남시 분당구 금곡동    │ 170     │ 0170    │ 0000    │ 천사의도시Ⅲ오피스텔               │ 36.1600      │ 202001   │ 31      │ 16,500         │ 2       │ NULL    │ NULL    │ 2004     │ 정자일로6번길 13  │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔8    │ 서울특별시 광진구 구의동       │ 667     │ 0667    │ 0000    │ 강변에스케이뷰                    │ 28.0100      │ 202001   │ 31      │ 23,700         │ 2       │ NULL    │ NULL    │ 2017     │                   │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔9    │ 경기도 성남시 수정구 창곡동    │ 505     │ 0505    │ 0000    │ 위례 한화 오벨리스크 센트럴스퀘어 │ 77.6400      │ 202001   │ 31      │ 70,000         │ 8       │ NULL    │ NULL    │ 2017     │                   │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔10   │ 경기도 수원시 영통구 하동      │ 1014    │ 1014    │ 0000    │ 광교 힐스테이트 레이크            │ 84.8300      │ 202001   │ 31      │ 60,000         │ 12      │ NULL    │ NULL    │ 2015     │                   │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│     ·        │             ·                  │  ·      │  ·      │  ·      │       ·                           │    ·         │   ·      │ ·       │   ·            │ ·       │  ·      │  ·      │  ·       │ ·                 │  ·             │  ·       │  ·           │    ·     │
│     ·        │             ·                  │  ·      │  ·      │  ·      │       ·                           │    ·         │   ·      │ ·       │   ·            │ ·       │  ·      │  ·      │  ·       │ ·                 │  ·             │  ·       │  ·           │    ·     │
│     ·        │             ·                  │  ·      │  ·      │  ·      │       ·                           │    ·         │   ·      │ ·       │   ·            │ ·       │  ·      │  ·      │  ·       │ ·                 │  ·             │  ·       │  ·           │    ·     │
│ 오피스텔2858 │ 제주특별자치도 서귀포시 서호동 │ 798     │ 0798    │ 0000    │ 웰스 플레이스                     │ 70.2740      │ 202003   │ 04      │ 35,224         │ 5       │ NULL    │ NULL    │ 2020     │ 막동산로46번길 10 │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔2859 │ 제주특별자치도 서귀포시 서호동 │ 798     │ 0798    │ 0000    │ 웰스 플레이스                     │ 66.1490      │ 202003   │ 04      │ 34,034         │ 6       │ NULL    │ NULL    │ 2020     │ 막동산로46번길 10 │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔2860 │ 제주특별자치도 서귀포시 서호동 │ 798     │ 0798    │ 0000    │ 웰스 플레이스                     │ 62.4790      │ 202003   │ 04      │ 32,130         │ 6       │ NULL    │ NULL    │ 2020     │ 막동산로46번길 10 │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔2861 │ 제주특별자치도 서귀포시 서호동 │ 798     │ 0798    │ 0000    │ 웰스 플레이스                     │ 49.9940      │ 202003   │ 04      │ 25,704         │ 6       │ NULL    │ NULL    │ 2020     │ 막동산로46번길 10 │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔2862 │ 제주특별자치도 서귀포시 서호동 │ 798     │ 0798    │ 0000    │ 웰스 플레이스                     │ 48.1940      │ 202003   │ 04      │ 24,752         │ 6       │ NULL    │ NULL    │ 2020     │ 막동산로46번길 10 │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔2863 │ 제주특별자치도 서귀포시 서호동 │ 798     │ 0798    │ 0000    │ 웰스 플레이스                     │ 70.2740      │ 202003   │ 04      │ 36,176         │ 6       │ NULL    │ NULL    │ 2020     │ 막동산로46번길 10 │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔2864 │ 제주특별자치도 서귀포시 서호동 │ 798     │ 0798    │ 0000    │ 웰스 플레이스                     │ 70.2740      │ 202003   │ 04      │ 37,128         │ 7       │ NULL    │ NULL    │ 2020     │ 막동산로46번길 10 │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔2865 │ 제주특별자치도 서귀포시 서호동 │ 798     │ 0798    │ 0000    │ 웰스 플레이스                     │ 66.1490      │ 202003   │ 04      │ 30,586         │ 2       │ NULL    │ NULL    │ 2020     │ 막동산로46번길 10 │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔2866 │ 제주특별자치도 서귀포시 서호동 │ 798     │ 0798    │ 0000    │ 웰스 플레이스                     │ 66.1490      │ 202003   │ 04      │ 34,986         │ 7       │ NULL    │ NULL    │ 2020     │ 막동산로46번길 10 │ NULL           │ NULL     │ NULL         │ 오피스텔 │
│ 오피스텔2867 │ 제주특별자치도 서귀포시 서호동 │ 798     │ 0798    │ 0000    │ 웰스 플레이스                     │ 62.4790      │ 202003   │ 04      │ 32,963         │ 7       │ NULL    │ NULL    │ 2020     │ 막동산로46번길 10 │ NULL           │ NULL     │ NULL         │ 오피스텔 │
├──────────────┴────────────────────────────────┴─────────┴─────────┴─────────┴───────────────────────────────────┴──────────────┴──────────┴─────────┴────────────────┴─────────┴─────────┴─────────┴──────────┴───────────────────┴────────────────┴──────────┴──────────────┴──────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                                                                19 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [208]:
con.sql("""
        SELECT 거래유형, COUNT(*) as count 
        FROM officetel 
        GROUP BY 거래유형
        ORDER BY count DESC
""")

┌──────────┬────────┐
│ 거래유형 │ count  │
│ varchar  │ int64  │
├──────────┼────────┤
│ NULL     │ 105658 │
│ 중개거래 │  85392 │
│ 직거래   │  38098 │
└──────────┴────────┘

In [209]:
# commercial

# read commercial csv
commercial = con.sql(f"""
    SELECT * REPLACE(CONCAT('상업/업무용', NO) AS NO),
           "건축물주용도" AS type
    FROM read_csv('{sale_files["commercial"]}', header=true, all_varchar=true, force_not_null=['지분구분'])
""")
commercial

┌─────────────────┬────────────────────────────────────┬─────────┬─────────┬────────────────┬───────────────┬───────────────┬──────────┬─────────────────┬──────────────┬────────────────┬─────────┬─────────┬─────────┬──────────┬─────────┬──────────┬──────────┬────────────────┬──────────┬──────────────┬───────────────┐
│       NO        │               시군구               │  유형   │  지번   │     도로명     │   용도지역    │ 건축물주용도  │ 도로조건 │ 전용/연면적(㎡) │ 대지면적(㎡) │ 거래금액(만원) │   층    │  매수   │  매도   │ 계약년월 │ 계약일  │ 지분구분 │ 건축년도 │ 해제사유발생일 │ 거래유형 │ 중개사소재지 │     type      │
│     varchar     │              varchar               │ varchar │ varchar │    varchar     │    varchar    │    varchar    │ varchar  │     varchar     │   varchar    │    varchar     │ varchar │ varchar │ varchar │ varchar  │ varchar │ varchar  │ varchar  │    varchar     │ varchar  │   varchar    │    varchar    │
├─────────────────┼────────────────────────────────────┼─────────┼─────────┼────────────────┼───────────────┼───────────────┼──────────┼─────────────────┼──────────────┼────────────────┼─────────┼─────────┼─────────┼──────────┼─────────┼──────────┼──────────┼────────────────┼──────────┼──────────────┼───────────────┤
│ 상업/업무용1    │ 경상남도 진주시 충무공동           │ 집합    │ 2**     │ 충의로         │ 준주거        │ 업무          │ 25m미만  │ 47.70           │              │ 8,521          │ 4       │ NULL    │ NULL    │ 202001   │ 31      │          │ 2016     │ NULL           │ NULL     │ NULL         │ 업무          │
│ 상업/업무용2    │ 전북특별자치도 김제시 흥사동       │ 일반    │ 4**     │ 하정1길        │ 계획관리      │ 숙박          │ 8m미만   │ 658.80          │ 1294.00      │ 30,000         │ NULL    │ NULL    │ NULL    │ 202001   │ 31      │          │ 2006     │ NULL           │ NULL     │ NULL         │ 숙박          │
│ 상업/업무용3    │ 부산광역시 기장군 일광읍 화전리    │ 일반    │ 2**     │ 화용길         │ 자연녹지      │ 제2종근린생활 │ 12m미만  │ 491.90          │ 913.00       │ 93,030         │ NULL    │ NULL    │ NULL    │ 202001   │ 31      │          │ 2012     │ NULL           │ NULL     │ NULL         │ 제2종근린생활 │
│ 상업/업무용4    │ 서울특별시 마포구 아현동           │ 일반    │ 3**     │ 신촌로34길     │ 준주거        │ 제1종근린생활 │ 12m미만  │ 231.64          │ 96.90        │ 184,000        │ NULL    │ NULL    │ NULL    │ 202001   │ 31      │          │ 1991     │ NULL           │ NULL     │ NULL         │ 제1종근린생활 │
│ 상업/업무용5    │ 부산광역시 기장군 기장읍 시랑리    │ 집합    │ 7**     │ 기장해안로     │ 제3종일반주거 │ 숙박          │ 25m미만  │ 211.68          │              │ 13,500         │ NULL    │ NULL    │ NULL    │ 202001   │ 31      │ 지분     │ NULL     │ NULL           │ NULL     │ NULL         │ 숙박          │
│ 상업/업무용6    │ 서울특별시 성북구 석관동           │ 일반    │ 2**     │ 돌곶이로17길   │ 제2종일반주거 │ 제1종근린생활 │ 12m미만  │ 70.58           │ 148.82       │ 72,000         │ NULL    │ NULL    │ NULL    │ 202001   │ 31      │          │ 1985     │ NULL           │ NULL     │ NULL         │ 제1종근린생활 │
│ 상업/업무용7    │ 경상북도 예천군 호명읍 산합리      │ 집합    │ 1***    │ 새움3로        │ 일반상업      │ 제1종근린생활 │ 25m이상  │ 132.61          │              │ 42,800         │ 6       │ NULL    │ NULL    │ 202001   │ 31      │          │ 2017     │ NULL           │ NULL     │ NULL         │ 제1종근린생활 │
│ 상업/업무용8    │ 경상북도 예천군 호명읍 산합리      │ 집합    │ 1***    │ 새움3로        │ 일반상업      │ 제1종근린생활 │ 25m이상  │ 138.88          │              │ 43,870         │ 6       │ NULL    │ NULL    │ 202001   │ 31      │          │ 2017     │ NULL           │ NULL     │ NULL         │ 제1종근린생활 │
│ 상업/업무용9    │ 경기도 용인시 기흥구 구갈동        │ 일반    │ 5**     │ 구갈로         │ 준주거        │ 제1종근린생활 │ 25m미만  │ 267.03          │ 176.53       │ 95,000         │ NULL    │ NULL    │ NULL    │ 202001   │ 31      │ 지분     │ 1993     │ NULL           │ NULL     │ NULL         │ 제1종근린생활 │
│ 상업/업무용10   │ 경기도 용인시 기흥구 구갈동        │ 일반    │ 5**     │ 강남서로57번길 │ 제2종일반주거 │ 제2종근린생활 │ 25m미만  │ 663.22          │ 332.80       │ 158,000        │ NULL    │ NULL    │ NULL    │ 202001   │ 31      │          │ 2007     │ NULL           │ NULL     │ NULL         │ 제2종근린생활 │
│       ·         │              ·                     │  ·      │ ·       │     ·          │    ·          │       ·       │    ·     │   ·             │   ·          │    ·           │  ·      │  ·      │  ·      │   ·      │ ·       │    ·     │  ·       │  ·             │  ·       │  ·           │       ·       │
│       ·         │              ·                     │  ·      │ ·       │     ·          │    ·          │       ·       │    ·     │   ·             │   ·          │    ·           │  ·      │  ·      │  ·      │   ·      │ ·       │    ·     │  ·       │  ·             │  ·       │  ·           │       ·       │
│       ·         │              ·                     │  ·      │ ·       │     ·          │    ·          │       ·       │    ·     │   ·             │   ·          │    ·           │  ·      │  ·      │  ·      │   ·      │ ·       │    ·     │  ·       │  ·             │  ·       │  ·           │       ·       │
│ 상업/업무용4285 │ 서울특별시 영등포구 영등포동3가    │ 일반    │ *       │ 영중로10길     │ 일반상업      │ 제2종근린생활 │ 12m미만  │ 374.00          │ 321.00       │ 679,000        │ NULL    │ NULL    │ NULL    │ 202002   │ 11      │          │ 1970     │ NULL           │ NULL     │ NULL         │ 제2종근린생활 │
│ 상업/업무용4286 │ 경기도 용인시 처인구 모현읍 갈담리 │ 일반    │ 2**     │ 갈월로         │ 자연녹지      │ 제2종근린생활 │ 8m미만   │ 150.00          │ 753.00       │ 67,000         │ NULL    │ NULL    │ NULL    │ 202002   │ 11      │          │ 2020     │ NULL           │ NULL     │ NULL         │ 제2종근린생활 │
│ 상업/업무용4287 │ 광주광역시 북구 신안동             │ 일반    │ 1**     │ 경양로         │ 일반상업      │ 제2종근린생활 │ 8m미만   │ 85.51           │ 214.90       │ 17,650         │ NULL    │ NULL    │ NULL    │ 202002   │ 11      │          │ 1974     │ NULL           │ NULL     │ NULL         │ 제2종근린생활 │
│ 상업/업무용4288 │ 경기도 포천시 군내면 직두리        │ 일반    │ 5**     │ 청군로         │ 계획관리      │ 제2종근린생활 │ 12m미만  │ 137.70          │ 206.50       │ 12,500         │ NULL    │ NULL    │ NULL    │ 202002   │ 11      │ 지분     │ 2009     │ NULL           │ NULL     │ NULL         │ 제2종근린생활 │
│ 상업/업무용4289 │ 광주광역시 북구 유동               │ 일반    │ 4*      │ 경열로181번길  │ 일반상업      │ 제1종근린생활 │ 8m미만   │ 621.15          │ 403.00       │ 88,000         │ NULL    │ NULL    │ NULL    │ 202002   │ 11      │          │ 1970     │ NULL           │ NULL     │ NULL         │ 제1종근린생활 │
│ 상업/업무용4290 │ 경기도 시흥시 과림동               │ 일반    │ 3**     │ 범안로539번길  │ 제1종일반주거 │ 제2종근린생활 │ 8m미만   │ 326.35          │ 429.00       │ 106,430        │ NULL    │ NULL    │ NULL    │ 202002   │ 11      │          │ 2005     │ NULL           │ NULL     │ NULL         │ 제2종근린생활 │
│ 상업/업무용4291 │ 경기도 포천시 가산면 우금리        │ 일반    │ 7**     │ 포천로         │ 보전관리      │ 제1종근린생활 │ 25m미만  │ 540.92          │ 3223.00      │ 188,250        │ NULL    │ NULL    │ NULL    │ 202002   │ 11      │          │ 2020     │ NULL           │ NULL     │ NULL         │ 제1종근린생활 │
│ 상업/업무용4292 │ 경기도 용인시 기흥구 보정동        │ 집합    │ 1***    │ 죽전로         │ 일반상업      │ 교육연구      │ 25m이상  │ 109.13          │              │ 33,500         │ 7       │ NULL    │ NULL    │ 202002   │ 11      │          │ 2005     │ NULL           │ NULL     │ NULL         │ 교육연구      │
│ 상업/업무용4293 │ 서울특별시 성북구 정릉동           │ 집합    │ 4**     │ 보국문로10길   │ 제2종일반주거 │ 제2종근린생활 │ 8m미만   │ 19.78           │              │ 5,500          │ 1       │ NULL    │ NULL    │ 202002   │ 11      │          │ 2008     │ NULL           │ NULL     │ NULL         │ 제2종근린생활 │
│ 상업/업무용4294 │ 경기도 시흥시 장현동               │ 집합    │ 5**     │ 새재로         │ 일반상업      │ 제2종근린생활 │ 25m미만  │ 35.98           │              │ 6,800          │ 1       │ NULL    │ NULL    │ 202002   │ 11      │          │ 2004     │ NULL           │ NULL     │ NULL         │ 제2종근린생활 │
├─────────────────┴────────────────────────────────────┴─────────┴─────────┴────────────────┴───────────────┴───────────────┴──────────┴─────────────────┴──────────────┴────────────────┴─────────┴─────────┴─────────┴──────────┴─────────┴──────────┴──────────┴────────────────┴──────────┴──────────────┴───────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                                                                                                   22 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [210]:
con.sql("""
        SELECT 지분구분, COUNT(*) as count 
        FROM commercial 
        GROUP BY 지분구분
        ORDER BY count DESC
""")

┌──────────┬────────┐
│ 지분구분 │ count  │
│ varchar  │ int64  │
├──────────┼────────┤
│ NULL     │ 345200 │
│ 지분     │  44248 │
└──────────┴────────┘

지분구분 공백은 지분 거래가 아니라는 뜻이기 때문에, null이 아님. 코드 수정 통해 반영. 위 표에서는 null이 아닌 빈 문자열로 뜸.

In [211]:
con.sql("""
        SELECT 거래유형, COUNT(*) as count 
        FROM commercial 
        GROUP BY 거래유형
        ORDER BY count DESC
""")

┌──────────┬────────┐
│ 거래유형 │ count  │
│ varchar  │ int64  │
├──────────┼────────┤
│ NULL     │ 178121 │
│ 직거래   │ 111099 │
│ 중개거래 │ 100228 │
└──────────┴────────┘

In [212]:
# factory

# read factory csv
factory = con.sql(f"""
    SELECT * REPLACE(CONCAT('공장/창고 등', NO) AS NO),
           "건축물주용도" AS type
    FROM read_csv('{sale_files["factory"]}', header=true, all_varchar=true, force_not_null=['지분구분'])
""")
factory

┌─────────────────┬─────────────────────────────────────┬─────────┬─────────┬─────────────────┬───────────────┬───────────────────────┬──────────┬─────────────────┬──────────────┬────────────────┬─────────┬─────────┬─────────┬──────────┬─────────┬──────────┬──────────┬────────────────┬──────────┬──────────────┬───────────────────────┐
│       NO        │               시군구                │  유형   │  지번   │     도로명      │   용도지역    │     건축물주용도      │ 도로조건 │ 전용/연면적(㎡) │ 대지면적(㎡) │ 거래금액(만원) │   층    │  매수   │  매도   │ 계약년월 │ 계약일  │ 지분구분 │ 건축년도 │ 해제사유발생일 │ 거래유형 │ 중개사소재지 │         type          │
│     varchar     │               varchar               │ varchar │ varchar │     varchar     │    varchar    │        varchar        │ varchar  │     varchar     │   varchar    │    varchar     │ varchar │ varchar │ varchar │ varchar  │ varchar │ varchar  │ varchar  │    varchar     │ varchar  │   varchar    │        varchar        │
├─────────────────┼─────────────────────────────────────┼─────────┼─────────┼─────────────────┼───────────────┼───────────────────────┼──────────┼─────────────────┼──────────────┼────────────────┼─────────┼─────────┼─────────┼──────────┼─────────┼──────────┼──────────┼────────────────┼──────────┼──────────────┼───────────────────────┤
│ 공장/창고 등1   │ 서울특별시 금천구 가산동            │ 집합    │ 3**     │ 가산디지털2로   │ 준공업        │ 공장                  │ 25m미만  │ 287.90          │              │ 88,158         │ 9       │ NULL    │ NULL    │ 202001   │ 31      │          │ NULL     │ NULL           │ NULL     │ NULL         │ 공장                  │
│ 공장/창고 등2   │ 경상남도 김해시 생림면 봉림리       │ 일반    │ 9**     │ 생림대로950번길 │ 계획관리      │ 공장                  │ 8m미만   │ 462.00          │ 1756.00      │ 88,900         │ NULL    │ NULL    │ NULL    │ 202001   │ 31      │          │ NULL     │ NULL           │ NULL     │ NULL         │ 공장                  │
│ 공장/창고 등3   │ 경기도 파주시 광탄면 방축리         │ 일반    │ 2**     │ 보광로          │ 계획관리      │ 공장                  │ 8m미만   │ 1354.35         │ 3915.00      │ 170,112        │ NULL    │ NULL    │ NULL    │ 202001   │ 31      │          │ NULL     │ NULL           │ NULL     │ NULL         │ 공장                  │
│ 공장/창고 등4   │ 서울특별시 강서구 등촌동            │ 집합    │ 6**     │ 화곡로68길      │ 준공업        │ 공장                  │ 25m이상  │ 92.74           │              │ 55,000         │ 6       │ NULL    │ NULL    │ 202001   │ 31      │          │ 2018     │ NULL           │ NULL     │ NULL         │ 공장                  │
│ 공장/창고 등5   │ 경기도 부천시 원미구 상동           │ 집합    │ 5**     │ 송내대로        │ 일반상업      │ 운수시설              │ 25m이상  │ 11.20           │              │ 5,440          │ 53      │ NULL    │ NULL    │ 202001   │ 31      │          │ 2007     │ NULL           │ NULL     │ NULL         │ 운수시설              │
│ 공장/창고 등6   │ 경기도 파주시 오도동                │ 일반    │ 2*      │ 장명산길        │ 계획관리      │ 공장                  │ 8m미만   │ 728.00          │ 3370.00      │ 236,000        │ NULL    │ NULL    │ NULL    │ 202001   │ 31      │          │ 2016     │ NULL           │ NULL     │ NULL         │ 공장                  │
│ 공장/창고 등7   │ 부산광역시 북구 덕천동              │ 일반    │ 3**     │ 금곡대로13번길  │ 일반상업      │ 자동차 관련시설       │ 25m미만  │ 54.00           │ 195.60       │ 100,000        │ NULL    │ NULL    │ NULL    │ 202001   │ 31      │          │ 2003     │ NULL           │ NULL     │ NULL         │ 자동차 관련시설       │
│ 공장/창고 등8   │ 경상남도 김해시 진례면 고모리       │ 일반    │ 3**     │ NULL            │ 계획관리      │ 공장                  │ 8m미만   │ 963.15          │ 1724.00      │ 95,000         │ NULL    │ NULL    │ NULL    │ 202001   │ 31      │          │ NULL     │ NULL           │ NULL     │ NULL         │ 공장                  │
│ 공장/창고 등9   │ 경기도 성남시 중원구 상대원동       │ 집합    │ 3**     │ 둔촌대로457번길 │ 일반공업      │ 공장                  │ 25m이상  │ 134.40          │              │ 30,500         │ 10      │ NULL    │ NULL    │ 202001   │ 31      │          │ NULL     │ NULL           │ NULL     │ NULL         │ 공장                  │
│ 공장/창고 등10  │ 서울특별시 송파구 문정동            │ 집합    │ 6**     │ 충민로          │ 유통상업      │ 창고시설              │ 25m이상  │ 22.26           │              │ 9,100          │ NULL    │ NULL    │ NULL    │ 202001   │ 31      │          │ NULL     │ NULL           │ NULL     │ NULL         │ 창고시설              │
│       ·         │            ·                        │  ·      │  ·      │  ·              │  ·            │    ·                  │   ·      │   ·             │ ·            │   ·            │  ·      │  ·      │  ·      │   ·      │ ·       │  ·       │  ·       │  ·             │  ·       │  ·           │    ·                  │
│       ·         │            ·                        │  ·      │  ·      │  ·              │  ·            │    ·                  │   ·      │   ·             │ ·            │   ·            │  ·      │  ·      │  ·      │   ·      │ ·       │  ·       │  ·       │  ·             │  ·       │  ·           │    ·                  │
│       ·         │            ·                        │  ·      │  ·      │  ·              │  ·            │    ·                  │   ·      │   ·             │ ·            │   ·            │  ·      │  ·      │  ·      │   ·      │ ·       │  ·       │  ·       │  ·             │  ·       │  ·           │    ·                  │
│ 공장/창고 등773 │ 대구광역시 군위군 의흥면 이지리     │ 일반    │ 2**     │ NULL            │ 농림          │ 동물 및 식물 관련시설 │ 8m미만   │ 329.40          │ 700.50       │ 8,500          │ NULL    │ NULL    │ NULL    │ 202008   │ 13      │ 지분     │ 2001     │ NULL           │ NULL     │ NULL         │ 동물 및 식물 관련시설 │
│ 공장/창고 등774 │ 경기도 수원시 권선구 평동           │ 집합    │ 1**     │ 평동로79번길    │ 일반상업      │ 자동차 관련시설       │ NULL     │ 311.58          │              │ 70,250         │ 3       │ NULL    │ NULL    │ 202008   │ 13      │          │ 2019     │ NULL           │ NULL     │ NULL         │ 자동차 관련시설       │
│ 공장/창고 등775 │ 강원특별자치도 원주시 단구동        │ 일반    │ 1***    │ 단구로          │ 준주거        │ 자동차 관련시설       │ 25m미만  │ 37.39           │ 15.64        │ 1,000          │ NULL    │ NULL    │ NULL    │ 202008   │ 13      │ 지분     │ 2005     │ NULL           │ NULL     │ NULL         │ 자동차 관련시설       │
│ 공장/창고 등776 │ 강원특별자치도 원주시 우산동        │ 일반    │ 5**     │ 우두산길        │ 일반공업      │ 자원순환 관련시설     │ 12m미만  │ 122.88          │ 2178.00      │ 57,289         │ NULL    │ NULL    │ NULL    │ 202008   │ 12      │          │ 1999     │ NULL           │ NULL     │ NULL         │ 자원순환 관련시설     │
│ 공장/창고 등777 │ 강원특별자치도 원주시 우산동        │ 일반    │ 4**     │ 우두산길        │ 일반공업      │ 공장                  │ 12m미만  │ 2838.97         │ 3384.00      │ 148,016        │ NULL    │ NULL    │ NULL    │ 202008   │ 12      │          │ 1991     │ NULL           │ NULL     │ NULL         │ 공장                  │
│ 공장/창고 등778 │ 전북특별자치도 정읍시 덕천면 도계리 │ 일반    │ 9**     │ 금계1길         │ 생산관리      │ 창고시설              │ 12m미만  │ 10.83           │ 72.44        │ 500            │ NULL    │ NULL    │ NULL    │ 202008   │ 12      │ 지분     │ 2013     │ NULL           │ NULL     │ NULL         │ 창고시설              │
│ 공장/창고 등779 │ 경상북도 김천시 지좌동              │ 일반    │ 4**     │ NULL            │ 제2종일반주거 │ 창고시설              │ 8m미만   │ 24.00           │ 112.00       │ 700            │ NULL    │ NULL    │ NULL    │ 202008   │ 12      │          │ 1994     │ NULL           │ NULL     │ NULL         │ 창고시설              │
│ 공장/창고 등780 │ 충청북도 충주시 신니면 용원리       │ 일반    │ 2**     │ 하랭이길        │ 계획관리      │ 공장                  │ 8m미만   │ 3828.86         │ 11955.00     │ 380,000        │ NULL    │ NULL    │ NULL    │ 202008   │ 12      │          │ 2012     │ NULL           │ NULL     │ NULL         │ 공장                  │
│ 공장/창고 등781 │ 서울특별시 송파구 문정동            │ 집합    │ 6**     │ 법원로          │ 일반상업      │ 공장                  │ NULL     │ 121.20          │              │ 110,000        │ 2       │ NULL    │ NULL    │ 202008   │ 12      │          │ 2017     │ NULL           │ NULL     │ NULL         │ 공장                  │
│ 공장/창고 등782 │ 경기도 의왕시 포일동                │ 집합    │ 6**     │ 성고개로        │ 준주거        │ 공장                  │ 25m미만  │ 92.75           │              │ 37,700         │ NULL    │ NULL    │ NULL    │ 202008   │ 12      │          │ NULL     │ 20200901       │ NULL     │ NULL         │ 공장                  │
├─────────────────┴─────────────────────────────────────┴─────────┴─────────┴─────────────────┴───────────────┴───────────────────────┴──────────┴─────────────────┴──────────────┴────────────────┴─────────┴─────────┴─────────┴──────────┴─────────┴──────────┴──────────┴────────────────┴──────────┴──────────────┴───────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                                                                                                                     22 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [213]:
con.sql("""
        SELECT 지분구분, COUNT(*) as count 
        FROM factory 
        GROUP BY 지분구분
        ORDER BY count DESC
""")

┌──────────┬───────┐
│ 지분구분 │ count │
│ varchar  │ int64 │
├──────────┼───────┤
│ NULL     │ 75507 │
│ 지분     │  3064 │
└──────────┴───────┘

지분구분 공백은 지분 거래가 아니라는 뜻이기 때문에, null이 아님. 코드 수정 통해 반영. 위 표에서는 null이 아닌 빈 문자열로 뜸.

In [214]:
con.sql("""
        SELECT 거래유형, COUNT(*) as count 
        FROM factory 
        GROUP BY 거래유형
        ORDER BY count DESC
""")

┌──────────┬───────┐
│ 거래유형 │ count │
│ varchar  │ int64 │
├──────────┼───────┤
│ NULL     │ 35181 │
│ 중개거래 │ 26128 │
│ 직거래   │ 17262 │
└──────────┴───────┘

살릴 수 있는 컬럼

아파트:

NO,시군구,번지,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,거래유형

연립/다세대:

NO,시군구,번지,건물명,전용면적(㎡),대지권면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,거래유형

> 대지권 면적: 해당 다세대 건물이 속한 토지 전체 면적 중 해당 세대가 소유하는 토지 지분의 면적
> 
> 전용면적이 해당 구분소유에 대한 면적이라면 필요없을 것.

단독/다가구:

NO,시군구,주택유형,도로조건,연면적(㎡),대지면적(㎡),계약년월,계약일,거래금액(만원),건축년도,거래유형

> 주택유형: 단독 또는 다가구 기재
>
> 주택유형을 그대로 type 에 사용

오피스텔:

NO,시군구,번지,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,거래유형

상업/업무용:

NO,시군구,유형,용도지역,건축물주용도,도로조건,전용/연면적(㎡),대지면적(㎡),거래금액(만원),층,계약년월,계약일,지분구분,건축년도,해제사유발생일,거래유형,중개사소재지

> 유형: 일반 또는 집합 기재
>
> 용도지역
>
> 건축물주용도: 업무, 숙박, 제1종근린생활, …
>
> 전용/연면적: 일반건축물과 집합건축물을 아우르기 때문
>
> 지분구분: 지분 거래를 걸러내든지 할 필요가 있어서 데이터에 포함하여야 함.

공장/창고 등:

NO,시군구,유형,용도지역,건축물주용도,도로조건,전용/연면적(㎡),대지면적(㎡),거래금액(만원),층,계약년월,계약일,지분구분,건축년도,거래유형

---

(일부라도) 공통된 컬럼 정리:

NO, 시군구, type, 단지/건물명, 건축물주용도, 계약년월, 계약일, 전용/연면적, 거래금액, 층, 건축년도, 거래유형

> 시군구: 사실 읍면동
>
> 건축물주용도: 아파트, 연립/다세대→공동주택, 단독/다가구→단독주택, 오피스텔→업무 (업무시설 의미)
> 
> type: 실거래가 구분 또는 건축물주용도
>
> 전용/연면적 & 거래금액: 단가로 변환
>
> 층, 거래유형: null인 경우가 많음

공통되지 않았어도 넣어야 하는 컬럼 정리:

지분구분

In [215]:
# 법정동코드, 한국행정구역분류 등

# read bjdong csv
bjdong = con.sql(f"""
    SELECT *,
        substr(법정동코드, 1, 5) AS 시군구코드,
        substr(법정동코드, 6, 5) AS 법정동코드short
    FROM read_csv('{Path().resolve().parent / "data/processed/code_bjd.csv"}', header=true, all_varchar=true, force_not_null=[])
""")
bjdong

┌────────────┬─────────────────────────────┬──────────┬────────────┬─────────────────┐
│ 법정동코드 │          법정동명           │ 폐지여부 │ 시군구코드 │ 법정동코드short │
│  varchar   │           varchar           │ varchar  │  varchar   │     varchar     │
├────────────┼─────────────────────────────┼──────────┼────────────┼─────────────────┤
│ 1100000000 │ 서울특별시                  │ 존재     │ 11000      │ 00000           │
│ 1111000000 │ 서울특별시 종로구           │ 존재     │ 11110      │ 00000           │
│ 1111010100 │ 서울특별시 종로구 청운동    │ 존재     │ 11110      │ 10100           │
│ 1111010200 │ 서울특별시 종로구 신교동    │ 존재     │ 11110      │ 10200           │
│ 1111010300 │ 서울특별시 종로구 궁정동    │ 존재     │ 11110      │ 10300           │
│ 1111010400 │ 서울특별시 종로구 효자동    │ 존재     │ 11110      │ 10400           │
│ 1111010500 │ 서울특별시 종로구 창성동    │ 존재     │ 11110      │ 10500           │
│ 1111010600 │ 서울특별시 종로구 통의동    │ 존재     │ 11110      │ 10600           │
│ 1111010700 │ 서울특별시 종로구 적선동    │ 존재     │ 11110      │ 10700           │
│ 1111010800 │ 서울특별시 종로구 통인동    │ 존재     │ 11110      │ 10800           │
│     ·      │          ·                  │  ·       │   ·        │   ·             │
│     ·      │          ·                  │  ·       │   ·        │   ·             │
│     ·      │          ·                  │  ·       │   ·        │   ·             │
│ 4182025000 │ 경기도 가평군 가평읍        │ 존재     │ 41820      │ 25000           │
│ 4182025021 │ 경기도 가평군 가평읍 읍내리 │ 존재     │ 41820      │ 25021           │
│ 4182025022 │ 경기도 가평군 가평읍 대곡리 │ 존재     │ 41820      │ 25022           │
│ 4182025023 │ 경기도 가평군 가평읍 달전리 │ 존재     │ 41820      │ 25023           │
│ 4182025024 │ 경기도 가평군 가평읍 하색리 │ 존재     │ 41820      │ 25024           │
│ 4182025025 │ 경기도 가평군 가평읍 상색리 │ 존재     │ 41820      │ 25025           │
│ 4182025026 │ 경기도 가평군 가평읍 두밀리 │ 존재     │ 41820      │ 25026           │
│ 4182025027 │ 경기도 가평군 가평읍 경반리 │ 존재     │ 41820      │ 25027           │
│ 4182025028 │ 경기도 가평군 가평읍 승안리 │ 존재     │ 41820      │ 25028           │
│ 4182025029 │ 경기도 가평군 가평읍 마장리 │ 존재     │ 41820      │ 25029           │
├────────────┴─────────────────────────────┴──────────┴────────────┴─────────────────┤
│ ? rows (>9999 rows, 20 shown)                                            5 columns │
└────────────────────────────────────────────────────────────────────────────────────┘

In [216]:
# read KCAD sgg csv
kcad = con.sql(f"""
    SELECT
               시군구코드,
               시도,
               시군구,
               행정구역분류,
               "행정동 영문명칭"
    FROM read_csv('{Path().resolve().parent / "data/processed/code_kcad_sgg_2024.csv"}', header=true, all_varchar=true, force_not_null=[])
""")
kcad

┌────────────┬────────────────┬──────────┬──────────────┬─────────────────┐
│ 시군구코드 │      시도      │  시군구  │ 행정구역분류 │ 행정동 영문명칭 │
│  varchar   │    varchar     │ varchar  │   varchar    │     varchar     │
├────────────┼────────────────┼──────────┼──────────────┼─────────────────┤
│ 11110      │ 서울특별시     │ 종로구   │ 11010        │ Jongno-gu       │
│ 11140      │ 서울특별시     │ 중구     │ 11020        │ Jung-gu         │
│ 11170      │ 서울특별시     │ 용산구   │ 11030        │ Yongsan-gu      │
│ 11200      │ 서울특별시     │ 성동구   │ 11040        │ Seongdong-gu    │
│ 11215      │ 서울특별시     │ 광진구   │ 11050        │ Gwangjin-gu     │
│ 11230      │ 서울특별시     │ 동대문구 │ 11060        │ Dongdaemun-gu   │
│ 11260      │ 서울특별시     │ 중랑구   │ 11070        │ Jungnang-gu     │
│ 11290      │ 서울특별시     │ 성북구   │ 11080        │ Seongbuk-gu     │
│ 11305      │ 서울특별시     │ 강북구   │ 11090        │ Gangbuk-gu      │
│ 11320      │ 서울특별시     │ 도봉구   │ 11100        │ Dobong-gu       │
│   ·        │    ·           │   ·      │   ·          │     ·           │
│   ·        │    ·           │   ·      │   ·          │     ·           │
│   ·        │    ·           │   ·      │   ·          │     ·           │
│ 48740      │ 경상남도       │ 창녕군   │ 38530        │ Changnyeong-gun │
│ 48820      │ 경상남도       │ 고성군   │ 38540        │ Goseong-gun     │
│ 48840      │ 경상남도       │ 남해군   │ 38550        │ Namhae-gun      │
│ 48850      │ 경상남도       │ 하동군   │ 38560        │ Hadong-gun      │
│ 48860      │ 경상남도       │ 산청군   │ 38570        │ Sancheong-gun   │
│ 48870      │ 경상남도       │ 함양군   │ 38580        │ Hamyang-gun     │
│ 48880      │ 경상남도       │ 거창군   │ 38590        │ Geochang-gun    │
│ 48890      │ 경상남도       │ 합천군   │ 38600        │ Hapcheon-gun    │
│ 50110      │ 제주특별자치도 │ 제주시   │ 39010        │ Jeju-si         │
│ 50130      │ 제주특별자치도 │ 서귀포시 │ 39020        │ Seogwipo-si     │
├────────────┴────────────────┴──────────┴──────────────┴─────────────────┤
│ 264 rows (20 shown)                                           5 columns │
└─────────────────────────────────────────────────────────────────────────┘

In [217]:
bjdong_kcad = con.sql("""
    SELECT 
        b.*,
        k.시도,
        k.시군구,
        k.행정구역분류,
    FROM bjdong b
    JOIN kcad k
    ON b.시군구코드 = k.시군구코드
""")
bjdong_kcad

┌────────────┬───────────────────────────────┬──────────┬────────────┬─────────────────┬────────────┬─────────┬──────────────┐
│ 법정동코드 │           법정동명            │ 폐지여부 │ 시군구코드 │ 법정동코드short │    시도    │ 시군구  │ 행정구역분류 │
│  varchar   │            varchar            │ varchar  │  varchar   │     varchar     │  varchar   │ varchar │   varchar    │
├────────────┼───────────────────────────────┼──────────┼────────────┼─────────────────┼────────────┼─────────┼──────────────┤
│ 1111000000 │ 서울특별시 종로구             │ 존재     │ 11110      │ 00000           │ 서울특별시 │ 종로구  │ 11010        │
│ 1111010100 │ 서울특별시 종로구 청운동      │ 존재     │ 11110      │ 10100           │ 서울특별시 │ 종로구  │ 11010        │
│ 1111010200 │ 서울특별시 종로구 신교동      │ 존재     │ 11110      │ 10200           │ 서울특별시 │ 종로구  │ 11010        │
│ 1111010300 │ 서울특별시 종로구 궁정동      │ 존재     │ 11110      │ 10300           │ 서울특별시 │ 종로구  │ 11010        │
│ 1111010400 │ 서울특별시 종로구 효자동      │ 존재     │ 11110      │ 10400           │ 서울특별시 │ 종로구  │ 11010        │
│ 1111010500 │ 서울특별시 종로구 창성동      │ 존재     │ 11110      │ 10500           │ 서울특별시 │ 종로구  │ 11010        │
│ 1111010600 │ 서울특별시 종로구 통의동      │ 존재     │ 11110      │ 10600           │ 서울특별시 │ 종로구  │ 11010        │
│ 1111010700 │ 서울특별시 종로구 적선동      │ 존재     │ 11110      │ 10700           │ 서울특별시 │ 종로구  │ 11010        │
│ 1111010800 │ 서울특별시 종로구 통인동      │ 존재     │ 11110      │ 10800           │ 서울특별시 │ 종로구  │ 11010        │
│ 1111010900 │ 서울특별시 종로구 누상동      │ 존재     │ 11110      │ 10900           │ 서울특별시 │ 종로구  │ 11010        │
│     ·      │            ·                  │  ·       │   ·        │   ·             │    ·       │   ·     │   ·          │
│     ·      │            ·                  │  ·       │   ·        │   ·             │    ·       │   ·     │   ·          │
│     ·      │            ·                  │  ·       │   ·        │   ·             │    ·       │   ·     │   ·          │
│ 4476039022 │ 충청남도 부여군 충화면 복금리 │ 존재     │ 44760      │ 39022           │ 충청남도   │ 부여군  │ 34530        │
│ 4476039023 │ 충청남도 부여군 충화면 오덕리 │ 존재     │ 44760      │ 39023           │ 충청남도   │ 부여군  │ 34530        │
│ 4476039024 │ 충청남도 부여군 충화면 현미리 │ 존재     │ 44760      │ 39024           │ 충청남도   │ 부여군  │ 34530        │
│ 4476039025 │ 충청남도 부여군 충화면 지석리 │ 존재     │ 44760      │ 39025           │ 충청남도   │ 부여군  │ 34530        │
│ 4476039026 │ 충청남도 부여군 충화면 가화리 │ 존재     │ 44760      │ 39026           │ 충청남도   │ 부여군  │ 34530        │
│ 4476039027 │ 충청남도 부여군 충화면 팔충리 │ 존재     │ 44760      │ 39027           │ 충청남도   │ 부여군  │ 34530        │
│ 4476039028 │ 충청남도 부여군 충화면 만지리 │ 존재     │ 44760      │ 39028           │ 충청남도   │ 부여군  │ 34530        │
│ 4476039029 │ 충청남도 부여군 충화면 청남리 │ 존재     │ 44760      │ 39029           │ 충청남도   │ 부여군  │ 34530        │
│ 4476040000 │ 충청남도 부여군 양화면        │ 존재     │ 44760      │ 40000           │ 충청남도   │ 부여군  │ 34530        │
│ 4476040021 │ 충청남도 부여군 양화면 송정리 │ 존재     │ 44760      │ 40021           │ 충청남도   │ 부여군  │ 34530        │
├────────────┴───────────────────────────────┴──────────┴────────────┴─────────────────┴────────────┴─────────┴──────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                    8 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

시험용으로 아파트에 left join. 최종적으로는 마스터DB에 left join해서 저장.

In [218]:
apart_joined = con.sql("""
    SELECT
        a.*,
        b.시군구코드,
        b.법정동코드short,
        b.시도,
        b.시군구,
        b.행정구역분류
    FROM apart a
    LEFT JOIN bjdong_kcad b
    ON a.시군구 = b.법정동명
""")
apart_joined

┌─────────────┬─────────────────────────────┬─────────┬─────────┬─────────┬───────────────────────────────┬──────────────┬──────────┬─────────┬────────────────┬─────────┬─────────┬─────────┬─────────┬──────────┬───────────────────┬────────────────┬──────────┬──────────────┬──────────┬─────────┬────────────┬─────────────────┬────────────┬─────────┬──────────────┐
│     NO      │           시군구            │  번지   │  본번   │  부번   │            단지명             │ 전용면적(㎡) │ 계약년월 │ 계약일  │ 거래금액(만원) │   동    │   층    │ 매수자  │ 매도자  │ 건축년도 │      도로명       │ 해제사유발생일 │ 거래유형 │ 중개사소재지 │ 등기일자 │  type   │ 시군구코드 │ 법정동코드short │    시도    │ 시군구  │ 행정구역분류 │
│   varchar   │           varchar           │ varchar │ varchar │ varchar │            varchar            │   varchar    │ varchar  │ varchar │    varchar     │ varchar │ varchar │ varchar │ varchar │ varchar  │      varchar      │    varchar     │ varchar  │   varchar    │ varchar  │ varchar │  varchar   │     varchar     │  varchar   │ varchar │   varchar    │
├─────────────┼─────────────────────────────┼─────────┼─────────┼─────────┼───────────────────────────────┼──────────────┼──────────┼─────────┼────────────────┼─────────┼─────────┼─────────┼─────────┼──────────┼───────────────────┼────────────────┼──────────┼──────────────┼──────────┼─────────┼────────────┼─────────────────┼────────────┼─────────┼──────────────┤
│ 아파트21416 │ 서울특별시 종로구 청운동    │ 56-45   │ 0056    │ 0045    │ 청운현대                      │ 84.5100      │ 202003   │ 18      │ 85,000         │ NULL    │ 3       │ NULL    │ NULL    │ 2000     │ 자하문로33길 43   │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │ 11110      │ 10100           │ 서울특별시 │ 종로구  │ 11010        │
│ 아파트10998 │ 서울특별시 종로구 신교동    │ 6-11    │ 0006    │ 0011    │ 신현(102동)                   │ 121.9600     │ 202309   │ 19      │ 102,000        │ 102     │ 5       │ NULL    │ NULL    │ 2002     │ 필운대로10길 18-8 │ NULL           │ 중개거래 │ 서울 종로구  │ 23.12.19 │ 아파트  │ 11110      │ 10200           │ 서울특별시 │ 종로구  │ 11010        │
│ 아파트34914 │ 서울특별시 종로구 통인동    │ 5-1     │ 0005    │ 0001    │ 효자                          │ 61.4900      │ 202105   │ 13      │ 32,000         │ NULL    │ 3       │ NULL    │ NULL    │ 1999     │ 자하문로 55       │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │ 11110      │ 10800           │ 서울특별시 │ 종로구  │ 11010        │
│ 아파트5980  │ 서울특별시 종로구 누상동    │ 40      │ 0040    │ 0000    │ 청호그린빌                    │ 29.7600      │ 202212   │ 19      │ 19,000         │ NULL    │ 4       │ NULL    │ NULL    │ 1999     │ 옥인3길 7         │ NULL           │ 중개거래 │ 서울 종로구  │ NULL     │ 아파트  │ 11110      │ 10900           │ 서울특별시 │ 종로구  │ 11010        │
│ 아파트10381 │ 서울특별시 종로구 옥인동    │ 56      │ 0056    │ 0000    │ 세종아파트                    │ 111.3100     │ 202104   │ 25      │ 93,500         │ NULL    │ 5       │ NULL    │ NULL    │ 2005     │ 필운대로 69       │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │ 11110      │ 11100           │ 서울특별시 │ 종로구  │ 11010        │
│ 아파트7223  │ 서울특별시 종로구 필운동    │ 254     │ 0254    │ 0000    │ 신동아블루아광화문의꿈        │ 111.9700     │ 202110   │ 25      │ 140,000        │ NULL    │ 8       │ NULL    │ NULL    │ 2007     │ 사직로 102        │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │ 11110      │ 11300           │ 서울특별시 │ 종로구  │ 11010        │
│ 아파트30836 │ 서울특별시 종로구 사직동    │ 9       │ 0009    │ 0000    │ 광화문스페이스본(101동~105동) │ 159.0100     │ 202310   │ 04      │ 172,500        │ 104     │ 4       │ NULL    │ NULL    │ 2008     │ 사직로8길 4       │ NULL           │ 중개거래 │ 서울 종로구  │ 24.01.05 │ 아파트  │ 11110      │ 11500           │ 서울특별시 │ 종로구  │ 11010        │
│ 아파트12815 │ 서울특별시 종로구 당주동    │ 145     │ 0145    │ 0000    │ 롯데미도파광화문빌딩          │ 149.9500     │ 202306   │ 20      │ 93,000         │ NULL    │ 9       │ NULL    │ NULL    │ 1981     │ 세종대로23길 47   │ NULL           │ 중개거래 │ 서울 종로구  │ 24.02.29 │ 아파트  │ 11110      │ 11700           │ 서울특별시 │ 종로구  │ 11010        │
│ 아파트30758 │ 서울특별시 종로구 내수동    │ 72      │ 0072    │ 0000    │ 경희궁의아침3단지             │ 174.5500     │ 202411   │ 02      │ 255,000        │ NULL    │ 5       │ 개인    │ 개인    │ 2004     │ 사직로8길 34      │ NULL           │ 중개거래 │ 서울 종로구  │ NULL     │ 아파트  │ 11110      │ 11800           │ 서울특별시 │ 종로구  │ 11010        │
│ 아파트6419  │ 서울특별시 종로구 신문로1가 │ 238     │ 0238    │ 0000    │ 신문로맨션                    │ 81.2800      │ 202410   │ 26      │ 79,500         │ NULL    │ 10      │ 개인    │ 개인    │ 1981     │ 새문안로3길 12    │ NULL           │ 중개거래 │ 서울 종로구  │ 24.12.18 │ 아파트  │ 11110      │ 12000           │ 서울특별시 │ 종로구  │ 11010        │
│     ·       │            ·                │  ·      │  ·      │  ·      │     ·                         │    ·         │   ·      │ ·       │   ·            │  ·      │ ·       │  ·      │  ·      │  ·       │       ·           │  ·             │  ·       │  ·           │  ·       │   ·     │   ·        │   ·             │     ·      │   ·     │   ·          │
│     ·       │            ·                │  ·      │  ·      │  ·      │     ·                         │    ·         │   ·      │ ·       │   ·            │  ·      │ ·       │  ·      │  ·      │  ·       │       ·           │  ·             │  ·       │  ·           │  ·       │   ·     │   ·        │   ·             │     ·      │   ·     │   ·          │
│     ·       │            ·                │  ·      │  ·      │  ·      │     ·                         │    ·         │   ·      │ ·       │   ·            │  ·      │ ·       │  ·      │  ·      │  ·       │       ·           │  ·             │  ·       │  ·           │  ·       │   ·     │   ·        │   ·             │     ·      │   ·     │   ·          │
│ 아파트95349 │ 서울특별시 강동구 성내동    │ 448-14  │ 0448    │ 0014    │ 하나플러스                    │ 46.3300      │ 202006   │ 06      │ 40,800         │ NULL    │ 7       │ NULL    │ NULL    │ 2003     │ 강동대로51길 12   │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │ 11740      │ 10800           │ 서울특별시 │ 강동구  │ 11250        │
│ 아파트19959 │ 서울특별시 강동구 천호동    │ 320     │ 0320    │ 0000    │ 다성이즈빌(320)               │ 46.5500      │ 202305   │ 16      │ 56,000         │ NULL    │ 7       │ NULL    │ NULL    │ 2017     │ 올림픽로89길 39-4 │ NULL           │ 중개거래 │ 서울 강동구  │ 23.10.04 │ 아파트  │ 11740      │ 10900           │ 서울특별시 │ 강동구  │ 11250        │
│ 아파트35649 │ 서울특별시 강동구 강일동    │ 686     │ 0686    │ 0000    │ 강일리버파크7단지             │ 84.8300      │ 202305   │ 03      │ 85,000         │ 703     │ 4       │ NULL    │ NULL    │ 2009     │ 아리수로98길 25   │ NULL           │ 중개거래 │ 서울 강동구  │ 23.07.27 │ 아파트  │ 11740      │ 11000           │ 서울특별시 │ 강동구  │ 11250        │
│ 아파트52092 │ 서울특별시 중구 회현동1가   │ 208     │ 0208    │ 0000    │ 남산롯데캐슬아이리스          │ 133.9800     │ 202101   │ 08      │ 170,000        │ NULL    │ 26      │ NULL    │ NULL    │ 2011     │ 소공로 35         │ 20210528       │ NULL     │ NULL         │ NULL     │ 아파트  │ 11140      │ 12100           │ 서울특별시 │ 중구    │ 11020        │
│ 아파트17806 │ 서울특별시 중구 회현동2가   │ 87      │ 0087    │ 0000    │ 쌍용남산플래티넘              │ 166.2400     │ 202404   │ 17      │ 183,000        │ A동     │ 4       │ 개인    │ 개인    │ 2010     │ 소공로 46         │ NULL           │ 중개거래 │ 서울 중구    │ 24.09.06 │ 아파트  │ 11140      │ 12200           │ 서울특별시 │ 중구    │ 11020        │
│ 아파트2968  │ 서울특별시 중구 충무로4가   │ 120-3   │ 0120    │ 0003    │ 진양상가                      │ 71.9300      │ 202012   │ 30      │ 47,600         │ NULL    │ 10      │ NULL    │ NULL    │ 1970     │ 퇴계로 217        │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │ 11140      │ 13200           │ 서울특별시 │ 중구    │ 11020        │
│ 아파트11477 │ 서울특별시 중구 충무로5가   │ 90      │ 0090    │ 0000    │ 충무로헤센스마트              │ 40.6500      │ 202105   │ 25      │ 42,000         │ NULL    │ 4       │ NULL    │ NULL    │ 2018     │ 서애로1길 11      │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │ 11140      │ 13300           │ 서울특별시 │ 중구    │ 11020        │
│ 아파트8151  │ 서울특별시 중구 인현동2가   │ 192-30  │ 0192    │ 0030    │ 인현상가/신성아파트           │ 41.6200      │ 202401   │ 24      │ 33,800         │ NULL    │ 8       │ 개인    │ 개인    │ 1968     │ 마른내로 72       │ NULL           │ 중개거래 │ 서울 중구    │ 24.01.31 │ 아파트  │ 11140      │ 13400           │ 서울특별시 │ 중구    │ 11020        │
│ 아파트54692 │ 서울특별시 중구 묵정동      │ 11-67   │ 0011    │ 0067    │ 묵정                          │ 52.4600      │ 202105   │ 03      │ 38,000         │ NULL    │ 1       │ NULL    │ NULL    │ 1981     │ 서애로1길 34      │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │ 11140      │ 13600           │ 서울특별시 │ 중구    │ 11020        │
│ 아파트49508 │ 서울특별시 중구 오장동      │ 145-1   │ 0145    │ 0001    │ 오렌지카운티을지로            │ 15.7900      │ 202102   │ 02      │ 20,600         │ NULL    │ 10      │ NULL    │ NULL    │ 2020     │ 동호로33길 15     │ NULL           │ NULL     │ NULL         │ NULL     │ 아파트  │ 11140      │ 15400           │ 서울특별시 │ 중구    │ 11020        │
├─────────────┴─────────────────────────────┴─────────┴─────────┴─────────┴───────────────────────────────┴──────────────┴──────────┴─────────┴────────────────┴─────────┴─────────┴─────────┴─────────┴──────────┴───────────────────┴────────────────┴──────────┴──────────────┴──────────┴─────────┴────────────┴─────────────────┴────────────┴─────────┴──────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                                                                                                                                                 26 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [219]:
con.sql("""
        SELECT 법정동코드short, COUNT(*) as count 
        FROM apart_joined 
        GROUP BY 법정동코드short
        ORDER BY count DESC
""")

┌─────────────────┬────────┐
│ 법정동코드short │ count  │
│     varchar     │ int64  │
├─────────────────┼────────┤
│ 10100           │ 167226 │
│ 10300           │ 165053 │
│ 10200           │ 163705 │
│ 10600           │ 134260 │
│ 10500           │ 127707 │
│ 10700           │ 127287 │
│ 10400           │ 125674 │
│ 10800           │ 104052 │
│ 10900           │  91912 │
│ 11000           │  62082 │
│   ·             │      · │
│   ·             │      · │
│   ·             │      · │
│ 43027           │      5 │
│ 25634           │      4 │
│ 25001           │      4 │
│ 37050           │      3 │
│ 16900           │      3 │
│ 26200           │      3 │
│ 43024           │      2 │
│ 41040           │      2 │
│ 40029           │      1 │
│ 43022           │      1 │
├─────────────────┴────────┤
│   354 rows (20 shown)    │
└──────────────────────────┘

## 마스터DB를 만들자

In [220]:
korean_keys.values()

odict_values(['apart', 'multifamily', 'detached', 'officetel', 'commercial', 'factory'])

In [221]:
print(len(apart))
print(len(multifamily))
print(len(detached))
print(len(officetel))
print(len(commercial))
print(len(factory))

2597149
685482
368179
229148
389448
78571

In [222]:
apart2 = con.sql("""
    SELECT
        NO,
        시군구 AS 읍면동,
        '아파트' AS type,
        '공동주택' AS 건축물주용도,
        단지명 AS "단지/건물명",
        계약년월, 
        계약일, 
        "전용면적(㎡)" AS "전용/연면적(㎡)",
        "거래금액(만원)",
        CAST(NULL AS VARCHAR) AS 지분구분,
        층,
        건축년도,
        거래유형
    FROM apart
""")
apart2

┌─────────────┬─────────────────────────────────────┬─────────┬──────────────┬────────────────────────┬──────────┬─────────┬─────────────────┬────────────────┬──────────┬─────────┬──────────┬──────────┐
│     NO      │               읍면동                │  type   │ 건축물주용도 │      단지/건물명       │ 계약년월 │ 계약일  │ 전용/연면적(㎡) │ 거래금액(만원) │ 지분구분 │   층    │ 건축년도 │ 거래유형 │
│   varchar   │               varchar               │ varchar │   varchar    │        varchar         │ varchar  │ varchar │     varchar     │    varchar     │ varchar  │ varchar │ varchar  │ varchar  │
├─────────────┼─────────────────────────────────────┼─────────┼──────────────┼────────────────────────┼──────────┼─────────┼─────────────────┼────────────────┼──────────┼─────────┼──────────┼──────────┤
│ 아파트1     │ 인천광역시 미추홀구 학익동          │ 아파트  │ 공동주택     │ 동아풍림               │ 202001   │ 31      │ 59.7500         │ 25,700         │ NULL     │ 12      │ 1999     │ NULL     │
│ 아파트2     │ 인천광역시 미추홀구 학익동          │ 아파트  │ 공동주택     │ 신동아1                │ 202001   │ 31      │ 41.9600         │ 12,800         │ NULL     │ 12      │ 1988     │ NULL     │
│ 아파트3     │ 인천광역시 미추홀구 학익동          │ 아파트  │ 공동주택     │ 신동아4                │ 202001   │ 31      │ 127.0200        │ 26,200         │ NULL     │ 5       │ 1990     │ NULL     │
│ 아파트4     │ 서울특별시 송파구 방이동            │ 아파트  │ 공동주택     │ 대림                   │ 202001   │ 31      │ 153.4750        │ 153,000        │ NULL     │ 11      │ 1985     │ NULL     │
│ 아파트5     │ 서울특별시 송파구 방이동            │ 아파트  │ 공동주택     │ 대림                   │ 202001   │ 31      │ 125.0750        │ 145,500        │ NULL     │ 5       │ 1985     │ NULL     │
│ 아파트6     │ 인천광역시 남동구 논현동            │ 아파트  │ 공동주택     │ 에코메트로9            │ 202001   │ 31      │ 123.8120        │ 46,500         │ NULL     │ 8       │ 2011     │ NULL     │
│ 아파트7     │ 서울특별시 금천구 독산동            │ 아파트  │ 공동주택     │ 독산동중앙하이츠빌     │ 202001   │ 31      │ 84.8768         │ 55,000         │ NULL     │ 11      │ 2004     │ NULL     │
│ 아파트8     │ 인천광역시 미추홀구 도화동          │ 아파트  │ 공동주택     │ 동원                   │ 202001   │ 31      │ 47.0700         │ 11,000         │ NULL     │ 1       │ 1987     │ NULL     │
│ 아파트9     │ 부산광역시 동래구 사직동            │ 아파트  │ 공동주택     │ 동원                   │ 202001   │ 31      │ 59.6400         │ 16,600         │ NULL     │ 3       │ 1980     │ NULL     │
│ 아파트10    │ 부산광역시 동래구 사직동            │ 아파트  │ 공동주택     │ 사직KCC스위첸2단지     │ 202001   │ 31      │ 84.9921         │ 57,800         │ NULL     │ 15      │ 2016     │ NULL     │
│    ·        │           ·                         │   ·     │    ·         │        ·               │   ·      │ ·       │    ·            │   ·            │  ·       │ ·       │  ·       │  ·       │
│    ·        │           ·                         │   ·     │    ·         │        ·               │   ·      │ ·       │    ·            │   ·            │  ·       │ ·       │  ·       │  ·       │
│    ·        │           ·                         │   ·     │    ·         │        ·               │   ·      │ ·       │    ·            │   ·            │  ·       │ ·       │  ·       │  ·       │
│ 아파트9991  │ 경상남도 진주시 평거동              │ 아파트  │ 공동주택     │ 엠코타운더프라하       │ 202001   │ 23      │ 119.7937        │ 47,000         │ NULL     │ 4       │ 2014     │ NULL     │
│ 아파트9992  │ 경상남도 진주시 가좌동              │ 아파트  │ 공동주택     │ 센트렐웰가             │ 202001   │ 23      │ 59.4500         │ 27,000         │ NULL     │ 11      │ 2018     │ NULL     │
│ 아파트9993  │ 경상남도 양산시 물금읍 범어리       │ 아파트  │ 공동주택     │ 신창비바패밀리         │ 202001   │ 23      │ 84.8390         │ 23,600         │ NULL     │ 4       │ 2009     │ NULL     │
│ 아파트9994  │ 강원특별자치도 동해시 동회동        │ 아파트  │ 공동주택     │ 북삼하우스디아파트     │ 202001   │ 23      │ 84.9625         │ 26,000         │ NULL     │ 26      │ 2018     │ NULL     │
│ 아파트9995  │ 전북특별자치도 군산시 옥산면 당북리 │ 아파트  │ 공동주택     │ 군산대광로제비앙아파트 │ 202001   │ 23      │ 84.9959         │ 22,400         │ NULL     │ 14      │ 2017     │ NULL     │
│ 아파트9996  │ 경상남도 창원시 성산구 사파동       │ 아파트  │ 공동주택     │ 동성                   │ 202001   │ 23      │ 59.9200         │ 16,700         │ NULL     │ 16      │ 1992     │ NULL     │
│ 아파트9997  │ 경상북도 경산시 중방동              │ 아파트  │ 공동주택     │ 중방e-편한세상1단지    │ 202001   │ 23      │ 84.9690         │ 42,500         │ NULL     │ 10      │ 2010     │ NULL     │
│ 아파트9998  │ 전북특별자치도 정읍시 상동          │ 아파트  │ 공동주택     │ 대림                   │ 202001   │ 23      │ 59.5750         │ 7,800          │ NULL     │ 8       │ 1993     │ NULL     │
│ 아파트9999  │ 전북특별자치도 정읍시 상동          │ 아파트  │ 공동주택     │ 우미타운               │ 202001   │ 23      │ 59.8800         │ 8,350          │ NULL     │ 13      │ 1997     │ NULL     │
│ 아파트10000 │ 전북특별자치도 전주시 덕진구 만성동 │ 아파트  │ 공동주택     │ 골드클래스             │ 202001   │ 23      │ 84.9525         │ 39,500         │ NULL     │ 15      │ 2018     │ NULL     │
├─────────────┴─────────────────────────────────────┴─────────┴──────────────┴────────────────────────┴──────────┴─────────┴─────────────────┴────────────────┴──────────┴─────────┴──────────┴──────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                               13 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [223]:
multifamily2 = con.sql("""
    SELECT
        NO,
        시군구 AS 읍면동,
        '연립/다세대' AS type,
        '공동주택' AS 건축물주용도,
        건물명 AS "단지/건물명",
        계약년월, 
        계약일, 
        "전용면적(㎡)" AS "전용/연면적(㎡)",
        "거래금액(만원)",
        CAST(NULL AS VARCHAR) AS 지분구분,
        층,
        건축년도,
        거래유형
    FROM multifamily
""")
multifamily2

┌──────────────────┬───────────────────────────────┬─────────────┬──────────────┬──────────────────────────┬──────────┬─────────┬─────────────────┬────────────────┬──────────┬─────────┬──────────┬──────────┐
│        NO        │            읍면동             │    type     │ 건축물주용도 │       단지/건물명        │ 계약년월 │ 계약일  │ 전용/연면적(㎡) │ 거래금액(만원) │ 지분구분 │   층    │ 건축년도 │ 거래유형 │
│     varchar      │            varchar            │   varchar   │   varchar    │         varchar          │ varchar  │ varchar │     varchar     │    varchar     │ varchar  │ varchar │ varchar  │ varchar  │
├──────────────────┼───────────────────────────────┼─────────────┼──────────────┼──────────────────────────┼──────────┼─────────┼─────────────────┼────────────────┼──────────┼─────────┼──────────┼──────────┤
│ 연립/다세대1     │ 대전광역시 대덕구 송촌동      │ 연립/다세대 │ 공동주택     │ 국제빌라(242-53)         │ 202001   │ 31      │ 72.5400         │ 10,300         │ NULL     │ 4       │ 1994     │ NULL     │
│ 연립/다세대2     │ 서울특별시 은평구 신사동      │ 연립/다세대 │ 공동주택     │ 해원맨숀(19-101)         │ 202001   │ 31      │ 84.4700         │ 45,140         │ NULL     │ 1       │ 1980     │ NULL     │
│ 연립/다세대3     │ 경기도 용인시 수지구 신봉동   │ 연립/다세대 │ 공동주택     │ 광교산한양수자인더킨포크 │ 202001   │ 31      │ 84.9460         │ 40,400         │ NULL     │ 3       │ 2017     │ NULL     │
│ 연립/다세대4     │ 경기도 부천시 오정구 오정동   │ 연립/다세대 │ 공동주택     │ 건우주택(617-9)          │ 202001   │ 31      │ 39.7800         │ 9,500          │ NULL     │ 4       │ 1993     │ NULL     │
│ 연립/다세대5     │ 경기도 부천시 오정구 고강동   │ 연립/다세대 │ 공동주택     │ 금성주택3동              │ 202001   │ 31      │ 35.7600         │ 10,200         │ NULL     │ 1       │ 1990     │ NULL     │
│ 연립/다세대6     │ 경기도 부천시 원미구 심곡동   │ 연립/다세대 │ 공동주택     │ 진양                     │ 202001   │ 31      │ 36.6000         │ 11,500         │ NULL     │ 1       │ 1983     │ NULL     │
│ 연립/다세대7     │ 서울특별시 동작구 사당동      │ 연립/다세대 │ 공동주택     │ 카보드빌                 │ 202001   │ 31      │ 62.6300         │ 37,000         │ NULL     │ 1       │ 2009     │ NULL     │
│ 연립/다세대8     │ 경기도 부천시 오정구 오정동   │ 연립/다세대 │ 공동주택     │ 삼성주택다동             │ 202001   │ 31      │ 25.3200         │ 7,000          │ NULL     │ 2       │ 1990     │ NULL     │
│ 연립/다세대9     │ 경기도 부천시 소사구 괴안동   │ 연립/다세대 │ 공동주택     │ 조공2차                  │ 202001   │ 31      │ 78.1560         │ 30,000         │ NULL     │ 4       │ 1985     │ NULL     │
│ 연립/다세대10    │ 경기도 안산시 단원구 와동     │ 연립/다세대 │ 공동주택     │ 배원                     │ 202001   │ 31      │ 44.2800         │ 10,000         │ NULL     │ 3       │ 1989     │ NULL     │
│       ·          │          ·                    │      ·      │    ·         │  ·                       │   ·      │ ·       │    ·            │   ·            │  ·       │ ·       │  ·       │  ·       │
│       ·          │          ·                    │      ·      │    ·         │  ·                       │   ·      │ ·       │    ·            │   ·            │  ·       │ ·       │  ·       │  ·       │
│       ·          │          ·                    │      ·      │    ·         │  ·                       │   ·      │ ·       │    ·            │   ·            │  ·       │ ·       │  ·       │  ·       │
│ 연립/다세대9991  │ 경기도 군포시 당정동          │ 연립/다세대 │ 공동주택     │ (1006-6)                 │ 202001   │ 07      │ 40.1500         │ 18,000         │ NULL     │ 1       │ 1983     │ NULL     │
│ 연립/다세대9992  │ 경기도 군포시 금정동          │ 연립/다세대 │ 공동주택     │ 영진A동                  │ 202001   │ 07      │ 31.3600         │ 12,000         │ NULL     │ 3       │ 1989     │ NULL     │
│ 연립/다세대9993  │ 경기도 군포시 금정동          │ 연립/다세대 │ 공동주택     │ 까치하이츠9동            │ 202001   │ 07      │ 36.1800         │ 12,000         │ NULL     │ -1      │ 1989     │ NULL     │
│ 연립/다세대9994  │ 경기도 군포시 금정동          │ 연립/다세대 │ 공동주택     │ 중앙빌라4차              │ 202001   │ 07      │ 36.3000         │ 18,000         │ NULL     │ 1       │ 1990     │ NULL     │
│ 연립/다세대9995  │ 경기도 시흥시 신천동          │ 연립/다세대 │ 공동주택     │ 미림아트빌               │ 202001   │ 07      │ 53.0100         │ 7,000          │ NULL     │ -1      │ 2002     │ NULL     │
│ 연립/다세대9996  │ 경기도 시흥시 은행동          │ 연립/다세대 │ 공동주택     │ 동경주택8차다동          │ 202001   │ 07      │ 76.1500         │ 13,000         │ NULL     │ 1       │ 1992     │ NULL     │
│ 연립/다세대9997  │ 경기도 시흥시 신천동          │ 연립/다세대 │ 공동주택     │ 솔빛마을8차1동           │ 202001   │ 07      │ 24.4200         │ 8,300          │ NULL     │ 4       │ 2002     │ NULL     │
│ 연립/다세대9998  │ 경기도 오산시 원동            │ 연립/다세대 │ 공동주택     │ 신안경일연립             │ 202001   │ 07      │ 64.2000         │ 12,000         │ NULL     │ 2       │ 1978     │ NULL     │
│ 연립/다세대9999  │ 경기도 오산시 수청동          │ 연립/다세대 │ 공동주택     │ 화성국민주택             │ 202001   │ 07      │ 50.0400         │ 9,300          │ NULL     │ 3       │ 1984     │ NULL     │
│ 연립/다세대10000 │ 경기도 남양주시 진접읍 장현리 │ 연립/다세대 │ 공동주택     │ 장현리스카이캐슬105동    │ 202001   │ 07      │ 59.4450         │ 15,950         │ NULL     │ 3       │ 2013     │ NULL     │
├──────────────────┴───────────────────────────────┴─────────────┴──────────────┴──────────────────────────┴──────────┴─────────┴─────────────────┴────────────────┴──────────┴─────────┴──────────┴──────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                    13 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [224]:
detached2 = con.sql("""
    SELECT
        NO,
        시군구 AS 읍면동,
        주택유형 AS type,
        '단독주택' AS 건축물주용도,
        CAST(NULL AS VARCHAR) AS "단지/건물명",
        계약년월, 
        계약일, 
        "연면적(㎡)" AS "전용/연면적(㎡)",
        "거래금액(만원)",
        CAST(NULL AS VARCHAR) AS 지분구분,
        CAST(NULL AS VARCHAR) AS 층,
        건축년도,
        거래유형
    FROM detached
""")
detached2

┌─────────────────┬───────────────────────────────────────────┬─────────┬──────────────┬─────────────┬──────────┬─────────┬─────────────────┬────────────────┬──────────┬─────────┬──────────┬──────────┐
│       NO        │                  읍면동                   │  type   │ 건축물주용도 │ 단지/건물명 │ 계약년월 │ 계약일  │ 전용/연면적(㎡) │ 거래금액(만원) │ 지분구분 │   층    │ 건축년도 │ 거래유형 │
│     varchar     │                  varchar                  │ varchar │   varchar    │   varchar   │ varchar  │ varchar │     varchar     │    varchar     │ varchar  │ varchar │ varchar  │ varchar  │
├─────────────────┼───────────────────────────────────────────┼─────────┼──────────────┼─────────────┼──────────┼─────────┼─────────────────┼────────────────┼──────────┼─────────┼──────────┼──────────┤
│ 단독/다가구1    │ 강원특별자치도 춘천시 서면 현암리         │ 단독    │ 단독주택     │ NULL        │ 202001   │ 31      │ 38.25           │ 6,700          │ NULL     │ NULL    │ 2013     │ NULL     │
│ 단독/다가구2    │ 충청남도 아산시 신창면 오목리             │ 단독    │ 단독주택     │ NULL        │ 202001   │ 31      │ 290.89          │ 16,735         │ NULL     │ NULL    │ 1934     │ NULL     │
│ 단독/다가구3    │ 충청북도 충주시 교현동                    │ 단독    │ 단독주택     │ NULL        │ 202001   │ 31      │ 84.72           │ 10,500         │ NULL     │ NULL    │ 2009     │ NULL     │
│ 단독/다가구4    │ 강원특별자치도 양구군 국토정중앙면 용하리 │ 단독    │ 단독주택     │ NULL        │ 202001   │ 31      │ 81.84           │ 5,600          │ NULL     │ NULL    │ 1993     │ NULL     │
│ 단독/다가구5    │ 전북특별자치도 군산시 송풍동              │ 단독    │ 단독주택     │ NULL        │ 202001   │ 31      │ 54.40           │ 2,700          │ NULL     │ NULL    │ 1970     │ NULL     │
│ 단독/다가구6    │ 전라남도 영광군 군남면 설매리             │ 단독    │ 단독주택     │ NULL        │ 202001   │ 31      │ 26.40           │ 1,000          │ NULL     │ NULL    │ 1956     │ NULL     │
│ 단독/다가구7    │ 경기도 수원시 권선구 고색동               │ 다가구  │ 단독주택     │ NULL        │ 202001   │ 31      │ 440.17          │ 115,000        │ NULL     │ NULL    │ 2018     │ NULL     │
│ 단독/다가구8    │ 경기도 부천시 원미구 심곡동               │ 단독    │ 단독주택     │ NULL        │ 202001   │ 31      │ 254.67          │ 56,000         │ NULL     │ NULL    │ 1989     │ NULL     │
│ 단독/다가구9    │ 경기도 부천시 원미구 심곡동               │ 다가구  │ 단독주택     │ NULL        │ 202001   │ 31      │ 215.52          │ 54,000         │ NULL     │ NULL    │ 1987     │ NULL     │
│ 단독/다가구10   │ 경기도 파주시 월롱면 덕은리               │ 단독    │ 단독주택     │ NULL        │ 202001   │ 31      │ 405.68          │ 23,800         │ NULL     │ NULL    │ 1984     │ NULL     │
│       ·         │              ·                            │  ·      │    ·         │  ·          │   ·      │ ·       │   ·             │   ·            │  ·       │  ·      │  ·       │  ·       │
│       ·         │              ·                            │  ·      │    ·         │  ·          │   ·      │ ·       │   ·             │   ·            │  ·       │  ·      │  ·       │  ·       │
│       ·         │              ·                            │  ·      │    ·         │  ·          │   ·      │ ·       │   ·             │   ·            │  ·       │  ·      │  ·       │  ·       │
│ 단독/다가구3671 │ 강원특별자치도 춘천시 남산면 백양리       │ 다가구  │ 단독주택     │ NULL        │ 202002   │ 17      │ 254.45          │ 26,300         │ NULL     │ NULL    │ 2013     │ NULL     │
│ 단독/다가구3672 │ 서울특별시 금천구 시흥동                  │ 다가구  │ 단독주택     │ NULL        │ 202002   │ 17      │ 188.91          │ 60,000         │ NULL     │ NULL    │ 1983     │ NULL     │
│ 단독/다가구3673 │ 서울특별시 금천구 시흥동                  │ 다가구  │ 단독주택     │ NULL        │ 202002   │ 17      │ 166.86          │ 70,000         │ NULL     │ NULL    │ 1990     │ NULL     │
│ 단독/다가구3674 │ 부산광역시 수영구 망미동                  │ 단독    │ 단독주택     │ NULL        │ 202002   │ 17      │ 406.90          │ 70,000         │ NULL     │ NULL    │ 1991     │ NULL     │
│ 단독/다가구3675 │ 부산광역시 수영구 망미동                  │ 단독    │ 단독주택     │ NULL        │ 202002   │ 17      │ 66.12           │ 21,000         │ NULL     │ NULL    │ 1974     │ NULL     │
│ 단독/다가구3676 │ 경기도 동두천시 동두천동                  │ 단독    │ 단독주택     │ NULL        │ 202002   │ 17      │ 175.14          │ 36,778         │ NULL     │ NULL    │ 2019     │ NULL     │
│ 단독/다가구3677 │ 서울특별시 도봉구 방학동                  │ 다가구  │ 단독주택     │ NULL        │ 202002   │ 17      │ 220.80          │ 54,750         │ NULL     │ NULL    │ 1994     │ NULL     │
│ 단독/다가구3678 │ 서울특별시 도봉구 방학동                  │ 다가구  │ 단독주택     │ NULL        │ 202002   │ 17      │ 199.26          │ 47,400         │ NULL     │ NULL    │ 1991     │ NULL     │
│ 단독/다가구3679 │ 대구광역시 달서구 송현동                  │ 다가구  │ 단독주택     │ NULL        │ 202002   │ 17      │ 359.70          │ 57,000         │ NULL     │ NULL    │ 2006     │ NULL     │
│ 단독/다가구3680 │ 인천광역시 부평구 십정동                  │ 단독    │ 단독주택     │ NULL        │ 202002   │ 17      │ 289.06          │ 44,000         │ NULL     │ NULL    │ 1989     │ NULL     │
├─────────────────┴───────────────────────────────────────────┴─────────┴──────────────┴─────────────┴──────────┴─────────┴─────────────────┴────────────────┴──────────┴─────────┴──────────┴──────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                              13 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [225]:
officetel2 = con.sql("""
    SELECT
        NO,
        시군구 AS 읍면동,
        '오피스텔' AS type,
        '업무' AS 건축물주용도,  -- 상업/업무용 기재내용에 맞춤
        단지명 AS "단지/건물명",
        계약년월, 
        계약일, 
        "전용면적(㎡)" AS "전용/연면적(㎡)",
        "거래금액(만원)",
        CAST(NULL AS VARCHAR) AS 지분구분,
        층,
        건축년도,
        거래유형
    FROM officetel
""")
officetel2

┌──────────────┬────────────────────────────────┬──────────┬──────────────┬───────────────────────────────────┬──────────┬─────────┬─────────────────┬────────────────┬──────────┬─────────┬──────────┬──────────┐
│      NO      │             읍면동             │   type   │ 건축물주용도 │            단지/건물명            │ 계약년월 │ 계약일  │ 전용/연면적(㎡) │ 거래금액(만원) │ 지분구분 │   층    │ 건축년도 │ 거래유형 │
│   varchar    │            varchar             │ varchar  │   varchar    │              varchar              │ varchar  │ varchar │     varchar     │    varchar     │ varchar  │ varchar │ varchar  │ varchar  │
├──────────────┼────────────────────────────────┼──────────┼──────────────┼───────────────────────────────────┼──────────┼─────────┼─────────────────┼────────────────┼──────────┼─────────┼──────────┼──────────┤
│ 오피스텔1    │ 경기도 성남시 분당구 서현동    │ 오피스텔 │ 업무         │ 분당풍림아이원플러스오피스텔      │ 202001   │ 31      │ 35.0000         │ 15,700         │ NULL     │ 16      │ 2004     │ NULL     │
│ 오피스텔2    │ 경기도 성남시 분당구 서현동    │ 오피스텔 │ 업무         │ 분당풍림아이원플러스오피스텔      │ 202001   │ 31      │ 60.0000         │ 25,450         │ NULL     │ 7       │ 2004     │ NULL     │
│ 오피스텔3    │ 경기도 성남시 분당구 구미동    │ 오피스텔 │ 업무         │ 분당현대벤쳐빌                    │ 202001   │ 31      │ 139.2900        │ 47,800         │ NULL     │ 3       │ 2001     │ NULL     │
│ 오피스텔4    │ 경기도 성남시 분당구 서현동    │ 오피스텔 │ 업무         │ 엘지분당에클라트                  │ 202001   │ 31      │ 45.0100         │ 19,200         │ NULL     │ 8       │ 2004     │ NULL     │
│ 오피스텔5    │ 경기도 성남시 분당구 정자동    │ 오피스텔 │ 업무         │ 분당인텔리지2                     │ 202001   │ 31      │ 76.3600         │ 40,400         │ NULL     │ 4       │ 2004     │ NULL     │
│ 오피스텔6    │ 경기도 성남시 분당구 정자동    │ 오피스텔 │ 업무         │ 정자역 엠코헤리츠 3단지           │ 202001   │ 31      │ 25.3600         │ 20,100         │ NULL     │ 2       │ 2014     │ NULL     │
│ 오피스텔7    │ 경기도 성남시 분당구 금곡동    │ 오피스텔 │ 업무         │ 천사의도시Ⅲ오피스텔               │ 202001   │ 31      │ 36.1600         │ 16,500         │ NULL     │ 2       │ 2004     │ NULL     │
│ 오피스텔8    │ 서울특별시 광진구 구의동       │ 오피스텔 │ 업무         │ 강변에스케이뷰                    │ 202001   │ 31      │ 28.0100         │ 23,700         │ NULL     │ 2       │ 2017     │ NULL     │
│ 오피스텔9    │ 경기도 성남시 수정구 창곡동    │ 오피스텔 │ 업무         │ 위례 한화 오벨리스크 센트럴스퀘어 │ 202001   │ 31      │ 77.6400         │ 70,000         │ NULL     │ 8       │ 2017     │ NULL     │
│ 오피스텔10   │ 경기도 수원시 영통구 하동      │ 오피스텔 │ 업무         │ 광교 힐스테이트 레이크            │ 202001   │ 31      │ 84.8300         │ 60,000         │ NULL     │ 12      │ 2015     │ NULL     │
│     ·        │             ·                  │    ·     │  ·           │       ·                           │   ·      │ ·       │    ·            │   ·            │  ·       │ ·       │  ·       │  ·       │
│     ·        │             ·                  │    ·     │  ·           │       ·                           │   ·      │ ·       │    ·            │   ·            │  ·       │ ·       │  ·       │  ·       │
│     ·        │             ·                  │    ·     │  ·           │       ·                           │   ·      │ ·       │    ·            │   ·            │  ·       │ ·       │  ·       │  ·       │
│ 오피스텔2858 │ 제주특별자치도 서귀포시 서호동 │ 오피스텔 │ 업무         │ 웰스 플레이스                     │ 202003   │ 04      │ 70.2740         │ 35,224         │ NULL     │ 5       │ 2020     │ NULL     │
│ 오피스텔2859 │ 제주특별자치도 서귀포시 서호동 │ 오피스텔 │ 업무         │ 웰스 플레이스                     │ 202003   │ 04      │ 66.1490         │ 34,034         │ NULL     │ 6       │ 2020     │ NULL     │
│ 오피스텔2860 │ 제주특별자치도 서귀포시 서호동 │ 오피스텔 │ 업무         │ 웰스 플레이스                     │ 202003   │ 04      │ 62.4790         │ 32,130         │ NULL     │ 6       │ 2020     │ NULL     │
│ 오피스텔2861 │ 제주특별자치도 서귀포시 서호동 │ 오피스텔 │ 업무         │ 웰스 플레이스                     │ 202003   │ 04      │ 49.9940         │ 25,704         │ NULL     │ 6       │ 2020     │ NULL     │
│ 오피스텔2862 │ 제주특별자치도 서귀포시 서호동 │ 오피스텔 │ 업무         │ 웰스 플레이스                     │ 202003   │ 04      │ 48.1940         │ 24,752         │ NULL     │ 6       │ 2020     │ NULL     │
│ 오피스텔2863 │ 제주특별자치도 서귀포시 서호동 │ 오피스텔 │ 업무         │ 웰스 플레이스                     │ 202003   │ 04      │ 70.2740         │ 36,176         │ NULL     │ 6       │ 2020     │ NULL     │
│ 오피스텔2864 │ 제주특별자치도 서귀포시 서호동 │ 오피스텔 │ 업무         │ 웰스 플레이스                     │ 202003   │ 04      │ 70.2740         │ 37,128         │ NULL     │ 7       │ 2020     │ NULL     │
│ 오피스텔2865 │ 제주특별자치도 서귀포시 서호동 │ 오피스텔 │ 업무         │ 웰스 플레이스                     │ 202003   │ 04      │ 66.1490         │ 30,586         │ NULL     │ 2       │ 2020     │ NULL     │
│ 오피스텔2866 │ 제주특별자치도 서귀포시 서호동 │ 오피스텔 │ 업무         │ 웰스 플레이스                     │ 202003   │ 04      │ 66.1490         │ 34,986         │ NULL     │ 7       │ 2020     │ NULL     │
│ 오피스텔2867 │ 제주특별자치도 서귀포시 서호동 │ 오피스텔 │ 업무         │ 웰스 플레이스                     │ 202003   │ 04      │ 62.4790         │ 32,963         │ NULL     │ 7       │ 2020     │ NULL     │
├──────────────┴────────────────────────────────┴──────────┴──────────────┴───────────────────────────────────┴──────────┴─────────┴─────────────────┴────────────────┴──────────┴─────────┴──────────┴──────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                       13 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [226]:
commercial2 = con.sql("""
    SELECT
        NO,
        시군구 AS 읍면동,
        건축물주용도 AS type,
        건축물주용도,  -- type과 동일
        CAST(NULL AS VARCHAR) AS "단지/건물명",
        계약년월, 
        계약일, 
        "전용/연면적(㎡)",
        "거래금액(만원)",
        CASE
            WHEN 지분구분 IS NULL OR trim(지분구분) = '' THEN '-'
            ELSE 지분구분
        END AS 지분구분,
        층,
        건축년도,
        거래유형
    FROM commercial
""")
commercial2

┌─────────────────┬────────────────────────────────────┬───────────────┬───────────────┬─────────────┬──────────┬─────────┬─────────────────┬────────────────┬──────────┬─────────┬──────────┬──────────┐
│       NO        │               읍면동               │     type      │ 건축물주용도  │ 단지/건물명 │ 계약년월 │ 계약일  │ 전용/연면적(㎡) │ 거래금액(만원) │ 지분구분 │   층    │ 건축년도 │ 거래유형 │
│     varchar     │              varchar               │    varchar    │    varchar    │   varchar   │ varchar  │ varchar │     varchar     │    varchar     │ varchar  │ varchar │ varchar  │ varchar  │
├─────────────────┼────────────────────────────────────┼───────────────┼───────────────┼─────────────┼──────────┼─────────┼─────────────────┼────────────────┼──────────┼─────────┼──────────┼──────────┤
│ 상업/업무용1    │ 경상남도 진주시 충무공동           │ 업무          │ 업무          │ NULL        │ 202001   │ 31      │ 47.70           │ 8,521          │ -        │ 4       │ 2016     │ NULL     │
│ 상업/업무용2    │ 전북특별자치도 김제시 흥사동       │ 숙박          │ 숙박          │ NULL        │ 202001   │ 31      │ 658.80          │ 30,000         │ -        │ NULL    │ 2006     │ NULL     │
│ 상업/업무용3    │ 부산광역시 기장군 일광읍 화전리    │ 제2종근린생활 │ 제2종근린생활 │ NULL        │ 202001   │ 31      │ 491.90          │ 93,030         │ -        │ NULL    │ 2012     │ NULL     │
│ 상업/업무용4    │ 서울특별시 마포구 아현동           │ 제1종근린생활 │ 제1종근린생활 │ NULL        │ 202001   │ 31      │ 231.64          │ 184,000        │ -        │ NULL    │ 1991     │ NULL     │
│ 상업/업무용5    │ 부산광역시 기장군 기장읍 시랑리    │ 숙박          │ 숙박          │ NULL        │ 202001   │ 31      │ 211.68          │ 13,500         │ 지분     │ NULL    │ NULL     │ NULL     │
│ 상업/업무용6    │ 서울특별시 성북구 석관동           │ 제1종근린생활 │ 제1종근린생활 │ NULL        │ 202001   │ 31      │ 70.58           │ 72,000         │ -        │ NULL    │ 1985     │ NULL     │
│ 상업/업무용7    │ 경상북도 예천군 호명읍 산합리      │ 제1종근린생활 │ 제1종근린생활 │ NULL        │ 202001   │ 31      │ 132.61          │ 42,800         │ -        │ 6       │ 2017     │ NULL     │
│ 상업/업무용8    │ 경상북도 예천군 호명읍 산합리      │ 제1종근린생활 │ 제1종근린생활 │ NULL        │ 202001   │ 31      │ 138.88          │ 43,870         │ -        │ 6       │ 2017     │ NULL     │
│ 상업/업무용9    │ 경기도 용인시 기흥구 구갈동        │ 제1종근린생활 │ 제1종근린생활 │ NULL        │ 202001   │ 31      │ 267.03          │ 95,000         │ 지분     │ NULL    │ 1993     │ NULL     │
│ 상업/업무용10   │ 경기도 용인시 기흥구 구갈동        │ 제2종근린생활 │ 제2종근린생활 │ NULL        │ 202001   │ 31      │ 663.22          │ 158,000        │ -        │ NULL    │ 2007     │ NULL     │
│       ·         │              ·                     │       ·       │       ·       │  ·          │   ·      │ ·       │   ·             │    ·           │ ·        │  ·      │  ·       │  ·       │
│       ·         │              ·                     │       ·       │       ·       │  ·          │   ·      │ ·       │   ·             │    ·           │ ·        │  ·      │  ·       │  ·       │
│       ·         │              ·                     │       ·       │       ·       │  ·          │   ·      │ ·       │   ·             │    ·           │ ·        │  ·      │  ·       │  ·       │
│ 상업/업무용4285 │ 서울특별시 영등포구 영등포동3가    │ 제2종근린생활 │ 제2종근린생활 │ NULL        │ 202002   │ 11      │ 374.00          │ 679,000        │ -        │ NULL    │ 1970     │ NULL     │
│ 상업/업무용4286 │ 경기도 용인시 처인구 모현읍 갈담리 │ 제2종근린생활 │ 제2종근린생활 │ NULL        │ 202002   │ 11      │ 150.00          │ 67,000         │ -        │ NULL    │ 2020     │ NULL     │
│ 상업/업무용4287 │ 광주광역시 북구 신안동             │ 제2종근린생활 │ 제2종근린생활 │ NULL        │ 202002   │ 11      │ 85.51           │ 17,650         │ -        │ NULL    │ 1974     │ NULL     │
│ 상업/업무용4288 │ 경기도 포천시 군내면 직두리        │ 제2종근린생활 │ 제2종근린생활 │ NULL        │ 202002   │ 11      │ 137.70          │ 12,500         │ 지분     │ NULL    │ 2009     │ NULL     │
│ 상업/업무용4289 │ 광주광역시 북구 유동               │ 제1종근린생활 │ 제1종근린생활 │ NULL        │ 202002   │ 11      │ 621.15          │ 88,000         │ -        │ NULL    │ 1970     │ NULL     │
│ 상업/업무용4290 │ 경기도 시흥시 과림동               │ 제2종근린생활 │ 제2종근린생활 │ NULL        │ 202002   │ 11      │ 326.35          │ 106,430        │ -        │ NULL    │ 2005     │ NULL     │
│ 상업/업무용4291 │ 경기도 포천시 가산면 우금리        │ 제1종근린생활 │ 제1종근린생활 │ NULL        │ 202002   │ 11      │ 540.92          │ 188,250        │ -        │ NULL    │ 2020     │ NULL     │
│ 상업/업무용4292 │ 경기도 용인시 기흥구 보정동        │ 교육연구      │ 교육연구      │ NULL        │ 202002   │ 11      │ 109.13          │ 33,500         │ -        │ 7       │ 2005     │ NULL     │
│ 상업/업무용4293 │ 서울특별시 성북구 정릉동           │ 제2종근린생활 │ 제2종근린생활 │ NULL        │ 202002   │ 11      │ 19.78           │ 5,500          │ -        │ 1       │ 2008     │ NULL     │
│ 상업/업무용4294 │ 경기도 시흥시 장현동               │ 제2종근린생활 │ 제2종근린생활 │ NULL        │ 202002   │ 11      │ 35.98           │ 6,800          │ -        │ 1       │ 2004     │ NULL     │
├─────────────────┴────────────────────────────────────┴───────────────┴───────────────┴─────────────┴──────────┴─────────┴─────────────────┴────────────────┴──────────┴─────────┴──────────┴──────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                              13 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [227]:
factory2 = con.sql("""
    SELECT
        NO,
        시군구 AS 읍면동,
        건축물주용도 AS type,
        건축물주용도,  -- type과 동일
        CAST(NULL AS VARCHAR) AS "단지/건물명",
        계약년월, 
        계약일, 
        "전용/연면적(㎡)",
        "거래금액(만원)",
        CASE
            WHEN 지분구분 IS NULL OR trim(지분구분) = '' THEN '-'
            ELSE 지분구분
        END AS 지분구분,
        층,
        건축년도,
        거래유형
    FROM factory
""")
factory2

┌─────────────────┬─────────────────────────────────────┬───────────────────────┬───────────────────────┬─────────────┬──────────┬─────────┬─────────────────┬────────────────┬──────────┬─────────┬──────────┬──────────┐
│       NO        │               읍면동                │         type          │     건축물주용도      │ 단지/건물명 │ 계약년월 │ 계약일  │ 전용/연면적(㎡) │ 거래금액(만원) │ 지분구분 │   층    │ 건축년도 │ 거래유형 │
│     varchar     │               varchar               │        varchar        │        varchar        │   varchar   │ varchar  │ varchar │     varchar     │    varchar     │ varchar  │ varchar │ varchar  │ varchar  │
├─────────────────┼─────────────────────────────────────┼───────────────────────┼───────────────────────┼─────────────┼──────────┼─────────┼─────────────────┼────────────────┼──────────┼─────────┼──────────┼──────────┤
│ 공장/창고 등1   │ 서울특별시 금천구 가산동            │ 공장                  │ 공장                  │ NULL        │ 202001   │ 31      │ 287.90          │ 88,158         │ -        │ 9       │ NULL     │ NULL     │
│ 공장/창고 등2   │ 경상남도 김해시 생림면 봉림리       │ 공장                  │ 공장                  │ NULL        │ 202001   │ 31      │ 462.00          │ 88,900         │ -        │ NULL    │ NULL     │ NULL     │
│ 공장/창고 등3   │ 경기도 파주시 광탄면 방축리         │ 공장                  │ 공장                  │ NULL        │ 202001   │ 31      │ 1354.35         │ 170,112        │ -        │ NULL    │ NULL     │ NULL     │
│ 공장/창고 등4   │ 서울특별시 강서구 등촌동            │ 공장                  │ 공장                  │ NULL        │ 202001   │ 31      │ 92.74           │ 55,000         │ -        │ 6       │ 2018     │ NULL     │
│ 공장/창고 등5   │ 경기도 부천시 원미구 상동           │ 운수시설              │ 운수시설              │ NULL        │ 202001   │ 31      │ 11.20           │ 5,440          │ -        │ 53      │ 2007     │ NULL     │
│ 공장/창고 등6   │ 경기도 파주시 오도동                │ 공장                  │ 공장                  │ NULL        │ 202001   │ 31      │ 728.00          │ 236,000        │ -        │ NULL    │ 2016     │ NULL     │
│ 공장/창고 등7   │ 부산광역시 북구 덕천동              │ 자동차 관련시설       │ 자동차 관련시설       │ NULL        │ 202001   │ 31      │ 54.00           │ 100,000        │ -        │ NULL    │ 2003     │ NULL     │
│ 공장/창고 등8   │ 경상남도 김해시 진례면 고모리       │ 공장                  │ 공장                  │ NULL        │ 202001   │ 31      │ 963.15          │ 95,000         │ -        │ NULL    │ NULL     │ NULL     │
│ 공장/창고 등9   │ 경기도 성남시 중원구 상대원동       │ 공장                  │ 공장                  │ NULL        │ 202001   │ 31      │ 134.40          │ 30,500         │ -        │ 10      │ NULL     │ NULL     │
│ 공장/창고 등10  │ 서울특별시 송파구 문정동            │ 창고시설              │ 창고시설              │ NULL        │ 202001   │ 31      │ 22.26           │ 9,100          │ -        │ NULL    │ NULL     │ NULL     │
│       ·         │            ·                        │    ·                  │    ·                  │  ·          │   ·      │ ·       │   ·             │   ·            │ ·        │  ·      │  ·       │  ·       │
│       ·         │            ·                        │    ·                  │    ·                  │  ·          │   ·      │ ·       │   ·             │   ·            │ ·        │  ·      │  ·       │  ·       │
│       ·         │            ·                        │    ·                  │    ·                  │  ·          │   ·      │ ·       │   ·             │   ·            │ ·        │  ·      │  ·       │  ·       │
│ 공장/창고 등773 │ 대구광역시 군위군 의흥면 이지리     │ 동물 및 식물 관련시설 │ 동물 및 식물 관련시설 │ NULL        │ 202008   │ 13      │ 329.40          │ 8,500          │ 지분     │ NULL    │ 2001     │ NULL     │
│ 공장/창고 등774 │ 경기도 수원시 권선구 평동           │ 자동차 관련시설       │ 자동차 관련시설       │ NULL        │ 202008   │ 13      │ 311.58          │ 70,250         │ -        │ 3       │ 2019     │ NULL     │
│ 공장/창고 등775 │ 강원특별자치도 원주시 단구동        │ 자동차 관련시설       │ 자동차 관련시설       │ NULL        │ 202008   │ 13      │ 37.39           │ 1,000          │ 지분     │ NULL    │ 2005     │ NULL     │
│ 공장/창고 등776 │ 강원특별자치도 원주시 우산동        │ 자원순환 관련시설     │ 자원순환 관련시설     │ NULL        │ 202008   │ 12      │ 122.88          │ 57,289         │ -        │ NULL    │ 1999     │ NULL     │
│ 공장/창고 등777 │ 강원특별자치도 원주시 우산동        │ 공장                  │ 공장                  │ NULL        │ 202008   │ 12      │ 2838.97         │ 148,016        │ -        │ NULL    │ 1991     │ NULL     │
│ 공장/창고 등778 │ 전북특별자치도 정읍시 덕천면 도계리 │ 창고시설              │ 창고시설              │ NULL        │ 202008   │ 12      │ 10.83           │ 500            │ 지분     │ NULL    │ 2013     │ NULL     │
│ 공장/창고 등779 │ 경상북도 김천시 지좌동              │ 창고시설              │ 창고시설              │ NULL        │ 202008   │ 12      │ 24.00           │ 700            │ -        │ NULL    │ 1994     │ NULL     │
│ 공장/창고 등780 │ 충청북도 충주시 신니면 용원리       │ 공장                  │ 공장                  │ NULL        │ 202008   │ 12      │ 3828.86         │ 380,000        │ -        │ NULL    │ 2012     │ NULL     │
│ 공장/창고 등781 │ 서울특별시 송파구 문정동            │ 공장                  │ 공장                  │ NULL        │ 202008   │ 12      │ 121.20          │ 110,000        │ -        │ 2       │ 2017     │ NULL     │
│ 공장/창고 등782 │ 경기도 의왕시 포일동                │ 공장                  │ 공장                  │ NULL        │ 202008   │ 12      │ 92.75           │ 37,700         │ -        │ NULL    │ NULL     │ NULL     │
├─────────────────┴─────────────────────────────────────┴───────────────────────┴───────────────────────┴─────────────┴──────────┴─────────┴─────────────────┴────────────────┴──────────┴─────────┴──────────┴──────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                               13 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [236]:
unioned = con.sql("""
SELECT * FROM apart2
UNION ALL
SELECT * FROM multifamily2
UNION ALL
SELECT * FROM detached2
UNION ALL
SELECT * FROM officetel2
UNION ALL
SELECT * FROM commercial2
UNION ALL
SELECT * FROM factory2;
""")
realtx_master = con.sql("""
    SELECT
        a.*,
        ROUND(CAST(REPLACE(a."거래금액(만원)", ',', '') AS DOUBLE) / CAST(a."전용/연면적(㎡)" AS DOUBLE), 4) AS "단가_만원/㎡",
        TRIM(
            CASE WHEN TRIM(split_part(a.읍면동, ' ', 1)) != '' THEN split_part(a.읍면동, ' ', 1) ELSE '' END
            || CASE WHEN TRIM(split_part(a.읍면동, ' ', 2)) != '' THEN ' ' || split_part(a.읍면동, ' ', 2) ELSE '' END
            || CASE WHEN TRIM(split_part(a.읍면동, ' ', 3)) != '' THEN ' ' || split_part(a.읍면동, ' ', 3) ELSE '' END
        ) AS 읍면동_앞3단어,
        b.시군구코드,
        b.법정동코드short,
        b.시도,
        b.시군구,
        b.행정구역분류
    FROM unioned a
    LEFT JOIN bjdong_kcad b
    ON TRIM(
            CASE WHEN TRIM(split_part(a.읍면동, ' ', 1)) != '' THEN split_part(a.읍면동, ' ', 1) ELSE '' END
            || CASE WHEN TRIM(split_part(a.읍면동, ' ', 2)) != '' THEN ' ' || split_part(a.읍면동, ' ', 2) ELSE '' END
            || CASE WHEN TRIM(split_part(a.읍면동, ' ', 3)) != '' THEN ' ' || split_part(a.읍면동, ' ', 3) ELSE '' END
        ) = TRIM(b.법정동명)
    ORDER BY NO
""")
realtx_master

┌─────────────────┬─────────────────────────────────────┬─────────────────┬─────────────────┬─────────────┬──────────┬─────────┬─────────────────┬────────────────┬──────────┬─────────┬──────────┬──────────┬──────────────┬────────────────────────────────┬────────────┬─────────────────┬────────────────┬───────────────────┬──────────────┐
│       NO        │               읍면동                │      type       │  건축물주용도   │ 단지/건물명 │ 계약년월 │ 계약일  │ 전용/연면적(㎡) │ 거래금액(만원) │ 지분구분 │   층    │ 건축년도 │ 거래유형 │ 단가_만원/㎡ │         읍면동_앞3단어         │ 시군구코드 │ 법정동코드short │      시도      │      시군구       │ 행정구역분류 │
│     varchar     │               varchar               │     varchar     │     varchar     │   varchar   │ varchar  │ varchar │     varchar     │    varchar     │ varchar  │ varchar │ varchar  │ varchar  │    double    │            varchar             │  varchar   │     varchar     │    varchar     │      varchar      │   varchar    │
├─────────────────┼─────────────────────────────────────┼─────────────────┼─────────────────┼─────────────┼──────────┼─────────┼─────────────────┼────────────────┼──────────┼─────────┼──────────┼──────────┼──────────────┼────────────────────────────────┼────────────┼─────────────────┼────────────────┼───────────────────┼──────────────┤
│ 공장/창고 등1   │ 서울특별시 금천구 가산동            │ 공장            │ 공장            │ NULL        │ 202001   │ 31      │ 287.90          │ 88,158         │ -        │ 9       │ NULL     │ NULL     │     306.2105 │ 서울특별시 금천구 가산동       │ 11545      │ 10100           │ 서울특별시     │ 금천구            │ 11180        │
│ 공장/창고 등10  │ 경기도 화성시 양감면 사창리         │ 공장            │ 공장            │ NULL        │ 202205   │ 31      │ 1770.00         │ 432,000        │ -        │ NULL    │ NULL     │ 중개거래 │     244.0678 │ 경기도 화성시 양감면           │ 41590      │ 40000           │ 경기도         │ 화성시            │ 31240        │
│ 공장/창고 등10  │ 제주특별자치도 서귀포시 하효동      │ 창고시설        │ 창고시설        │ NULL        │ 202412   │ 31      │ 38.88           │ 13,200         │ -        │ NULL    │ 1996     │ 중개거래 │     339.5062 │ 제주특별자치도 서귀포시 하효동 │ 50130      │ 10800           │ 제주특별자치도 │ 서귀포시          │ 39020        │
│ 공장/창고 등10  │ 경기도 부천시 원미구 상동           │ 운수시설        │ 운수시설        │ NULL        │ 202301   │ 31      │ 29.76           │ 29,810         │ -        │ NULL    │ 2007     │ 직거래   │    1001.6801 │ 경기도 부천시 원미구           │ 41192      │ 00000           │ 경기도         │ 부천시 원미구     │ 31051        │
│ 공장/창고 등10  │ 경기도 화성시 영천동                │ 공장            │ 공장            │ NULL        │ 202305   │ 31      │ 64.93           │ 27,817         │ -        │ NULL    │ NULL     │ 중개거래 │     428.4152 │ 경기도 화성시 영천동           │ 41590      │ 13100           │ 경기도         │ 화성시            │ 31240        │
│ 공장/창고 등10  │ 경상남도 남해군 고현면 대곡리       │ 창고시설        │ 창고시설        │ NULL        │ 202006   │ 30      │ 296.40          │ 17,000         │ -        │ NULL    │ 1993     │ NULL     │      57.3549 │ 경상남도 남해군 고현면         │ 48840      │ 37000           │ 경상남도       │ 남해군            │ 38550        │
│ 공장/창고 등10  │ 경상남도 창원시 마산회원구 회원동   │ 공장            │ 공장            │ NULL        │ 202005   │ 30      │ 90.44           │ 12,000         │ -        │ 2       │ NULL     │ NULL     │     132.6847 │ 경상남도 창원시 마산회원구     │ 48127      │ 00000           │ 경상남도       │ 창원시 마산회원구 │ 38114        │
│ 공장/창고 등10  │ 경기도 안양시 동안구 관양동         │ 공장            │ 공장            │ NULL        │ 202405   │ 31      │ 120.85          │ 90,000         │ -        │ NULL    │ 2014     │ 중개거래 │     744.7249 │ 경기도 안양시 동안구           │ 41173      │ 00000           │ 경기도         │ 안양시 동안구     │ 31042        │
│ 공장/창고 등10  │ 전북특별자치도 김제시 용지면 효정리 │ 공장            │ 공장            │ NULL        │ 202110   │ 31      │ 13024.23        │ 464,719        │ -        │ NULL    │ 1991     │ NULL     │      35.6811 │ 전북특별자치도 김제시 용지면   │ 52210      │ 34000           │ 전북특별자치도 │ 김제시            │ 35060        │
│ 공장/창고 등10  │ 서울특별시 성동구 성수동2가         │ 공장            │ 공장            │ NULL        │ 202401   │ 31      │ 70.36           │ 70,890         │ -        │ 8       │ 2019     │ 직거래   │    1007.5327 │ 서울특별시 성동구 성수동2가    │ 11200      │ 11500           │ 서울특별시     │ 성동구            │ 11040        │
│       ·         │              ·                      │  ·              │  ·              │  ·          │   ·      │ ·       │   ·             │   ·            │ ·        │ ·       │  ·       │  ·       │         ·    │          ·                     │   ·        │   ·             │   ·            │   ·               │   ·          │
│       ·         │              ·                      │  ·              │  ·              │  ·          │   ·      │ ·       │   ·             │   ·            │ ·        │ ·       │  ·       │  ·       │         ·    │          ·                     │   ·        │   ·             │   ·            │   ·               │   ·          │
│       ·         │              ·                      │  ·              │  ·              │  ·          │   ·      │ ·       │   ·             │   ·            │ ·        │ ·       │  ·       │  ·       │         ·    │          ·                     │   ·        │   ·             │   ·            │   ·               │   ·          │
│ 공장/창고 등124 │ 경기도 성남시 분당구 야탑동         │ 창고시설        │ 창고시설        │ NULL        │ 202101   │ 29      │ 79.00           │ 14,000         │ -        │ NULL    │ NULL     │ NULL     │     177.2152 │ 경기도 성남시 분당구           │ 41135      │ 00000           │ 경기도         │ 성남시 분당구     │ 31023        │
│ 공장/창고 등124 │ 서울특별시 금천구 가산동            │ 공장            │ 공장            │ NULL        │ 202312   │ 27      │ 149.34          │ 46,880         │ -        │ 6       │ NULL     │ 중개거래 │     313.9146 │ 서울특별시 금천구 가산동       │ 11545      │ 10100           │ 서울특별시     │ 금천구            │ 11180        │
│ 공장/창고 등124 │ 경기도 화성시 영천동                │ 공장            │ 공장            │ NULL        │ 202302   │ 25      │ 37.80           │ 15,240         │ -        │ NULL    │ 0000     │ 중개거래 │     403.1746 │ 경기도 화성시 영천동           │ 41590      │ 13100           │ 경기도         │ 화성시            │ 31240        │
│ 공장/창고 등124 │ 경상남도 진주시 지수면 압사리       │ 공장            │ 공장            │ NULL        │ 202401   │ 30      │ 627.17          │ 51,920         │ -        │ NULL    │ 2000     │ 직거래   │      82.7846 │ 경상남도 진주시 지수면         │ 48170      │ 39000           │ 경상남도       │ 진주시            │ 38030        │
│ 공장/창고 등124 │ 경상남도 거창군 남상면 춘전리       │ 창고시설        │ 창고시설        │ NULL        │ 202303   │ 29      │ 35.00           │ 695            │ -        │ NULL    │ 2010     │ 직거래   │      19.8571 │ 경상남도 거창군 남상면         │ 48880      │ 37000           │ 경상남도       │ 거창군            │ 38590        │
│ 공장/창고 등124 │ 경기도 양주시 옥정동                │ 공장            │ 공장            │ NULL        │ 202410   │ 29      │ 76.95           │ 28,838         │ -        │ 4       │ 2022     │ 중개거래 │     374.7628 │ 경기도 양주시 옥정동           │ 41630      │ 11400           │ 경기도         │ 양주시            │ 31260        │
│ 공장/창고 등124 │ 경기도 용인시 기흥구 상하동         │ 공장            │ 공장            │ NULL        │ 202104   │ 29      │ 2136.53         │ 678,348        │ -        │ NULL    │ 2015     │ NULL     │     317.4999 │ 경기도 용인시 기흥구           │ 41463      │ 00000           │ 경기도         │ 용인시 기흥구     │ 31192        │
│ 공장/창고 등124 │ 부산광역시 부산진구 부전동          │ 자동차 관련시설 │ 자동차 관련시설 │ NULL        │ 202402   │ 28      │ 46.80           │ 150,000        │ -        │ NULL    │ 1998     │ 직거래   │    3205.1282 │ 부산광역시 부산진구 부전동     │ 26230      │ 10300           │ 부산광역시     │ 부산진구          │ 21050        │
│ 공장/창고 등124 │ 경기도 남양주시 별내동              │ 공장            │ 공장            │ NULL        │ 202202   │ 26      │ 71.82           │ 34,000         │ -        │ NULL    │ NULL     │ 중개거래 │     473.4057 │ 경기도 남양주시 별내동         │ 41360      │ 11100           │ 경기도         │ 남양주시          │ 31130        │
│ 공장/창고 등124 │ 경기도 안양시 동안구 호계동         │ 공장            │ 공장            │ NULL        │ 202010   │ 29      │ 36.12           │ 16,000         │ -        │ 10      │ 2018     │ NULL     │     442.9679 │ 경기도 안양시 동안구           │ 41173      │ 00000           │ 경기도         │ 안양시 동안구     │ 31042        │
├─────────────────┴─────────────────────────────────────┴─────────────────┴─────────────────┴─────────────┴──────────┴─────────┴─────────────────┴────────────────┴──────────┴─────────┴──────────┴──────────┴──────────────┴────────────────────────────────┴────────────┴─────────────────┴────────────────┴───────────────────┴──────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                                                                                                                      20 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [237]:
con.sql("""
        SELECT *
        FROM realtx_master
        WHERE 행정구역분류 IS NULL
""")

┌─────────┬─────────┬─────────┬──────────────┬─────────────┬──────────┬─────────┬─────────────────┬────────────────┬──────────┬─────────┬──────────┬──────────┬──────────────┬────────────────┬────────────┬─────────────────┬─────────┬─────────┬──────────────┐
│   NO    │ 읍면동  │  type   │ 건축물주용도 │ 단지/건물명 │ 계약년월 │ 계약일  │ 전용/연면적(㎡) │ 거래금액(만원) │ 지분구분 │   층    │ 건축년도 │ 거래유형 │ 단가_만원/㎡ │ 읍면동_앞3단어 │ 시군구코드 │ 법정동코드short │  시도   │ 시군구  │ 행정구역분류 │
│ varchar │ varchar │ varchar │   varchar    │   varchar   │ varchar  │ varchar │     varchar     │    varchar     │ varchar  │ varchar │ varchar  │ varchar  │    double    │    varchar     │  varchar   │     varchar     │ varchar │ varchar │   varchar    │
├─────────┴─────────┴─────────┴──────────────┴─────────────┴──────────┴─────────┴─────────────────┴────────────────┴──────────┴─────────┴──────────┴──────────┴──────────────┴────────────────┴────────────┴─────────────────┴─────────┴─────────┴──────────────┤
│                                                                                                                            0 rows                                                                                                                             │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

전수 연계 되었음.

오류 유형 정리:

- 실거래가 시군구(읍면동) `세종특별자치시  종촌동` 세종시는 시도이면서 하위 시군구가 없는데, 시도명과 읍면동명 사이 빈칸 2개 있어 연계 오류: CASE WHEN 필요
- 법정동코드 `4119600000,경기도 부천시 오정구 ,존재` 시군구명 뒤 빈칸 존재(다른 구는 안 그럼): TRIM 필요
- 법정동코드 `4729025331,경상북도 경산시 진량읍 평사리(坪沙),존재`, `4729025332,경상북도 경산시 진량읍 평사리(平沙),존재` 평사리가 2개 있고 둘다 현존함. 한자만 다름...
  - https://devtalk.kakao.com/t/topic/85505

In [238]:
con.sql("""
        SELECT *
        FROM unioned
        WHERE 읍면동 LIKE '세종%'
""").limit(5)

┌───────────┬────────────────────────┬─────────┬──────────────┬───────────────────────┬──────────┬─────────┬─────────────────┬────────────────┬──────────┬─────────┬──────────┬──────────┐
│    NO     │         읍면동         │  type   │ 건축물주용도 │      단지/건물명      │ 계약년월 │ 계약일  │ 전용/연면적(㎡) │ 거래금액(만원) │ 지분구분 │   층    │ 건축년도 │ 거래유형 │
│  varchar  │        varchar         │ varchar │   varchar    │        varchar        │ varchar  │ varchar │     varchar     │    varchar     │ varchar  │ varchar │ varchar  │ varchar  │
├───────────┼────────────────────────┼─────────┼──────────────┼───────────────────────┼──────────┼─────────┼─────────────────┼────────────────┼──────────┼─────────┼──────────┼──────────┤
│ 아파트728 │ 세종특별자치시  종촌동 │ 아파트  │ 공동주택     │ 가재마을12단지        │ 202001   │ 31      │ 84.9941         │ 51,500         │ NULL     │ 28      │ 2015     │ NULL     │
│ 아파트729 │ 세종특별자치시  종촌동 │ 아파트  │ 공동주택     │ 가재마을5단지         │ 202001   │ 31      │ 59.9383         │ 32,000         │ NULL     │ 4       │ 2014     │ NULL     │
│ 아파트742 │ 세종특별자치시  한솔동 │ 아파트  │ 공동주택     │ 첫마을5단지(푸르지오) │ 202001   │ 31      │ 84.6200         │ 32,900         │ NULL     │ 1       │ 2012     │ NULL     │
│ 아파트745 │ 세종특별자치시  한솔동 │ 아파트  │ 공동주택     │ 첫마을5단지(푸르지오) │ 202001   │ 31      │ 84.6200         │ 37,500         │ NULL     │ 7       │ 2012     │ NULL     │
│ 아파트882 │ 세종특별자치시  다정동 │ 아파트  │ 공동주택     │ 가온마을3단지         │ 202001   │ 31      │ 84.9020         │ 52,900         │ NULL     │ 23      │ 2018     │ NULL     │
└───────────┴────────────────────────┴─────────┴──────────────┴───────────────────────┴──────────┴─────────┴─────────────────┴────────────────┴──────────┴─────────┴──────────┴──────────┘

In [239]:
con.sql("""
        SELECT *
        FROM bjdong_kcad
        WHERE 법정동명 == '경기도 부천시 원미구 중동'
""")

┌────────────┬───────────────────────────┬──────────┬────────────┬─────────────────┬─────────┬───────────────┬──────────────┐
│ 법정동코드 │         법정동명          │ 폐지여부 │ 시군구코드 │ 법정동코드short │  시도   │    시군구     │ 행정구역분류 │
│  varchar   │          varchar          │ varchar  │  varchar   │     varchar     │ varchar │    varchar    │   varchar    │
├────────────┼───────────────────────────┼──────────┼────────────┼─────────────────┼─────────┼───────────────┼──────────────┤
│ 4119210800 │ 경기도 부천시 원미구 중동 │ 존재     │ 41192      │ 10800           │ 경기도  │ 부천시 원미구 │ 31051        │
└────────────┴───────────────────────────┴──────────┴────────────┴─────────────────┴─────────┴───────────────┴──────────────┘

In [240]:
con.sql("""
        SELECT *
        FROM bjdong_kcad
        WHERE 법정동명 LIKE '경상북도 경산시 진량읍 평사리%'
""")

┌────────────┬─────────────────────────────────────┬──────────┬────────────┬─────────────────┬──────────┬─────────┬──────────────┐
│ 법정동코드 │              법정동명               │ 폐지여부 │ 시군구코드 │ 법정동코드short │   시도   │ 시군구  │ 행정구역분류 │
│  varchar   │               varchar               │ varchar  │  varchar   │     varchar     │ varchar  │ varchar │   varchar    │
├────────────┼─────────────────────────────────────┼──────────┼────────────┼─────────────────┼──────────┼─────────┼──────────────┤
│ 4729025331 │ 경상북도 경산시 진량읍 평사리(坪沙) │ 존재     │ 47290      │ 25331           │ 경상북도 │ 경산시  │ 37100        │
│ 4729025332 │ 경상북도 경산시 진량읍 평사리(平沙) │ 존재     │ 47290      │ 25332           │ 경상북도 │ 경산시  │ 37100        │
└────────────┴─────────────────────────────────────┴──────────┴────────────┴─────────────────┴──────────┴─────────┴──────────────┘

### 엑셀에 저장

xlsx 파일은 1백만행 제한이 있음. 여러 파일로 나누어 저장

In [241]:
output_to = Path().resolve().parent / "data/실거래가/processed"
output_to.mkdir(parents=True, exist_ok=True)

MAX_ROWS = 1_048_576 - 1  # considering header
table_name = "realtx_master"
output_prefix = "realtx_part"

# 전체 row 수 확인, 파일 수 도출
total_rows = con.sql(f"SELECT COUNT(*) FROM {table_name}").fetchone()[0]  # type: ignore
num_parts = (total_rows + MAX_ROWS - 1) // MAX_ROWS

for i in range(num_parts):
    offset = i * MAX_ROWS  # starts with 0
    output_file = output_to / f"{output_prefix}_{i + 1}.xlsx"  # starts with 1

    con.sql(f"""
        COPY (
            SELECT * FROM {table_name}
            LIMIT {MAX_ROWS} OFFSET {offset}
        ) TO '{output_file}'
        WITH (
            FORMAT xlsx,
            HEADER true,
            SHEET 'data'
        )
    """)
    print(f"Saved {output_file}")

Saved C:\Users\USER\Documents\quacklytics\data\실거래가\processed\realtx_part_1.xlsx
Saved C:\Users\USER\Documents\quacklytics\data\실거래가\processed\realtx_part_2.xlsx
Saved C:\Users\USER\Documents\quacklytics\data\실거래가\processed\realtx_part_3.xlsx
Saved C:\Users\USER\Documents\quacklytics\data\실거래가\processed\realtx_part_4.xlsx
Saved C:\Users\USER\Documents\quacklytics\data\실거래가\processed\realtx_part_5.xlsx

### parquet 파일 저장

In [242]:
output_file = output_to / "realtx.parquet"
con.sql(f"""
    COPY (
        SELECT * FROM {table_name}
    )
    TO '{output_file}'
    WITH (FORMAT PARQUET);
""")
print(f"Saved {output_file}")

Saved C:\Users\USER\Documents\quacklytics\data\실거래가\processed\realtx.parquet